[2020-10-21 22:21] Zrrrpy opened #1153 "judge_names only display on case details if admin has added judge_names to casa_org"
part of epic #880 // relates to #927 and #929

AS a supervisor or volunteer,
IF an admin has not added `judge_names` to our unique `casa_org` instance,
THEN I should not see `judge_name` in my case details.

### Acceptance Criteria
IF there are no `judge_names` available within a `casa_org` instance,
THEN `judge_name` does not display as an available option to add to next `court_date` under case d

[2020-10-22 01:22] duaimei commented on #1095
This issue has been resolved

[2020-10-22 01:22] #1095 closed

[2020-10-22 01:27] compwron opened #1154 "Volunteer name should be link on admin/supervisor"
![Screen Shot 2020-10-21 at 6 24 04 PM](https://user-images.githubusercontent.com/578159/96807322-1a920c80-13cb-11eb-96a5-4e3236475c79.png)

[2020-10-22 01:47] compwron opened #1155 "Supervisor would like to be able to see all case contact notes at once for a case"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor

**Description**
Supervisor would like to be able to see all case contact notes at once for a case - not currently possible
This is on the mockups- a kind of expanding section for each case contact
Requested by Sarah (stakeholder) 21 Oct

**Screenshots of current behavior, if any**

[2020-10-22 02:18] compwron opened #1156 "☂️ Arbitrary Azure Uploads"
Casa Orgs would like to be able to upload documents associated with cases. Optima has imposed file size limits because of so many uploads because of COVID-19. This is very inconvenient for PG CASA.

- [x] #5750
- [ ] write issues for users to view, create, update, and delete files (where on the UI should it be? who should be allowed to edit which files?)

[2020-10-22 02:44] compwron commented on #1093
Done

[2020-10-22 02:44] #1093 closed

[2020-10-22 02:51] Zrrrpy opened #1158 "supervisors and admins can click on volunteer names"
AS a **supervisor** or **admin**,
I WANT to be able to click on a volunteer's name,
SO THAT I can view or edit their profile details.

### How it's working now
Volunteers' names are not clickable in the volunteer view.

### How it should work instead
Volunteers' names should be clickable in the volunteer view, and direct to a volunteer's profile where their details can be viewed or edited.

[2020-10-22 03:01] #1079 closed

[2020-10-22 03:03] #1151 closed

[2020-10-22 03:04] #1158 closed

[2020-10-22 03:05] compwron commented on #805
@matisnape how is it going? :)

[2020-10-22 03:12] compwron commented on #649
Is this done?

[2020-10-22 03:14] #1083 closed

[2020-10-22 03:20] compwron opened #1159 "Share a CASA 1pass vault with CASA maintainers"
Share a CASA 1pass vault with CASA maintainers

Maintainers:
@compwron
@Zrrrpy
@littleforest
@jmkoni

Vault contents:
- casa@rubygorgood.org password (used for outgoing emails account access)
- bugsnag account password ?
- heroku password

Later we will add CodeClimatecreds and other developer resources as needed

[2020-10-22 03:32] compwron opened #1161 "improve upload logo css (as admin)"
it looks odd, yes?
![Screen Shot 2020-10-21 at 8 31 52 PM](https://user-images.githubusercontent.com/578159/96821354-8af55980-13dc-11eb-950e-2317e498e252.png)

[2020-10-22 03:39] compwron opened #1162 "Should be able to mark hearing type as inactive"
Should be able to mark hearing type as inactive

![Screen Shot 2020-10-21 at 8 33 06 PM](https://user-images.githubusercontent.com/578159/96821827-92693280-13dd-11eb-94a8-4b00be015a7a.png)

[2020-10-22 03:53] compwron opened #1163 "Event in production from casa in users/sessions#create"
This may not actually be prod? Is bugsnag showing wrong env?

BugsnagAPP  8:32 PM
Event in production from casa in users/sessions#create (details)
Unhandled error
ActiveModel::UnknownAttributeError: unknown attribute 'remember_me' for User.
Location
vendor/bundle/ruby/2.7.0/gems/activemodel-6.0.3.4/lib/active_model/attribute_assignment.rb:52 - _assign_attribute

https://rubyforgood.slack.com/archi

[2020-10-22 03:54] keithrbennett opened #1164 "Revisiting Standardrb Rules"
I just ran standardrb --fix on master and viewed the differences. I believe that some of the rules it enforces are examples of poorer, not better code. I'd like to see if we can get consensus on any of this, and if so, I volunteer to implement the changes. Here are the issues I found:

### Horizontal Alignment of Values and Blocks

![image](https://user-images.githubusercontent.com/28410/96820695-

[2020-10-22 03:59] compwron opened #1165 "change "master" branch to "main""
change "master" branch to "main"

@seanmarcia says its easy now that heroku supports it, so let's do it! :)

(also, post in slack to let ppl know)

[2020-10-22 04:01] compwron opened #1166 "make factory not recurse"
see https://github.com/rubyforgood/casa/pull/1157/files#r509862385

[2020-10-22 04:29] littleforest commented on #1164
Here are my two cents:

Re **Horizontal Alignment of Values and Blocks** - I rarely encounter Ruby code that horizontally aligns the values. I came to Ruby from Perl, and in Perl we always horizontally aligned, but I found that as I worked with other Ruby developers that they rarely horizontally aligned. I prefer to not horizontally align the values as I feel like most Ruby developers do not.

Re

[2020-10-22 07:45] matisnape commented on #805
@compwron sorry, I missed your previous comment! I will work on this during the weekend :) I'm Ruby for Good's Slack, so in case I have additional questions, I will post there :)

[2020-10-22 11:18] tiff-o commented on #1162
I'm working on this! :)

[2020-10-22 14:24] #1142 closed

[2020-10-22 16:00] keithrbennett commented on #649
Sorry, it is not in progress, I have not started it yet.

I'm not assigned to it yet, which is good, because that leaves it open for
someone else to do if they want.

On Wed, Oct 21, 2020 at 11:13 PM naufragio de guardia de producción
metafísica con linda desastre <notifications@github.com> wrote:

[2020-10-22 16:46] jmkoni commented on #1164
The point of using standard (which we do) is so that we do not spend time on these discussions. I do not think we should change any of these because almost all of these are preferences. Individuals will all have different preferences and we use standard so we can avoid this type of conflict.

[2020-10-22 18:04] littleforest commented on #1164
Thanks @jmkoni ! Sorry, I wasn't familiar enough with the standardrb gem to understand that it discouraged overrides. I think we can just close this then for now.

[2020-10-22 18:59] keithrbennett commented on #1164
@jmkoni Although there is a component of personal preference, there is also a component of objective merits. The concerns I raised are not equal in importance, but the way I see it, to dismiss _all_ these concerns is to knowingly condemn the code base to reduced clarity for the lifetime of the project.  As examples:

* the prohibition on horizontal alignment violates user interface design rules, m

[2020-10-22 19:09] jmkoni commented on #1164
Again, those are still your opinions... these rules have been decided on by others (not me) so that your average ruby code base does not have to think about these. You can look up these rules in rubocop for the original reason behind them and often, if there is not consensus, there will be an open issue with a debate on why that rule was chose. I am closing this, again, because this is the entire

[2020-10-22 19:09] #1164 closed

[2020-10-22 21:12] cassianoblonski commented on #1138
@erik-trantt if Youth and Supervisor are selected to filter the response, it needs to bring CaseContact that has both options or at least one?

example
`CaseContact Number 1` has: Youth and Supervisor
`CaseContact Number 2` has: Youth
`CaseContact Number 3` has: Parent

solution 1: if you select both options(Youth, Supervisor) on the filter it will return only `CaseContact Number 1` because the co

[2020-10-22 22:11] haydenrou commented on #927
Waiting for #929 before submitting a PR for the second half of this.

[2020-10-23 03:22] compwron commented on #1117
this issue is completed but didn't auto-close, so I will close it :)

[2020-10-23 03:22] #1117 closed

[2020-10-23 04:17] big-meel commented on #1141
Hey @compwron may I work on this?

[2020-10-23 04:28] erik-trantt commented on #1138
I'm not totally familiar with the original scope of this report. But looking at the current implementation, I think solution 2 would be more close to my understanding of how the report works.

Maybe we should get some words of wisdom from @Zrrrpy @compwron 🤓

[2020-10-23 13:08] cassianoblonski commented on #1138
Okay, that's the solution that I worked on, opening the PR so your guys can see and review

[2020-10-23 14:02] steph-hickman9 commented on #1086
I can work on this!

[2020-10-23 14:12] littleforest commented on #1086
@steph-hickman9 this is marked as not ready to build, so please look for another ticket in the To Do column of the project.

[2020-10-23 14:12] #1166 closed

[2020-10-23 14:59] steph-hickman9 commented on #1086
Sorry didn't see the label!

[2020-10-23 15:09] jmkoni commented on #1086
@steph-hickman9 check out the issues here https://github.com/rubyforgood/casa/projects/1#column-8461147

[2020-10-23 16:35] cassianoblonski commented on #1161
got this

[2020-10-23 16:35] cassianoblonski commented on #1154
can I do this?

[2020-10-23 16:42] jmkoni commented on #1154
@cassianoblonski sure! but i noticed that you also asked about another ticket. do you mind picking a single ticket at a time? Do you want this one or the other one?

[2020-10-23 16:51] cassianoblonski commented on #1154
@jmkoni I'm already finishing the other one ( #1137 )

[2020-10-23 16:57] jmkoni commented on #1154
I'm talking about #1161

[2020-10-23 18:01] compwron commented on #1154
@cassianoblonski @jmkoni this issue is already claimed by @NickSchimek (you can see in the "Assigned" section) please do not work on this issue. :)
Happy to have you work on another issue though! As @jmkoni says, please do one at a time. :)

[2020-10-23 20:00] steph-hickman9 commented on #1119
I got this!

[2020-10-23 21:07] seanmarcia commented on #1165
This is done.

[2020-10-23 22:23] compwron commented on #1165
yay!!

[2020-10-23 22:24] #1165 closed

[2020-10-23 22:24] #1119 closed

[2020-10-24 11:44] pedrosmmoreira commented on #1153
Hello 👋 Happy to take this one on!

[2020-10-24 14:04] pedrosmmoreira commented on #1153
It seems like this is dependent on at least https://github.com/rubyforgood/casa/issues/929 being ready. I'll keep an eye out for that going in, then circle back to this!

[2020-10-24 14:05] pedrosmmoreira commented on #1136
Happy to work on this, if that is ok?

[2020-10-24 15:07] Archish27 commented on #1071
@Zrrrpy I would like to work on this :)

[2020-10-24 15:48] Archish27 commented on #1071
Do we want a filter in this page?
![Uploading image.png…]()

[2020-10-24 15:49] matisnape commented on #805
@compwron business question: how should the court date CRUD be implemented?

This is how I see it:
1) Create court date instance when new casa case is created - court date form is included in new casa case view
2) After CC is created, new court dates can be added separately only - so with separate forms just for court dates
3) I would display the court dates as a separate table where dates can be

[2020-10-24 21:08] Zrrrpy commented on #805
Hey @matisnape!

Thank you so much for all your work on this 👏

Only one "next court date" will ever exist at once, so admins/supervisors will not need the ability to add a new court date until _after_ the next court date has passed (#881 provides more context on this). Once it has passed, that date should appear in a new section labeled "Past Court Dates" – this is the piece this issue seeks to a

[2020-10-24 21:31] Zrrrpy commented on #806
Hey @jtnegrotto, I'm going to un-assign this for now so it can keep moving forward, but please feel free to reassign to yourself if you still have time and would like to pick it back up. 😃

[2020-10-24 21:33] Zrrrpy commented on #1064
Hey @coldiron, thanks for picking this up! How's it goin?

[2020-10-24 21:38] #529 closed

[2020-10-24 21:38] #528 closed

[2020-10-24 21:50] Zrrrpy opened #1180 "All CASA Admin can edit/deactivate/reactivate CASA admins"
AS an All CASA Admin,
I WANT the ability to edit/deactivate/reactivate admins belonging to a `casa_org`,
SO THAT I can maintain control over access to any `casa_org` account.

### How it works now
All CASA Admin can add a new admin to a `casa_org` instance.
<img width="1319" alt="Screen Shot 2020-10-24 at 2 50 45 PM" src="https://user-images.githubusercontent.com/62810851/97094272-5f56b700-1608-11

[2020-10-24 21:53] #864 closed

[2020-10-24 22:29] Zrrrpy opened #1181 "remove route to Case Contacts from admin and supervisor sidebar menu"
relates to #1118

AS an **admin** or **supervisor**,
I no longer need access to the "Case Contacts" view,
because I can already view these details by clicking on a `casa_case`.

**Screenshots of current behavior**
This is what the sidebar looks like now:
<img width="311" alt="Screen Shot 2020-10-24 at 3 23 33 PM" src="https://user-images.githubusercontent.com/62810851/97094862-df335000-160d-11eb-8

[2020-10-24 23:55] Zrrrpy commented on #1134
no longer needed – see #1118

[2020-10-24 23:55] #1134 closed

[2020-10-24 23:58] Zrrrpy commented on #1161
all yours @cassianoblonski!

[2020-10-25 00:00] Zrrrpy commented on #1156
moving this to "not ready to build" until we have aws or azure credits figured out

[2020-10-25 00:04] Zrrrpy commented on #1155
covered by #1133

[2020-10-25 00:04] #1155 closed

[2020-10-25 00:23] Zrrrpy opened #1182 "casa_case can be deactivated"
AS an **admin**,
I WANT to be able to deactivate a `casa_case`,
SO THAT `casa_cases` which are no longer active don't congest my view of active `casa_cases`, and so that I can easily identify which `casa_cases` my `casa_org` is no longer serving.

### How it works now
`casa_cases` can only be created or edited, they can not be deactivated.
<img width="1440" alt="Screen Shot 2020-10-24 at 5 13 03 P

[2020-10-25 00:40] Zrrrpy opened #1183 "deactivated casa_case can be reactivated"
dependent on #1182

AS an **admin**,
I WANT to be able to reactivate a deactivated `casa_case`,
SO THAT `casa_case` details can easily be restored if a `casa_case` reenters the system and requires services from my `casa_org` again.

### How it works now
Currently, `casa_cases` can only be created or edited. After #1182 is complete, `casa_cases` will also be able to be deactivated by an admin.

###

[2020-10-25 00:47] Zrrrpy opened #1184 "deactivated casa_cases should not be available to assign to volunteers"
dependent on #1182

AS a **supervisor** or **admin**,
I WANT TO _only_ see active `casa_cases` available to assign to volunteers,
SO THAT I do not accidentally assign a volunteer to an inactive `casa_case`.

### How it works now
Currently, all `casa_cases` display as available to assign to volunteers in the dropdown menu under "Assign a New Case" on the Editing Volunteer Page (see screenshot below

[2020-10-25 00:54] luisgregson commented on #1115
I am working on this issue

[2020-10-25 00:57] Zrrrpy commented on #1115
Thanks @luisgregson! Just assigned to you. 😃

[2020-10-25 01:25] Zrrrpy opened #1185 "add filter to Cases view"
AS a **supervisor** or **admin**,
I WANT TO filter `casa_cases` by a select criteria,
SO THAT I can easily view `casa_cases` that meet that criteria.

### How it works now
`casa_cases` display in numerical order, and are only sortable by ascending and descending order within each column.

### How it should work
`casa_cases` should be filterable by the following:
- active / inactive (see #1182)
- a

[2020-10-25 02:36] steph-hickman9 commented on #1181
I got this!

[2020-10-25 05:25] steph-hickman9 opened #1187 "Logging out should redirect to correct log in"
**What is the problem, and what should happen instead?**
When logged in as an all_casa_admin, the logout button directs you to login page for other user types.

This is confusing if you try to login again, because you have to redirect manually to the all_casa_admins/sign_in page.

**Screenshots of current behavior, if any**

[2020-10-25 07:51] luisgregson commented on #1115
@Zrrrpy thanks! I'm struggling to log into slack via the link in the issue description. I think i need a rubyforgood.com account? Do i need to register somewhere or is it possible for you to post the slack discussion in this issue? thanks

[2020-10-25 10:01] tiff-o commented on #1180
On it :)

[2020-10-25 11:09] matisnape commented on #805
@Zrrrpy Why the past court dates should appear on Edit casa case, and not on Show?

[2020-10-25 11:37] sarslanoglu commented on #1182
@Zrrrpy I can work on this one!

[2020-10-25 12:38] ChaelCodes commented on #806
I'd like to work on this issue!

[2020-10-25 13:53] ChaelCodes commented on #806
Hey, the linked issue adds court report submission as a boolean named `court_report_submitted` instead of an enum that could support statuses. The field is available to volunteers, admins, and supervisors. I'm not sure if the intent of this issue is to restrict access, convert the field type, or something else?

![image](https://user-images.githubusercontent.com/8124558/97109100-b069b800-16a7-11eb

[2020-10-25 14:57] RachelWyatt commented on #1182
@Zrrrpy @sarslanoglu is this a duplicate of #1132 ?

[2020-10-25 14:58] RachelWyatt commented on #1183
@Zrrrpy is this a duplicate of #1132? I've got the deactivation and reactivation in progress.

[2020-10-25 15:02] #929 closed

[2020-10-25 15:02] #1162 closed

[2020-10-25 15:54] ChaelCodes commented on #620
I'm not claiming this issue, but I have some questions about the mailer:
1. How do you want to schedule this? Rake task, Redis/Sidekiq/DelayedJob, or ActiveJob?
2. Should the mailer link to the Generate Court Reports page?

[2020-10-25 16:26] ChaelCodes commented on #1008
I deactivated admin2 in the Rails console and I'm seeing this error message when trying to log in:
![image](https://user-images.githubusercontent.com/8124558/97112908-5aa00a80-16bd-11eb-99ba-faa718d74dca.png)

[2020-10-25 16:36] Zrrrpy commented on #620
1. @compwron, @littleforest or @jmkoni may have thoughts on this!
2. It would be great to include a link to the Generate Court Reports page, if possible! (It did not exist at the time this ticket was opened.) However, I'd consider this a "nice to have", so if it's a big lift it's okay to forgo. I'd like to hear @compwron's thoughts on this re: security and how we should handle directing the volunt

[2020-10-25 16:39] jmkoni commented on #620
@ChaelCodes  we use heroku scheduler, so if you create a rake task, we can schedule it every day 🙂

[2020-10-25 16:53] littleforest commented on #806
@ChaelCodes thanks for picking this up! Can you please make the following changes:

To the `casa_cases` table:
- [ ] Add a datetime field called `court_report_submitted_at`.
- [ ] Add an integer field called `court_report_status` that will be an enum.
- [ ] Create an [After Party](https://github.com/theSteveMitchell/after_party) task that marks the `court_report_submitted_at` with the current time

[2020-10-25 17:07] Zrrrpy commented on #805
hey @matisnape – thanks so much for all your work on this!! So exciting to see a PR up. 👏 You can expect it to be reviewed by a Lead Dev in the next day or so.

Past court dates certainly can display on the "Show" CASA Case page instead of on the "Edit" CASA Case page, as long as it is done in a way that does not overwhelm the page viewer, especially with all their `case_contacts` displaying on th

[2020-10-25 18:50] Zrrrpy opened #1190 "error when admin attempts to import inactive casa_case"
dependent on #1182

AS an **admin**,
WHEN I attempt to import an inactive `casa_case`,
I _do not_ want the `casa_case` to be re-imported,
_instead_, I WANT to receive an informative error message,
SO THAT I understand why the inactive `casa_case` was not imported.

### How it works now
`casa_cases` currently only have one state, which is active, but #1182 is changing that – soon, `casa_cases` will

[2020-10-25 19:32] khiga8 commented on #1133
Hello! I'd like to take this issue :-)

[2020-10-26 00:45] #1154 closed

[2020-10-26 00:47] #1181 closed

[2020-10-26 00:48] #1187 closed

[2020-10-26 00:49] #927 closed

[2020-10-26 00:50] compwron opened #1193 "Use pundit to deactivate a casa case"
[code]
https://github.com/rubyforgood/casa/pull/1192/files#r511674102

[2020-10-26 00:52] #1132 closed

[2020-10-26 00:52] #1182 closed

[2020-10-26 13:20] RachelWyatt opened #1197 "Friendlier warning box when Admin disables a CASA Case"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin (only admins have permission to deactivate a case)

**Description**
Right now, we're using a basic browser warning when an Admin clicks "Deactivate CASA Case". We want a prettier, more user-friendly dialogue box with customized button text.

**Acceptance Criteria**
[] Clicking on "Deactivate CASA Case" triggers a dialogue read

[2020-10-26 13:23] RachelWyatt commented on #1183
PR #1192 partially handles this by adding a "Reactivate CASA Case" Button.

However the second bullet point still needs to be addressed. Reactivated cases aren't populating in "Not Assigned" on the dropdown.

[2020-10-26 18:39] #1138 closed

[2020-10-27 10:39] luisgregson commented on #1115
@Zrrrpy I've managed to get everything running locally and i'm logged into slack but i can't recreate this issue.

I'm logged in as a volunteer, viewing the `/casa_cases` page. i don't get any errors in the console, and when i pause execution in `dashboard.js` it shows that `$.fn.dataTable` is an object, whereas the error is reporting it as undefined.

![image](https://user-images.githubuserconten

[2020-10-27 12:07] Math-O5 commented on #1197
Can  I be assigned to it? Or there's someone already work on int?

[2020-10-27 13:26] jmkoni commented on #1197
@Math-O5 no one is assigned yet, so it's all yours!

[2020-10-27 18:38] #1137 closed

[2020-10-27 18:38] #1161 closed

[2020-10-27 20:52] compwron opened #1205 "remove junk file/s"
`kick-build.txt` can go 😅

[2020-10-27 21:02] jhsu802701 opened #1206 "Excessive screen output from the test suite"
When I run the test suite, I get excessive screen output.  This makes debugging and troubleshooting FAR more difficult.

Is there any reason to print out the results of EVERY test, including those that pass?

[2020-10-27 21:18] compwron commented on #1206
It used to feel like a good idea but I agree it's been frustrating lately. The config lives in the `.rspecrc`(?) file, feel free to open a PR to change it

[2020-10-28 05:13] JoelLau commented on #1205
hi @compwron, i would like to take this up. Are there any other examples of files that need to go?

[2020-10-28 05:44] compwron commented on #1205
@JoelLau just that one that I know of :)

[2020-10-28 09:37] #1205 closed

[2020-10-28 15:29] steph-hickman9 commented on #1190
I have got this one!

[2020-10-28 15:30] Zrrrpy commented on #1190
all yours, @steph-hickman9!

[2020-10-28 18:50] cassianoblonski commented on #1118
@compwron if I'm not mistaken this is already done, right? can we close this issue or there is something to finish here?

[2020-10-28 22:49] Math-O5 opened #1215 "Add Fedora/Cent Os lib of libpgdev5, which is different from Ubuntu."
**Description**
Add Fedora/Cent Os lib of libpgdev5, which is different from Ubuntu.

**Existing file(s) needing changing**

**New file(s) needing creating**

[2020-10-29 01:44] #1180 closed

[2020-10-29 02:01] #1215 closed

[2020-10-29 02:22] #805 closed

[2020-10-29 02:29] AngeVeza opened #1219 "Unassign Volunteer Button falling off screen on Edit Casa_case page"
As an admin/supervisor,
when I resize my screen smaller,
I want the unassign volunteer button to stay on the page,
so that I can click on it.

How it's working now,
the unassign volunteer button is falling off the page,
when the screen is made smaller.

Screen shot of current behaviour:
<img width="464" alt="Casaedit" src="https://user-images.githubusercontent.com/73323436/97519046-28610800-195e-1

[2020-10-29 06:43] peaonunes commented on #1193
Hey, I'm happy to give a try on that. I was looking at the code and the pundit policies, and `update_case_status?` seems to suit our needs, right?
https://github.com/rubyforgood/casa/blob/d94a0e73faf3469c28a9af0c34dd9e0209d3274e/app/policies/casa_case_policy.rb#L36-L40

[2020-10-29 08:36] big-meel commented on #1141
@Zrrrpy is this still available

[2020-10-29 15:41] Zrrrpy commented on #1141
Yes it is, and it is all yours! Thanks for picking up, @big-meel 😄

[2020-10-29 22:25] joaovitoras commented on #1219
Hello, @AngeVeza can you assign this problem to me? I would like to work on it

[2020-10-29 22:27] Zrrrpy commented on #1219
all yours, @joaovitoras!

[2020-10-30 00:20] NickSchimek opened #1223 "Update button styles on login screen"
**Description**
The login button should attract the eye with a nice background color and have the forgot password button be less noticeable.

Current design:

<img width="608" alt="Screen Shot 2020-10-29 at 9 25 41 PM" src="https://user-images.githubusercontent.com/19519317/97645496-72e2a180-1a90-11eb-9c70-9c25ff1f1f74.png">

**Acceptance Criteria**

 - Swap the design on the two buttons

[2020-10-30 00:32] #1197 closed

[2020-10-30 00:39] compwron commented on #792
@FireLemons How is it going? :)

[2020-10-30 01:25] FireLemons commented on #792
@compwron Pretty good. I probably won't finish by the 31st. I have this on the front end.
![image](https://user-images.githubusercontent.com/8918762/97648406-a7b80f80-1a22-11eb-9688-8b277ee09a18.png)
I have this project to keep track https://github.com/FireLemons/casa/projects/1

[2020-10-30 01:39] #1219 closed

[2020-10-30 01:42] #1190 closed

[2020-10-30 01:53] #1081 closed

[2020-10-30 02:04] chaserx commented on #1184
@Zrrrpy Hello. 👋 I've worked on a couple of other RfG projects off and on. I was looking thru the open issues, and while this one isn't very high priority. I think I can fix it pretty quickly, easily. If that's acceptable, please assign me and I'll work on a PR for this. 😃

[2020-10-30 02:34] gVirtu commented on #1223
I'd like to help with this one if possible. :)

[2020-10-30 03:52] NickSchimek commented on #1223
I assume so. I did not know there was more than one login page. Is this the case @Zrrrpy ?

[2020-10-30 03:55] #1068 closed

[2020-10-30 07:01] compwron commented on #1184
@chaserx welcome! :)

[2020-10-30 07:03] compwron commented on #1223
@NickSchimek @gVirtu yes there are 2 login screens- 1 for regular users, 1 for AllCasaAdmin. We care the most about the one for regular users but happy to have both fixed :)

[2020-10-30 18:34] #1223 closed

[2020-10-30 20:10] littleforest commented on #1193
@peaonunes that looks correct!

[2020-10-30 20:19] littleforest commented on #1008
The current banner text is for volunteers that have been deactivated. The correct banner should have text similar to the deactivated text for admins:

[code]

Though this message should be put in the [Devise invitable locale file](https://github.com/rubyforgood/casa/blob/master/config/locales/devise_invitable.en.yml).

[2020-10-31 11:53] metamoni commented on #1185
I'll give it a shot :)

[2020-10-31 15:01] #1184 closed

[2020-11-01 01:25] compwron opened #1232 "Supervisor/Admin search cases from Cases page"
**What type of user is this for? volunteer/supervisor/admin/all**
Supervisor/Admin

**Description**
an admin or supervisor should be able to search cases by case_number from the Cases page, similar to how one can search Volunteers from the Volunteers page- see screenshots

**Screenshots of current behavior, if any**
![volunteer page](https://user-images.githubusercontent.com/578159/97793224-5f295f

[2020-11-01 02:05] big-meel commented on #1141
No problem

[2020-11-01 15:00] metamoni opened #1233 "Remove unassigned volunteers from Volunteers table and Case Detail View"
**What is the problem, and what should happen instead?**

Unassigned volunteers still appear in the Case table and Case Detail View. Only volunteers assigned to that case should show up here.

**Reproduction steps**

- While logged in as an Admin, go to Cases to view the cases table
- Click 'Edit' to open a case and assign a few volunteers to it
- On the same page, click 'Unassign Volunteer' to un

[2020-11-01 15:57] #620 closed

[2020-11-01 20:55] compwron opened #1234 "prod error"
https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1604229702129900
https://app.bugsnag.com/ruby-for-good/casa/errors/5f90f6ddf86dad00180b3d17?event_id=5f9e9a46006222299f260000&i=sk&m=oc
BugsnagAPP  3:21 AM
Event in production from casa in users/sessions#create (details)
Unhandled error
ActiveModel::UnknownAttributeError: unknown attribute 'remember_me' for User.
Location
vendor/bundle/ruby/2.7.0

[2020-11-01 21:53] isaacm commented on #1185
@Zrrrpy  For the bullet point `- assigned / not assigned to a volunteer` does this `filter by name` of the assigned volunteer? or is this simply a boolean filter `yes|no` if the case is assigned or not?

[2020-11-01 23:28] Zrrrpy commented on #1185
The latter! Should be yes/no if the case is assigned or not. Thank you for picking this up, @isaacm

[2020-11-03 03:23] #1133 closed

[2020-11-03 03:29] littleforest commented on #1141
Sorry, little fix still needed! https://github.com/rubyforgood/casa/pull/1235/files/9c0db4d77fca263d122524990f62caacbccb323e..5609cc49ff441042c6f9a39ad34e05e770e00c0a#r516410229

[2020-11-03 03:29] compwron commented on #1141
Whoops sorry about that

[2020-11-03 03:32] compwron opened #1237 "Add "after_action :verify_authorized" to force authorization everywhere"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**
Add "after_action :verify_authorized" to force authorization everywhere
This is a safety measure
https://www.rubydoc.info/github/elabs/pundit/Pundit:verify_authorized
https://github.com/varvet/pundit#ensuring-policies-and-scopes-are-used

[2020-11-03 03:33] littleforest commented on #1237
Do you mean `before_action`?

[2020-11-03 03:34] littleforest commented on #1237
Oh never mind! I should have read the links first.

[2020-11-04 16:38] compwron opened #1238 "make per PR heroku review app"
make per PR heroku review app
We need permissions for this- ask Sean/Polly
<img width="532" alt="Screen Shot 2020-11-04 at 8 36 02 AM" src="https://user-images.githubusercontent.com/578159/98139458-165cf900-1e79-11eb-9fe2-9f7973451133.png">

[2020-11-04 16:48] compwron opened #1239 "mobile view of supervisors as admin - make more interesting"
**What type of user is this for? volunteer/supervisor/admin/all**
admin

**Description**
admin viewing supervisors
make this view make sense, pick some design that you like.
what are these little numbers?

**Screenshots of current behavior, if any**
<img width="780" alt="Screen Shot 2020-11-04 at 8 44 29 AM" src="https://user-images.githubusercontent.com/578159/98140452-51136100-1e7a-11eb-851c-a1c

[2020-11-04 19:49] metamoni opened #1241 "Unassigning case from Volunteer page completely deletes case assignment"
**What is the problem, and what should happen instead?**
On the Volunteer page, clicking the 'Unassign case' button deletes the assignment completely. This means that, instead of appearing as 'Deactivated', the case just disappears from the Volunteer's 'Assigned Cases' list. It would be better to keep a record of this assignment but display a status of 'Deactivated', along with an action of 'None'

[2020-11-04 20:05] compwron commented on #1241
I agree this is something that we want to change.

[2020-11-04 20:09] metamoni opened #1242 "Assign a New Volunteer dropdown contains already assigned volunteers"
**What is the problem, and what should happen instead?**
On the Edit Cases page, volunteers still appear in the 'Assign a New Volunteer' dropdown list even after they've been assigned to a case (screenshot no. 1). The user can click their names and nothing happens, as they're already assigned. This is particularly confusing when the case only has a few volunteers - in this case the dropdown comple

[2020-11-04 20:26] #1185 closed

[2020-11-04 20:28] metamoni commented on #1241
I looked at it as part of another task, but haven't quite managed to get it to work. The file that needs looked at is the volunteers/edit view, lines 84-104. The conditions should be updated to `if assignment.is_active`, and the button should link to the `unassign_case_assignment` path. However, I wasn't sure how to update the action, which currently redirects to the casa_case. This is fine if you

[2020-11-05 02:42] compwron opened #1245 "Migrate CI off Travis"
Hey y'all so I hear that Travis CI .com is going to stop providing services for free soon and .org is currently very slow and also going away in December. Is there a new standard r4g ci plan?
- pay travis / get cool-kid free travis
- circleci
- buildkite (if they have something free for us?)
- github actions
- semaphoreCI
- ??
I made https://github.com/rubyforgood/casa/issues/1245 for #casa but as

[2020-11-05 02:46] compwron commented on #1245
Fyi @littleforest ^

[2020-11-05 02:47] compwron commented on #1159
ping @seanmarcia  :)

[2020-11-05 02:48] compwron commented on #919
@jmkoni does this still need work?

[2020-11-05 02:49] compwron commented on #988
@mateusfdl because you haven't responded in a while, I am going to reassign this issue. Feel free to pick it up again if you have time!

[2020-11-05 02:51] compwron commented on #771
@talentedunicorn how is it going? Are you still working on this? If you are working on this, please reply. Otherwise I will put this back in the TODO list :)

[2020-11-05 02:52] compwron commented on #1011
@acrosman how's it going in there? :)

[2020-11-05 02:53] compwron commented on #1048
@akp2603 How is it going? Are you still working on this? If you don't have time please let us know so that someone else can work on it. :)

[2020-11-05 02:55] compwron commented on #792
@FireLemons it's looking great! I am excited :)

[2020-11-05 02:55] compwron commented on #1042
@jimnanney How's it going? :)

[2020-11-05 02:58] compwron commented on #1064
@coldiron Because we haven't heard from you lately, this issue will be returned to the TODO list. Feel free to pick it up again if you have time to work on it! :)

[2020-11-05 02:59] compwron commented on #1153
@pedrosmmoreira #929 is merged! Do you still have time to work on this? Please let us know :)

[2020-11-05 03:00] compwron commented on #1071
@Archish27 Yes! Filtering here would be very useful

[2020-11-05 03:03] compwron commented on #1136
This hasn't been happening lately so I will close this issue

[2020-11-05 03:03] #1136 closed

[2020-11-05 03:07] compwron commented on #1115
@luisgregson I don't think we fixed it on purpose but I no longer see it in QA or staging 😅
Thank you for looking into it!
If you want to work on more casa work, here is our list of things that need doing! https://github.com/rubyforgood/casa/projects/1
https://casa-qa.herokuapp.com/
https://casa-r4g-staging.herokuapp.com/

[2020-11-05 03:07] #1115 closed

[2020-11-05 03:08] compwron commented on #806
@ChaelCodes How is it going? Can we help? Also feel free to join us in slack for real-time (ish) discussion if you want https://rubyforgood.herokuapp.com/ #casa channel
Also we have a weekly zoom "office hours" (link in slack) if that is something you want to hang out in (currently Weds 6-8 Pacific)

[2020-11-05 03:25] compwron commented on #1193
@peaonunes How is it going? Are you still working on this? If not, please comment here so that we can assign it to someone else.

[2020-11-05 03:36] compwron opened #1246 "inactive volunteer calculation is not the same between pages"
AS a **supervisor or admin**,
I want to see at a glance which volunteers have _not_ made successful contact with their youth in 14 days or more,
so that I know to reach out to this volunteer (or their supervisor) and ensure they are fulfilling their responsibilities.

### How it's working now
The clock emoji next to the volunteer names indicates a volunteer has not made contact with their assigned

[2020-11-05 03:49] Zrrrpy opened #1247 "All CASA Admin can create new All CASA Admin"
AS an All CASA Admin,
I WANT the ability to create additional All CASA Admin accounts,
SO THAT more than one All CASA Admin can log in.
Note: Currently an `AllCasaAdmin` can only create a `CasaAdmin` not a `AllCasaAdmin` and we want to be able to do both.

Log in at https://casa-qa.herokuapp.com/all_casa_admins/sign_in as allcasaadmin@example.com / 123456 (see seed data for alternate logins)

![Sc

[2020-11-05 04:18] littleforest commented on #1234
We don't have the `remember_me` in our code at all, and the 6 times this error has been encountered it has been from an IP address in Russia. So I don't think this is a legit error.

[2020-11-05 04:18] #1234 closed

[2020-11-05 04:21] littleforest commented on #1163
Ref #1234

[2020-11-05 04:21] #1163 closed

[2020-11-05 04:29] littleforest commented on #1125
Think this was a weird blip. Only other reference I can find online has to do with the irb console. Checked rails console for staging and worked fine. Closing for now.

[2020-11-05 04:29] #1125 closed

[2020-11-05 04:30] littleforest commented on #1061
This looks to be completed.

[2020-11-05 04:30] #1061 closed

[2020-11-05 05:41] littleforest commented on #1233
@metamoni thanks for working on this! Unfortunately, this solution doesn't quite work, and it is breaking the build.

This line:

[code]

should actually look more like:

[code]

where the policy scope is wrapping a set of volunteers. However, it expects an ActiveRecord relation, but the `assigned_volunteers` method is returning an array.

Do you have time to take another look at this? If so, let

[2020-11-05 06:00] compwron commented on #1233
Sorry that's my bad, i will take a look tonight

[2020-11-05 06:38] compwron opened #1251 "retro + futurespective"
start planning async retro: make a board, compose an invite + explanatory blurb, make a list of where to send the invite (github PRs, slack channels, contingency planning for trolls
Should this retro/futurespective be just r4g/contributors or also CASA stakeholders?

[2020-11-05 06:39] talentedunicorn commented on #771
@compwron sorry lost track of this, you can put it back to TODO

[2020-11-05 06:47] compwron opened #1252 "rake db:seed:replant errors"
https://app.bugsnag.com/ruby-for-good/casa/errors/5fa39fd859113a00184502a8?event_id=5fa39fd800622ad656880000&i=sk&m=nw
[code]

[2020-11-05 06:54] compwron opened #1253 "[bug] exception when downloading report with options"
This should download a valid report.

![Screen Shot 2020-11-04 at 10 52 52 PM](https://user-images.githubusercontent.com/578159/98207484-983c3900-1ef0-11eb-8118-e5c22135b146.png)

[code]
https://app.bugsnag.com/ruby-for-good/casa/errors/5fa3a12e0919bf0017c1a806?event_id=5fa3a12e00622b4d15640000&i=sk&m=nw

[2020-11-05 06:57] compwron opened #1254 "Import errors fall off the modal"
**What is the problem, and what should happen instead?**
Formatting should look more professional - force line wrap and/or resize modal

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-04 at 10 55 49 PM](https://user-images.githubusercontent.com/578159/98207840-244e6080-1ef1-11eb-9a0c-768ed1fdd963.png)

[2020-11-05 07:02] compwron opened #1255 "Sort contact type groups in contact type edit"
**What type of user is this for? volunteer/supervisor/admin/all**
admin

**Description**
Sort contact type groups in contact type edit
https://casa-r4g-staging.herokuapp.com/contact_types/49/edit

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-04 at 11 01 37 PM](https://user-images.githubusercontent.com/578159/98208219-c79f7580-1ef1-11eb-940b-ac4607a74e6a.png)

[2020-11-05 07:31] #1141 closed

[2020-11-05 07:43] compwron opened #1256 "add test for lib/tasks/data_post_processors/case_contact_populator.rb"
add test for lib/tasks/data_post_processors/case_contact_populator.rb

[2020-11-05 07:45] compwron opened #1257 "Move more text to en.yml"
Move more text to en.yml
Someday we want to be able to translate

[2020-11-05 07:48] compwron opened #1258 "Do not show casa case prefix filter to volunteer"
**What type of user is this for? volunteer/supervisor/admin/all**
volunteer

**Description**
Do not show casa case prefix filter to volunteer, because they will only ever have 1 or 2 cases

**Screenshots of current behavior, if any**
<img width="827" alt="Screen Shot 2020-11-04 at 11 47 21 PM" src="https://user-images.githubusercontent.com/578159/98212245-27991a80-1ef8-11eb-9d2a-c8e165f73fa6.png">

[2020-11-05 07:54] compwron opened #1259 "Move js out of erb"
move js out of app/views/case_contacts/_case_contact.html.erb and into a js file

[code]

[2020-11-05 07:56] compwron opened #1260 "speed up page load of volunteers by admin"
there's an n+1 query in here somewhere, fix it
https://casa-r4g-staging.herokuapp.com/volunteers

[2020-11-05 08:03] compwron opened #1262 "return to Volunteers page after creating volunteer (not supervisors page)"
**What type of user is this for? volunteer/supervisor/admin/all**

**Description**

**Screenshots of current behavior, if any**

[2020-11-05 08:16] pedrosmmoreira commented on #1153
Hey @compwron, yes I can still do this one. Thanks for the ping!

[2020-11-05 10:46] metamoni commented on #1233
Thanks for explaining that, @littleforest, I'll keep that in mind in the future. I haven't used pundit before, so had no idea. Thanks for the fix, @compwron!

[2020-11-05 11:25] peaonunes commented on #1193
Hey, yeah I'm on it. I'm just having problems to get my setup working, hopefully I will be able to finish that this weekend. If I don't manage to get it done I'm happy to pass it on.

[2020-11-05 16:17] compwron commented on #1193
Very cool! Happy to help if you want :)

[2020-11-05 16:18] compwron commented on #1048
Very cool :)

[2020-11-05 16:22] littleforest commented on #1233
Thanks @compwron! Will create follow-up case to prettify the `assigned_volunteers` method.

[2020-11-05 16:22] #1233 closed

[2020-11-05 16:25] littleforest opened #1263 "Prettify the assigned_volunteers method"
**Description**

The `assigned_volunteers` in the `app/helpers/casa_case_helper.rb` file needs a little cleanup.

Ref #1250
Ref #1233

[2020-11-05 16:46] Zrrrpy opened #1264 "Remove filters from CASA case view for volunteers"
AS a **volunteer**,
I WANT my CASA Case view to be free of filters,
SO THAT my Case view is not obstructed by unnecessary filters.

### How it works now
Volunteer view of CASA Cases has filter options.
![Screen Shot 2020-11-05 at 8 40 27 AM (2)](https://user-images.githubusercontent.com/62810851/98270168-7324e600-1f43-11eb-81cc-d2d78fe537b8.png)

### How it should work instead
Volunteers _should n

[2020-11-05 16:54] Zrrrpy opened #1265 "Fix Cases filter view for supervisors and admins"
AS a **supervisor/admin**,
I WANT filter options for CASA cases to be easy to read and click on from my phone,
SO THAT I can check on CASA cases on the go!

### How it works now
Filter options for CASA Cases group together on mobile, and form a mega puddle of filter dropdown menus. It is unclear where one dropdown menu starts and another begins.
![Screen Shot 2020-11-05 at 8 40 27 AM (2)](https://

[2020-11-05 17:15] littleforest commented on #1258
@Zrrrpy is this a dup now of #1265 ?

[2020-11-05 17:27] Zrrrpy opened #1266 "Location should not be clickable"
AS any user,
I WANT Location in my sidebar to be static,
SO THAT I am clear it is static data that does not lead anywhere and do not feel tempted to click on it.

### How it works now
Clicking on a CASA Org's Location in the sidebar menu brings a user to their default home view.

### How it should work instead
Location should not be clickable, it should display in the sidebar menu as static data.

[2020-11-05 17:33] #1264 closed

[2020-11-05 17:34] Zrrrpy commented on #1258
no but it was a duplicate of #1264 - I just closed it. (#1265 fixes this view for supervisors and admins) Thank you for the catch @littleforest!

[2020-11-05 17:42] gabrielbaldao commented on #1266
Can I work in this case?

[2020-11-05 17:45] Zrrrpy opened #1267 "remove Emancipation Checklist from sidebar for supervisors and admins"
AS a **supervisor/admin**,
I DO NOT WANT to see "Emancipation Checklist" in my sidebar,
BECAUSE it is not relevant to me.

### How it works now
![Screen Shot 2020-11-05 at 9 43 32 AM (2)](https://user-images.githubusercontent.com/62810851/98276997-a8cdcd00-1f4b-11eb-9840-2925845fa0c0.png)

### How it should work instead
Emancipation Checklist should not be available to supervisors and admins in th

[2020-11-05 18:22] compwron commented on #1266
@gabrielbaldao yes! :)

[2020-11-06 01:14] Zrrrpy opened #1268 "volunteers should not be able to select hearing_type or judge_name"
AS a **volunteer**,
I WANT my supervisor to select `judge_name` and `hearing_type` _for_ me (when applicable),
SO THAT I can focus on activities within the purview of my role as volunteer.

### How it works now
Volunteers are able to select a `judge_name` and `hearing_type` to associate with a `casa_case`'s next court date.
![Screen Shot 2020-11-05 at 5 14 35 PM (2)](https://user-images.githubuser

[2020-11-06 01:26] Zrrrpy opened #1269 "Names should not be clickable under "Assigned to" for volunteers"
AS a **volunteer**,
I WANT to see my name (and the names of any other volunteers assigned to my `casa_case`),
but I SHOULD NOT be able to click on them,
BECAUSE I do not have permission to edit that page.

### How it works now
Volunteers can click on names under "Assigned to" in the "My Cases" view, but when they do, they get an error message: _Sorry, you are not authorized to perform this action.

[2020-11-06 01:39] Zrrrpy opened #1270 ""Assigned volunteers" should not be clickable for volunteers"
relates to #1269

AS a **volunteer**,
I WANT the name/s under "Assigned volunteers" in CASA Case Details to be static text,
SO THAT it is clear I can not click on this.

### Where does/should this occur on the frontend?
On the CASA Case Details page.

### How it works now
Names listed under "Assigned volunteers" are clickable for users signed in as volunteers. But clicking on it redirects to the "

[2020-11-06 01:49] Zrrrpy opened #1271 "volunteers should not be able to click names in the "Created by" column"
relates to #1270 and #1269

AS a **volunteer**,
I WANT names to appear as static text in the "Created by" column in `case_contacts`,
SO THAT it is clear I can not click on them.

### Where does/should this occur on the frontend?
Everywhere volunteers can view `case_contacts`, including:
- CASA Case Details
- Case Contacts

### How it works now
Names of people who created `case_contacts` are clicka

[2020-11-06 02:11] Zrrrpy opened #1272 "add space between checkboxes in filter by options"
AS a **supervisor/admin**,
I WANT the checkboxes in "filter by" options to have more space between them,
SO THAT it is easier to check one box without accidentally checking other boxes.

### Environment
staging, mobile web

### Where does/should this occur on the frontend?
- in the Volunteer view
- in the Cases view

### How it works now
Checkboxes under "Filter by" options are stacked directly on

[2020-11-06 02:36] Zrrrpy opened #1273 "mobile logout on safari requires double click"
AS any user,
I WANT to be logged out after clicking the "log out" button once,
SO THAT I actually am securely logged out when I think I am.

### Environment
staging, mobile web, Safari

### Environments tested on
staging, mobile web, Safari
staging, mobile web, Chrome
staging, mobile web, Firefox

### How it works now
User must click "Log out" twice in order to be logged out.

### How it should wo

[2020-11-06 02:49] Zrrrpy opened #1274 "give buttons room to breathe on mobile"
AS any user,
I WANT there to be more space between buttons and buttons and buttons and other things,
SO THAT it is easier to click on the thing I want to click on – and not the thing next to, on top of, or under it.

### Environment
staging, mobile web, Firefox, Safari, and Chrome

### Where does/should this occur on the frontend?
Most places where there are buttons:
- "New Supervisor" button in S

[2020-11-06 02:55] Zrrrpy opened #1275 "log out button lost on mobile web for admins"
AS an **admin**,
I WANT to see the log out button in my left sidebar menu on mobile web,
SO THAT I can log out.

### Environments
staging, mobile web, Safari, Chrome, and Firefox

### Where does/should this occur on the front end?
In the left sidebar menu.

### How it works now
There are so many items in the sidebar menu for admins, that the logout button at the bottom is hidden. The sidebar menu

[2020-11-06 15:42] #1268 closed

[2020-11-07 07:27] compwron opened #1278 "[bug] PROD - ActiveModel::UnknownAttributeError: unknown attribute 'remember_me' for User."
https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1604732588177900
Event in production from casa in users/sessions#create (details)
Unhandled error
ActiveModel::UnknownAttributeError: unknown attribute 'remember_me' for User.
Location
vendor/bundle/ruby/2.7.0/gems/activemodel-6.0.3.4/lib/active_model/attribute_assignment.rb:52 - _assign_attribute

[2020-11-08 17:25] #1193 closed

[2020-11-08 17:29] #1267 closed

[2020-11-08 17:29] #1262 closed

[2020-11-08 17:52] khiga8 commented on #1273
May I pick up this issue?

[2020-11-08 18:30] compwron commented on #1273
@khiga8 yes! :)

[2020-11-08 18:32] compwron opened #1282 "login tracking"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**
I am pondering whether we should try to add https://github.com/ankane/authtrail or similar so we can see metrics on attempted/failed logins

Similar but simpler https://stackoverflow.com/questions/29433095/what-is-the-best-way-to-track-all-devise-logins

I only want to store
- what account tried to log in?
- did

[2020-11-08 19:25] #806 closed

[2020-11-08 20:42] compwron opened #1287 "chrome/selenium -> cuprite ?"
cuprite is supposed to be good for capybara
todo fill in details here, decide whether this is worth trying

[2020-11-09 02:36] #1245 closed

[2020-11-09 18:09] littleforest commented on #1278
Ref #1234. Same IP address for this error instance. I'm assuming there is no one from Russia who we would expect to be logging in to the production server?

[2020-11-09 19:07] jhsu802701 opened #1296 "RuboCop: 4953 offenses"
This app currently has 4953 RuboCop offenses.  Only 4560 are auto-correctable.  (This leaves 393 that are not auto-correctable.)

Do we intend to make this app RuboCop-compliant?  If not, rubocop should be removed from the Gemfile.

[2020-11-09 19:10] jmkoni commented on #1296
Hi. Rubocop is not actually in our Gemfile, standard is. It is in the Gemfile.lock because it's a dependency of standard. If you run `standardrb --fix`, you should have a clean build. So to answer your question: no, we do not intend to make this app Rubocop-compliant because it is standard compliant 😃

[2020-11-09 19:10] #1296 closed

[2020-11-09 23:01] Zrrrpy commented on #1070
hey @duaimei! How's this goin?

[2020-11-09 23:04] Zrrrpy commented on #961
Hi @maycowmeira! How's it goin? Let us know if you're still working on this or would like it unassigned. All good either way 😄

[2020-11-10 04:00] #1116 closed

[2020-11-10 20:34] metamoni opened #1299 "Empty list item at bottom of menu"
**What is the problem, and what should happen instead?**
There's an empty list item at the bottom of the menu, under 'Log out'. Remove it.

**Screenshots of current behavior, if any**

<img width="142" alt="Screenshot 2020-11-10 at 20 26 49" src="https://user-images.githubusercontent.com/22390758/98730343-0d49bb80-2394-11eb-9ce8-ea7fd5293eaa.png">

[2020-11-10 21:38] #1269 closed

[2020-11-10 22:39] #1206 closed

[2020-11-11 00:22] Zrrrpy commented on #1064
@pollygee this could be a good one for you!

[2020-11-11 00:27] compwron opened #1304 "re-add simplecov -> codeclimate coverage reporting"
It was removed in https://github.com/rubyforgood/casa/pull/1288 and we want it back
See the readme badge for our codeclimate page - that is where we should see simplecov metrics reflected.

[2020-11-11 00:31] #1153 closed

[2020-11-11 00:43] compwron opened #1307 "add auto-label for ERB files"
this *should* be as easy as adding a section to https://github.com/rubyforgood/casa/blob/main/.github/labeler.yml

[2020-11-11 00:53] compwron opened #1308 "separate cypress test from rspec test in github actions"
separate cypress test from rspec test in github actions
Because it'll be faster if they run concurrently
and also they do different things, might as well admit it xD

- update readme badges for github actions
- make a new .github/workflows/cypress.yml file
- remove cypress from .github/workflows/rspec.yml

[2020-11-11 00:56] compwron opened #1309 "un-flake flaky test: "admin edits case edits case""
run the tests locally with the same rspec seed and (hopefully) they will fail in the same way.
https://github.com/rubyforgood/casa/actions/runs/356880218

[code]

[2020-11-11 03:12] compwron opened #1310 "complete or delete pending tests"
complete or delete pending tests

[code]

[2020-11-11 04:48] compwron opened #1314 "[bug] emancipation checklist nil user"
Figure out what causes this and make it stop. It is possibly replicable by clicking around in staging as a supervisor.
[code]

[2020-11-12 02:12] #1094 closed

[2020-11-12 02:22] compwron opened #1318 "custom commandline date of birth import for PG CASA"
if you got the email with the data, load it into prod
Do not check in the data to the codebase
Do check in the code to the codebase
Pair with someone if you can when you do it

[2020-11-12 02:23] AngeVeza opened #1319 "Can't access CASA case page"
As any user,
when I click on CINA-00-1151,
I want to be taken to that CASA case page,
so that I can view and edit CASA case details.

Environment,
QA chrome

How it works now:
when I click on CINA-00-1151 (`casa_case 454`), I see the following error message.
![Screen Shot 2020-11-11 at 6 12 49 PM (2)](https://user-images.githubusercontent.com/73323436/98887664-08e8d580-245c-11eb-994e-8fd651173457.

[2020-11-12 02:40] AngeVeza opened #1320 "Hearing_types only display on case details if admin has added hearing_types to casa_org"
As any user,
when my casa_org has no hearing_types,
I do not want to see hearing_types on case details page,
so that I am not confused by fields that irrelevant to my casa_org.

Environment:
QA

How it works now:
When I am logged in as any user,
I see hearing_types on the edit case details page.
<img width="961" alt="Casa1" src="https://user-images.githubusercontent.com/73323436/98888818-4d757080-

[2020-11-12 02:41] compwron opened #1321 "Case contacts should be editable for the last 10 days, regardless of quarter"
Case contacts should be editable as normal for the last 10 days, regardless of quarter

Given a case contact is *created on* March 31 (last day of quarter) for a case contact that *happened on* March 31
When it is April 1 (first day of new quarter)
Then that case contact should still be editable, and it should be editable until April 10

Given a case contact is *created on* April 1 (first day of q

[2020-11-12 02:47] AngeVeza commented on #1153
Hey @pedrosmmoreira, thank you so much for all your work on this, it looks great. Could you also remove judge name from the casa case details page?

![Casa2](https://user-images.githubusercontent.com/73323436/98889184-12277180-245f-11eb-837b-eef6466ee27b.JPG)

[2020-11-12 02:53] AngeVeza commented on #1269
Hey @metamoni, thank you so much for taking on this issue! 👏
I just tested this in QA and was still able to click on the volunteer name under assigned to while logged in as volunteer. Any idea what's going on?

![Casa3](https://user-images.githubusercontent.com/73323436/98889541-c1644880-245f-11eb-8553-57a76ccc92da.JPG)

[2020-11-12 03:23] littleforest opened #1322 "Supervisors should not be able to assign cases that belong to a different organization"
**What is the problem, and what should happen instead?**

* Verify that supervisors can not view or assign cases that belong to a different organization
* Add specs if they don't exist

**Screenshots of current behavior, if any**

Places a supervisor can view or assign cases:

<img width="1344" alt="Screen Shot 2020-11-11 at 7 21 25 PM" src="https://user-images.githubusercontent.com/1938665/988915

[2020-11-12 03:26] littleforest opened #1323 "Add validation to ensure that volunteers can't be assigned casa cases from a different organization"
**Description**

On our QA site, we have at least one casa case that is assigned to a volunteer but belongs to a different organization than the volunteer.  This error may have occurred during seeding. Add a validation that ensures that volunteers are in the same organization as the casa case to which they are assigned.

[2020-11-12 03:35] littleforest commented on #1319
@Zrrrpy I fixed this issue directly on the QA site and made two follow up tasks related to what caused this issue:

#1322
#1323

[2020-11-12 03:35] #1319 closed

[2020-11-12 03:46] littleforest opened #1324 "Volunteers page slow to load on QA"
**What is the problem, and what should happen instead?**

The `/volunteers` link on the QA site is really slow. There is probably an N+1 query issue. To help diagnose, temporarily add

[code]
to the `config/environments/development.rb` and/or the `config/environments/test.rb` Bullet config section.

[2020-11-12 04:00] compwron commented on #1251
You are invited to the CASA asynchronous retrospective-and-futurespective! Please take a look at https://bit.ly/casaretro (no login required) and add at least one note! Even if it's just "I was here and you are cool" or "omg y'all why do you keep messaging me" we want to hear it. <3
Next week Wednesday 18 November @ 6pm Pacific time we will Zoom about the board and talk about themes and takeaways.

[2020-11-12 04:03] compwron commented on #1319
You are invited to the CASA asynchronous retrospective-and-futurespective! Please take a look at https://bit.ly/casaretro (no login required) and add at least one note! Even if it's just "I was here and you are cool" or "omg y'all why do you keep messaging me" we want to hear it. <3
Next week Wednesday 18 November @ 6pm Pacific time we will Zoom about the board and talk about themes and takeaways.

[2020-11-12 04:46] patrickarnett commented on #1323
May I?

[2020-11-12 06:35] littleforest commented on #1323
Absolutely, thanks!

[2020-11-12 07:58] pedrosmmoreira commented on #1153
Hey @AngeVeza, sure. I'll open a new PR for that.

[2020-11-12 15:11] compwron opened #1327 "When not logged in, logo in top left corner should go to home page"
**What type of user is this for? volunteer/supervisor/admin/all**
not-logged-in

**Description**
When not logged in, logo in top left corner should go to home page

**Screenshots of current behavior, if any**

[2020-11-12 15:12] compwron opened #1328 "When clicking reset password link without email, fix UI spacing"
**What type of user is this for? volunteer/supervisor/admin/all**
not logged in

**Description**
When clicking reset password link without email, fix UI spacing

**Screenshots of current behavior, if any**

[2020-11-12 16:02] #1323 closed

[2020-11-12 19:36] #1270 closed

[2020-11-12 22:24] patrickarnett commented on #1322
Can I grab this one?

[2020-11-12 22:43] littleforest commented on #1322
It's yours!

[2020-11-12 23:05] littleforest commented on #1269
@AngeVeza this hadn't been deployed to QA yet, but it should be there now if you want to take another look!

[2020-11-13 04:12] patrickarnett commented on #1322
@littleforest It should also be required that a `volunteer` and their `supervisor` belong the the same `casa_org`, right?

[2020-11-13 04:43] patrickarnett commented on #1263
I just ran into this method. Can I grab this, too?

[2020-11-13 05:04] littleforest commented on #1263
Yep!

[2020-11-13 05:06] littleforest commented on #1322
@patrickarnett yes!

[2020-11-13 18:13] patrickarnett commented on #1322
@littleforest This scope returns any `user` (not just `volunteers`) within the `casa_org` who is not currently assigned a supervisor. So, e.g., a `supervisor` without a `supervisor` would be included. Is that a bug?
https://github.com/rubyforgood/casa/blob/c84b0e9261f83654d79ce1dd1f73dc392258729e/app/models/user.rb#L28-L35

Is this the right way to ask questions like this, or should I use the casa

[2020-11-13 18:24] patrickarnett commented on #1322
It's only called on the `Volunteer` class, so I'll move it there.

[2020-11-13 18:25] littleforest commented on #1322
@patrickarnett sounds good to move it to the Volunteer class. Asking questions here is fine, or also slack channel is okay too!

[2020-11-14 02:18] #1263 closed

[2020-11-14 02:27] #1322 closed

[2020-11-14 02:33] compwron opened #1332 "[bug] Full notes should be output in report!!!"
**What is the problem, and what should happen instead?**
When admin downloads reports, notes should not trail off with `...`

**Screenshots of current behavior, if any**
https://casa-qa.herokuapp.com/reports
![Screen Shot 2020-11-13 at 6 43 21 PM](https://user-images.githubusercontent.com/578159/99137511-20e96200-25e0-11eb-85e6-a1725d2ee332.png)

[2020-11-14 02:34] compwron opened #1333 "[bug] Downloading report with these settings throws exception"
**What is the problem, and what should happen instead?**
Example exception: https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1605317614092000

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-13 at 5 33 18 PM (1)](https://user-images.githubusercontent.com/578159/99137311-d1eefd00-25de-11eb-8e0f-d9db882fa123.png)
![Screen Shot 2020-11-13 at 5 33 36 PM](https://user-images.github

[2020-11-14 02:35] compwron opened #1334 "accurate seed notes length"
TODO - find the avg /max length of notes in prod, and change seed to generate notes of that length. then re-seed QA and maybe staging so we can make realistic UI decisions.

[2020-11-14 02:36] compwron commented on #1334
irb(main):001:0> CaseContact.all.pluck(:notes).map(&:length)
=> [269, 53, 65, 60, 92, 136, 127, 165, 234, 226, 184, 84, 189, 164, 94, 68, 0, 32, 48, 80, 40, 48, 139, 96, 205, 143, 277, 493, 199, 221, 586, 80, 90, 96, 347, 400, 46, 25, 157, 204, 110, 263, 373, 602, 349, 102, 92, 211, 1335, 183, 1550, 136, 262, 209, 618, 177, 658, 304, 263, 212, 145, 162, 207, 152, 405, 350, 72, 680, 1902, 330, 1877

[2020-11-14 02:38] compwron opened #1335 "Improve Duration UI on different screen sizes"
**What type of user is this for? volunteer/supervisor/admin/all**
mostly volunteer, but also supervisor and admin

**Description**
Improve Duration UI on different screen sizes

**Screenshots of current behavior, if any**
![image](https://user-images.githubusercontent.com/578159/99137397-5b9eca80-25df-11eb-8b49-0538be064702.png)

[2020-11-14 03:09] compwron opened #1336 "Improve Volunteer Case UI column line-up"
**What type of user is this for? volunteer/supervisor/admin/all**
volunteer mostly, but same for supervisor and admin

**Description**
Improve Volunteer Case UI column line-up
Note: there is new seed data to fill in the notes field with *realistic* data length for you! Run `rake db:seed` to get the new data :) (It's ok to just make new case contacts yourself manually if you would prefer, no pressu

[2020-11-14 04:00] compwron opened #1338 "make seed data multi-CASA"
**Description**
Update seed to, on all but lowest data setting, create at least 2 CASAs **with different-looking data** so we can find cross-CASA bugs.

[2020-11-14 04:14] #1334 closed

[2020-11-14 07:11] compwron opened #1340 "[multi-tenancy bug] Case Contacts Report has leaky CASA org data"
**What is the problem, and what should happen instead?**
Report has wrong casa org data

Logged in as admin for casa 2, seeing casa 1 results

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-13 at 11 08 58 PM](https://user-images.githubusercontent.com/578159/99141988-8e5bb980-2605-11eb-8f29-ba8113bb1153.png)

**How to replicate bug**
1 - Log into QA as an admin belonging to `casa

[2020-11-14 19:21] khiga8 commented on #1275
I'm assigned to this other [issue](https://github.com/rubyforgood/casa/issues/1273) to fix the log out behavior on mobile, but I'm blocked by this issue! I'm going to unassign myself from the other one and assign myself to this one first!

[2020-11-14 19:21] khiga8 commented on #1273
Unassigning myself for now to address https://github.com/rubyforgood/casa/issues/1275.

[2020-11-14 23:18] #1299 closed

[2020-11-15 19:27] #1275 closed

[2020-11-15 21:03] #23 closed

[2020-11-15 21:04] #1271 closed

[2020-11-15 21:07] compwron opened #1347 "Fix styling on Forgot Password page"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**
Fix styling on Forgot Password page
It looks funny 😭

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-15 at 1 06 18 PM](https://user-images.githubusercontent.com/578159/99196794-6e321480-2743-11eb-8b37-9909596e0e89.png)

[2020-11-15 21:14] compwron opened #1348 "[bug] [prod] ActiveModel::UnknownAttributeError users/sessions#create"
Event in production from casa in users/sessions#create (details)
Unhandled error
ActiveModel::UnknownAttributeError: unknown attribute 'remember_me' for User.
Location
vendor/bundle/ruby/2.7.0/gems/activemodel-6.0.3.4/lib/active_model/attribute_assignment.rb:52 - _assign_attribute
https://app.bugsnag.com/ruby-for-good/casa/errors/5f90f6ddf86dad00180b3d17?event_id=5fb121cc0062e1bc44dd0000&i=sk&m=oc

[2020-11-16 08:22] metamoni commented on #532
I'd like to work on this piece and I think it makes sense for one person to start by setting up the table, before we can break it down into smaller tasks. I grabbed issue number #696 for starters. @jmkoni, @compwron, @littleforest what do you think would be the best way to go around this? Do we use any libraries to add feature flags? Or should I work in a hidden "test" route and view, and then rep

[2020-11-16 09:11] compwron commented on #532
We don't currently use feature flags. Either of those solutions are fine with me- test route vs adding feature flags.

[2020-11-16 16:31] rogesson commented on #1333
Hello @compwron!

I will work on it :)

[2020-11-16 16:33] littleforest commented on #1333
Great, thanks @rogesson !

[2020-11-16 17:20] #1347 closed

[2020-11-16 17:23] compwron opened #1351 "Allow dependabot PRs with passing builds to auto-merge"
Aloow dependabot PRs with passing builds to auto-merge
Right now they do this instead :(
https://github.com/rubyforgood/casa/pull/1350
[code]

[2020-11-16 18:12] compwron opened #1352 "paginate db query results and use that pagination on the frontend"
**What type of user is this for? volunteer/supervisor/admin/all**
all, but improvements will be most visible for supervisor and admin

**Description**
paginate db query results and use that pagination on the frontend
The point of this is to make page load faster for supervisor & admin
This was prompted by https://ideaboardz.com/for/R4G%20CASA%20Nov%202020%20retro%2Ffuturespective/3512118

**Screen

[2020-11-17 16:43] compwron opened #1354 "add isitmaintained badge to readme"
https://isitmaintained.com/project/rubyforgood/casa
add isitmaintained badge to readme

[2020-11-17 22:27] patrickarnett commented on #1352
Can I jump on this one?

[2020-11-18 03:11] compwron opened #1355 "Allow duplicate case numbers as long as they are for different CASA orgs"
Allow duplicate case numbers as long as they are for different CASA orgs
The code that generates this line will have to change
`#  index_casa_cases_on_case_number      (case_number) UNIQUE`
We will beed a db migration and a rails validation

[2020-11-18 03:24] compwron opened #1356 "Add has_paper_trail to case contact and write a test to ensure it is present on all db models (exceptions allowed)"
Add has_paper_trail to case contact and write a test to ensure it is present on all db models (exceptions allowed)

[2020-11-18 19:15] #1354 closed

[2020-11-18 23:30] littleforest opened #1358 "Set up Rack Attack to throttle/block bad actors"
**Description**

Set up Rack Attack gem.

[2020-11-18 23:44] littleforest opened #1359 "Remove unused court_report_submitted field from casa_cases"
**Description**

The `court_report_submitted` boolean field on the `casa_cases` table was replaced by a `casa_report_submitted_at` timestamp and a `casa_report_status` enum.

**Existing gem(s), file(s) needing updating, changing or deleting**
Create a migration to remove the `court_report_submitted` field.

Ref: #806

[2020-11-18 23:51] littleforest commented on #1238
@seanmarcia or @pollygee are either of you able to authorize us to be able to create review apps?

[2020-11-19 02:18] compwron commented on #1255
this is probably in app/views/contact_type_groups/_form.html.erb:24

[2020-11-19 02:19] Zrrrpy commented on #1320
@AngeVeza turns out this does work, we were just testing in a `casa_org` instance that _does_ have `hearing_types`, so going to close out. :)

[2020-11-19 02:19] #1320 closed

[2020-11-19 03:12] compwron opened #1362 "Automatically remove Help Wanted issue label for issues in-progress/qa/later-columns"
AS a maintainer of this project,
I WANT the `help wanted` label to automatically be removed from issues in the `in-progress` column or any columns following that one,
SO THAT I do not need to manually remove the `help wanted label` from these issues.

### Proposed solutions & approach
This is probably a github actions thing

Maybe we could make a cronjob github action that runs every few hours and

[2020-11-19 03:15] compwron opened #1363 "Automate adding Help Wanted label to every issue in project board "TODO" column"
This would be a big win for contributor friendliness!

Tools that might be able to help us do this:
https://github.com/philschatz/project-bot
https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/about-automation-for-project-boards
https://github.com/marketplace/actions/manage-issue-labels

[2020-11-19 04:12] compwron opened #1364 "Add a "tour" for new users"
Something like the demo at https://introjs.com/

Think about what exactly we want to do, per user type
1. new volunteer, first login
- tooltip "this is your case! click here to see details!"
- tooltip "make a case contact here!" + tooltip per field guiding them to fill it out (?)
- tooltip "download your court report here!"

1. new supervisor, first login
- ?
- ?

1. new admin, first login
- ?
- ?

[2020-11-19 04:36] compwron opened #1365 "Use our Dockerfile in CI build as a way of making sure it always works"
Use our Dockerfile in CI build as a way of making sure it always works

@littleforest this is just an idea I had. Does this seem like a good idea to you?

[2020-11-19 04:37] compwron opened #1366 "Create a Dockerfile that only hosts the db - for local development"
This came from our retro board
If we do this, I would like to have some way of testing our docker files

@littleforest this is just an idea. What do you think?

[2020-11-19 04:44] compwron opened #1367 "Download just notes from a casa case as a word document"
**What type of user is this for? volunteer/supervisor/admin/all**
all (most important for volunteer)

**Description**
The purpose
On the Casa Case page, there should be a "download all notes" button (model this after the generate/download on Court Report page). This should download all the notes (also with date of note creation) for that casa case, with the case number at the top of the doc
The do

[2020-11-19 04:56] compwron opened #1368 "placeholder - this is a place to host an image so it can be used on the wiki"
![CASA-18Nov2020](https://user-images.githubusercontent.com/578159/99623094-34ca0500-29e0-11eb-95b6-55387f89cb4b.png)

[2020-11-19 05:01] compwron opened #1369 "Hide unassigned volunteers from View Supervisor by default"
**What type of user is this for? volunteer/supervisor/admin/all**
sueprvisor/admin

**Description**
Supervisor/Admin viewing Supervisor should by default not see unassigned volunteers but be able to show them

**Screenshots of current behavior, if any**

[2020-11-19 05:01] compwron opened #1370 "Exclude unassigned volunteers from “no contact in 14 days” Admin dashboard"
On the Admin's dashboard, volunteers who have been *unassigned* from the supervisor are showing up in the “no contact in 14 days” count. Exclude unassigned volunteers from the count.

Example url: https://casa-qa.herokuapp.com/supervisors
![Screen Shot 2020-11-18 at 11 22 40 PM](https://user-images.githubusercontent.com/578159/99634301-191d2980-29f5-11eb-8901-a62107a32832.png)

[2020-11-19 06:23] #1266 closed

[2020-11-19 06:46] compwron opened #1371 "Scope per casa org in CaseContactPolicy"
There should never be `.all` only `.where(casa_org: @user.casa_org)` in this code and code like it

Add tests to go with this change

[code]

[2020-11-19 07:05] compwron commented on #1252
We don't really need this, we have seed (and the readme says so). Closing.

[2020-11-19 07:05] #1252 closed

[2020-11-19 07:14] compwron commented on #1328
![Screen Shot 2020-11-18 at 11 13 35 PM](https://user-images.githubusercontent.com/578159/99633413-b5dec780-29f3-11eb-8bf4-6bc850cfe579.png)
This is fixed

[2020-11-19 07:14] #1328 closed

[2020-11-19 07:14] compwron commented on #1327
This makes no sense, what?

[2020-11-19 07:14] #1327 closed

[2020-11-19 07:15] compwron commented on #1314
Not replicable right now

[2020-11-19 07:15] #1314 closed

[2020-11-19 07:17] compwron commented on #1011
Let's hold off on this for a while.

[2020-11-19 07:17] #1011 closed

[2020-11-19 07:49] metamoni commented on #696
@maggie-larkin @Zrrrpy does the caterpillar icon need to be clickable? According to issue #532 users can click it to change to transitioned youth, but we can just display either the caterpillar or the butterfly based on the case data. Should volunteers be able to update this (on the case and in the database)?

[2020-11-19 12:04] notapatch commented on #1348
This is an investigation. I have not taken the issue. I am not a Devise expert.

---

It would be helpful to have seen the logging before this crash to see if there were clues.

From the User model the timeoutable module has been set but the rememorable has **not** been set

[code]

We can see the same in the Devise initializer where the remember_me configuration is commented out and the timeoutab

[2020-11-19 16:52] compwron commented on #1348
Thank you for this investigation! I think that this next step sounds good. That can be part of this issue. Do you want to make a PR for it? :)

[2020-11-19 17:35] littleforest commented on #1348
@compwron actually this is occurring due to what we suspect is a script, since it always from the same Russian IP address.  I am almost done working on #1358 where we will be able to add the IP address to a blocklist.

[2020-11-19 17:37] compwron commented on #1348
Ideally a script wouldn't be able to cause exceptions in our code- I still want to fix this in addition.

[2020-11-19 18:07] littleforest commented on #1366
I haven't done this before but I will try it out!

[2020-11-19 18:08] littleforest commented on #1365
@compwron do you mean as a separate action (we would also run the non-Docker build)?

[2020-11-19 18:41] compwron commented on #1365
I see no reason to run both, might as just run the whole build on docker

[2020-11-19 19:23] littleforest commented on #1365
I just ran into a situation with the Rack Attack specs where I broke it for non-Docker setups (fortunately I was testing on both). Since I'm assuming most people are NOT using the Docker setup, I think it's important that we still run the regular specs. Is there a way we can run both, or does our whole setup depend on using one or the other?

[2020-11-19 19:54] jhsu802701 commented on #1365
I've tried to test Docker setups on other projects in the past, and I found that Docker didn't work the same in CI as it does on my local machine.

[2020-11-19 20:13] compwron commented on #1365
@littleforest We can definitely run both (github actions is very cool), I just wasn't aware of the value of doing so. Makes sense.

@jhsu802701 What do you mean? Do you remember any details?

[2020-11-19 21:04] jhsu802701 commented on #1365
I recall that there were permission issues.

[2020-11-19 21:38] compwron commented on #57
![image](https://user-images.githubusercontent.com/578159/99727216-7c966e00-2a6c-11eb-9543-0a0f502c1b1d.png)

[2020-11-20 00:29] notapatch commented on #1348
@littleforest - aahh, an attack that all makes sense now.

@compwron Sounds great, I'll PR this tomorrow.

[2020-11-20 16:15] #1348 closed

[2020-11-20 16:16] #1358 closed

[2020-11-20 17:40] littleforest commented on #1324
closed via #1376

[2020-11-20 17:40] #1324 closed

[2020-11-20 19:06] GuillermoCoding commented on #1367
Hello, picking this up! 😄

[2020-11-20 19:06] littleforest commented on #1367
Great, thank you!

[2020-11-20 22:45] #1359 closed

[2020-11-21 04:27] gabrielbaldao commented on #1371
Can I work in this case?

[2020-11-21 04:40] littleforest commented on #1371
Absolutely!

[2020-11-21 18:53] littleforest opened #1379 "Fix Rack Attack specs on Docker"
**What is the problem, and what should happen instead?**
A few rack attack specs are failing when run on Docker: `--seed=40871`

[2020-11-21 19:48] gabrielbaldao commented on #1371
Will be `.where(casa_org: @user.casa_org)` for `CasaCasePolicy`, `CaseAssignmentPolicy`, `CaseContactPolicy` and `UserPolicy`? @compwron

[2020-11-22 11:07] metamoni commented on #696
I've done some of the work for the header and table body on [this](https://github.com/rubyforgood/casa/tree/696-volunteer-table-header) branch, but I am unable to continue working on this at the moment. The table is set up on a test path, which you can get to by going to Case Contacts, selecting an entry to edit, and replacing `/edit` in the url with `/table`. For example `http://localhost:3000/ca

[2020-11-22 11:07] metamoni commented on #532
I've done some of the work for the header and table body on [this](https://github.com/rubyforgood/casa/tree/696-volunteer-table-header) branch, but I am unable to continue working on this at the moment. The table is set up on a test path, which you can get to by going to Case Contacts, selecting an entry to edit, and replacing `/edit` in the url with `/table`. For example `http://localhost:3000/ca

[2020-11-22 20:09] stufro commented on #1370
I was going to offer to pick this up - however I'm unable to recreate the bug. I unassigned a volunteer who had no case contacts for 14 days and the number on the dashboard decreased. Let me know if I've misunderstood.

[2020-11-23 18:04] littleforest commented on #1371
@gabrielbaldao yes that sounds right! And you can use `current_organization` which is defined [here](https://github.com/rubyforgood/casa/blob/main/app/controllers/concerns/organizational.rb#L11-L13) instead of `@user.casa_org`.

[2020-11-23 18:29] #1355 closed

[2020-11-23 20:45] patrickarnett commented on #1352
@compwron This spec is actually testing that the cell is blank when the joining `supervisor_volunteer` is inactive. Should the cell be blank when the `supervisor` itself is inactive, as well?
https://github.com/rubyforgood/casa/blob/b29b1427b1a6e92fbb74468ac744f84ba0a767f8/spec/system/admin_views_volunteers_page_spec.rb#L141-L151

[2020-11-23 21:59] compwron commented on #1352
Yes, if the volunteer's supervisor is inactive then this cell should be blank.
The cell should also be blank if the volunteer used to be, but is no longer associated to the supervisor i.e. what it's actually testing now)

[2020-11-23 22:05] littleforest commented on #1370
@stufro thanks for taking a look! I wasn't able to reproduce either. @compwron is there a specific example you are seeing on the QA site that is a problem?

[2020-11-23 22:55] patrickarnett commented on #1352
It's outside the scope of this issue, but should the deactivation of a `supervisor` or `volunteer` in turn deactivate any associated `supervisor_volunteers` and/or `case_assignments`?

[2020-11-24 16:15] littleforest opened #1386 "Fix rake task that sends out court report reminders"
**What is the problem, and what should happen instead?**
`court_report_submitted` has been replaced by `court_report_submitted_at` and `court_report_status`.

- [x] Add a class method on Volunteer that performs the bulk of the existing task. Add a failing unit test.

- [x] Fix the code and have the spec pass.

- [x] Call the class method from the rake task.

[code]
**Extra credit**

~~Add a court_

[2020-11-24 16:18] SMJ289 commented on #1255
@compwron just to clarify, is the intent to sort the _contact type groups_ alphabetically?

[2020-11-24 16:39] compwron commented on #1255
Yes

[2020-11-24 20:48] #1258 closed

[2020-11-24 21:12] littleforest opened #1389 "Add validation for court_report fields"
**Description**
There are two related fields on the `casa_case` model, the `court_report_submitted_at` and `court_report_status` field. Add a validation to make sure that:

1. If `court_report_submitted_at` is not null, then `court_report_status` is something other than "not submitted"
2. If `court_report_submitted_at` is null, then `court_report_status` is "not submitted"

[2020-11-24 22:16] SMJ289 opened #1390 "Sort Contact Types on Edit Organization Page"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
Add ability to sort *Contact Types* by Name, Group, or both to make it easier for the user to navigate the somewhat lengthy list.

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-24 at 4 08 38 PM](https://user-images.githubusercontent.com/57697706/100156881-52c7b780-2e6f-11eb-8878-94e3b6cf933

[2020-11-24 22:33] SMJ289 opened #1391 "Add Tests for Creating and Editing Contact Types"
Pairs well with #1255

**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
Add tests to cover creating and editing *Contact Types*
Note: there is no delete functionality to maintain data integrity with existing records.

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-24 at 4 27 09 PM](https://user-images.githubusercontent.com/57697706/1001587

[2020-11-24 22:37] SMJ289 commented on #1391
I'll probably just tackle adding these tests while addressing issue #1255.

[2020-11-24 22:52] SMJ289 opened #1392 "Block Duplicate Contact Type Entries"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
Add a check to block duplicate *Contact Types* being created per `casa_org` by organization admins.
Edit Organization page  (i.e. `/casa_orgs/1/edit`)

**Screenshots of current behavior, if any**
What we don't want to happen:
![Screen Shot 2020-11-24 at 4 46 58 PM](https://user-images.githubusercontent.com/576

[2020-11-26 02:25] compwron opened #1394 "Add Contact Made -> Pending status"
**What type of user is this for? volunteer/supervisor/admin/all**
Volunteer/all

**Description**
Add Pending status as an option in the Contact Made choices

This suggestion was given to us by Sarah passed on from a volunteer who didn't know what to put for an email

Other possibilities include explicit helper text/tooltip about what to do select when sending an email, like "Set emails to No if yo

[2020-11-26 02:32] compwron opened #1395 "Clicking near Parent checks the Youth box when the screen is a certain size - see screenshot"
**What is the problem, and what should happen instead?**
Clicking near Parent checks the Youth box when the screen is a certain size - see screenshot

**Screenshots of current behavior, if any**
![Screen Shot 2020-11-25 at 6 31 13 PM](https://user-images.githubusercontent.com/578159/100301168-757bce00-2f4c-11eb-81b5-4ebd3513178b.png)

[2020-11-26 02:44] compwron opened #1396 "Add clarifying UI about what case contacts will be in the court report"
**What type of user is this for? volunteer/supervisor/admin/all**
volunteer

**Description**
Court reports are every 6 months

Court date for this user is not set https://casa-qa.herokuapp.com/casa_cases/1072

What case contacts should show on the court report? Everything since the last court date. If there is not last court date, everything.

Do not add a date range choice for now- it's easier to

[2020-11-26 03:25] compwron opened #1397 "Add "impersonate" for supervisor/admin to see volunteer's view"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor/admin

**Description**
Add "impersonate" for supervisor/admin to see volunteer's view

Possibly using the ruby gem `pretender`

I'm not sure that we should do this- I think it would be better to allow supervisors and admins to *view* generated court reports for a volunteer/case. (Rather than supervisor/admin being able to

[2020-11-26 03:28] compwron opened #1398 "supervisor/admin can download already-generated court reports"
As a **supervisor or admin**,
I want the ability to download the most recently generated court report associated with a court date,
so that I can easily access these records when necessary for administrative purposes.

### How it works now
After a volunteer generates a court report, no user has the ability to re-download that report which has already been generated.

### How it should work instead

[2020-11-26 03:29] compwron commented on #1054
Tooltip requested/suggested by Sarah 25 Nov 2020

[2020-11-26 03:34] compwron opened #1399 "Supervisor should be able to un/assign volunteer to Supervisor from the Volunteer page, not just the Supervisor page"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor/admin

**Description**

Add a section on the Volunteer page for a supervisor/admin to un/assign a volunteer from Supervisor on Volunteer page

Currently this functionality is available on the Supervisor page but not the Volunteer page. Keep the functionality on the Supervisor page, and *add* the ability to unassign a volu

[2020-11-26 03:37] compwron opened #1400 "Add a row to the Admin dashboard summary of supervisors for volunteers not assigned to supervisors"
**What type of user is this for? volunteer/supervisor/admin/all**
admin

**Description**

Add a row to the Admin dashboard summary of supervisors for volunteers not assigned to supervisors

Do not show the row if there are no volunteers not assigned to supervisors

Make sure to only count *active* volunteers and *active assignments*

Note: CASA normal operation there should not be any volunteers n

[2020-11-26 03:50] compwron opened #1401 "Your account has lost access to your connected GitHub account"
https://dashboard.heroku.com/pipelines/ab5437b7-b7da-4204-bcfc-33bac4466347

I see a message in heroku

But the PR I merged an hour ago did successfully deploy to QA. So... maybe we don't care?
![Screen Shot 2020-11-25 at 7 50 09 PM](https://user-images.githubusercontent.com/578159/100306134-80882b80-2f57-11eb-8e5f-824cf3b50e75.png)

[2020-11-26 04:19] compwron opened #1403 "fix bullet warning in generate reports"
Do what the stack trace says
http://localhost:3000/reports
[code]

[2020-11-26 09:59] notapatch commented on #1400
re "add a row": I'm confused, do you mean "add a column"?

[2020-11-26 10:17] notapatch commented on #1260
Is this a duplicate of https://github.com/rubyforgood/casa/issues/1324 ?

[2020-11-26 22:33] notapatch commented on #1386
@littleforest with regards to the extra credit `court_report_submitted?` method - as you may be aware the method `court_report_submitted?` is automatically generated by the [Rails enum api](https://api.rubyonrails.org/v6.0.3/classes/ActiveRecord/Enum.html) - which we can see in the "Did you mean?" above. To confirm, did you want to override the enum generated `court_report_submitted?` with our own

[2020-11-27 00:45] littleforest commented on #1260
yes!

[2020-11-27 00:45] #1260 closed

[2020-11-27 00:47] littleforest commented on #1386
@notapatch yes, you're right about the enum method! 🤦‍♀️ Please don't override that method. `court_report_filed?` sounds great.

[2020-11-27 08:52] compwron opened #1405 "Fix bullet n+1 issues in tests"
Remove and fix each test with `:disable_bullet` one by one :)

[2020-11-27 16:23] littleforest commented on #1401
This seems to have fixed itself, and maybe was an issue on Github's end? The apps are connected to their repositories.

<img width="1655" alt="Screen Shot 2020-11-27 at 8 22 15 AM" src="https://user-images.githubusercontent.com/1938665/100468653-b3324100-3089-11eb-841a-727af67429d8.png">

[2020-11-27 16:23] #1401 closed

[2020-11-27 22:59] erik-trantt commented on #1064
I'll take this one.

[2020-11-27 23:37] #1272 closed

[2020-11-27 23:38] #1379 closed

[2020-11-27 23:40] compwron opened #1408 "Move all date formats to il8n"
Do this https://github.com/rubyforgood/casa/pull/1402#discussion_r531743219

Syntax we want to use: `format: :day_and_date`

**Why?**
- You can name the keys whatever you like using i18n
- One of the benefits of using i18n is that if you internationalize the application, then it's easy to have dates display in formats used by other countries/languages <- even if CASA doesn't need this, it's good f

[2020-11-28 01:49] compwron opened #1409 "Automate github issue weekly "is this still in progress?" checkins"
Automate github issue weekly "is this still in progress?" checkins on "in progress" github issues without recent comments / commits. After two weeks (14 days) of checking-in and no comments or PRs, unassign the assignee and move the issue back to "to do" (automate as many parts of this as possible! Anything is better than nothing :) )

This is (hopefully) possible with github actions

[2020-11-29 06:20] #764 closed

[2020-11-29 06:21] compwron commented on #961
I am going to unassign this due to activity for now. Feel free to pick it up again when you have time. :)

[2020-11-29 06:21] #961 closed

[2020-11-29 06:22] compwron commented on #961
I am closing this because we just now reorganized the tests and I think the issue needs to be rewritten to take that into consideration.

[2020-11-30 22:58] Rockenfels commented on #1389
I'm working on this issue

[2020-12-02 03:22] compwron opened #1417 "pagination page 2"
Go through all the comments from https://github.com/rubyforgood/casa/pull/1412 and change some code, add some comments, and answer some questions. :)

Anything we can do to keep the casa code very beginner-friendly (read: beginner-resilient!) is worth doing. Excessive test coverage is encouraged.

[2020-12-02 19:03] #1386 closed

[2020-12-02 21:29] #1389 closed

[2020-12-03 02:17] Zrrrpy commented on #792
Hey @FireLemons! It's been a minute since we've heard from you so we're going to unassign this and put this into the To-do column. We'd love to have you back, though! Please feel free to drop back in whenever you're ready. :)

[2020-12-03 02:51] compwron commented on #792
Hi @FireLemons ! Now I see that you are actively developing on this! It is looking super great and we are very excited. I'm sorry that you were unassigned from it. We value your work 💖✨

I have opened a "draft" PR for your branch just to keep it visible. Feel free to close this PR and make a new one, or use/edit it - whatever works best for you. If you have any permissions troubles please comment

[2020-12-03 04:05] compwron commented on #1253
duplicate of https://github.com/rubyforgood/casa/issues/1333

[2020-12-03 04:05] #1253 closed

[2020-12-03 12:36] notapatch commented on #1403
1) I ran the seeding again to give fresh results with medium dataset.

2) I logged in as one of:
casa_admin1@example.com
supervisor1@example.com

3) Navigated to` localhost:3000/reports` and did not get an eager loading detected ...

What am I missing?

[2020-12-04 16:45] #1333 closed

[2020-12-05 02:46] #792 closed

[2020-12-05 03:25] #1417 closed

[2020-12-10 02:27] compwron opened #1430 "Customize emancipation checklist "empty" options"
**What type of user is this for? volunteer/supervisor/admin/all**
volunteer / all

**Description**
Question: Youth is employed.
replace "empty" with "Not employed"
AND make the first (auto-selected field) "select one" (null in db?) and choosing "Not employed" records that a choice has been made

Question: Youth is attending an educational or vocational program.
replace "empty" with "Not attending"

[2020-12-10 02:34] compwron commented on #1064
@erik-trantt How is it going? Our stakeholders are excited for this! :)

[2020-12-10 02:37] Zrrrpy opened #1431 "emancipation checklist should only display for volunteers with at least one active transition aged youth assignment"
related to #792 (in prod)

AS a volunteer,
I WANT to see Emancipation Checklist in my sidebar menu,
WHEN I am actively assigned to a transition aged youth (including when my non transition aged youth assignment turns 14 and becomes transition aged),
SO THAT I know to begin work on tasks that will prepare them for emancipation.

AS a supervisor/admin,
I WANT to retain access to emancipation checkli

[2020-12-10 02:57] compwron opened #1432 "[bug] supervisor unable to re-assign case to volunteer"
**What is the problem, and what should happen instead?**
on QA, supervisor1 is unable to assign case CINA-00-1015 to volunteer72 https://casa-qa.herokuapp.com/volunteers/1213/edit but should be able to, because the case is active https://casa-qa.herokuapp.com/casa_cases/1190
Could this be because the case *used* to be assigned to that volunteer, and has been unassigned from the volunteer?

**Scree

[2020-12-10 03:40] compwron opened #1433 "Zoe write epic for supervisor feedback notifications"
admin can view but not create

supervisor can create for
- case contact
- case (not for now)???
- a specific item on a specific emancipation checklist for a specific case

proposed (NOT final)
db table: `feedbacks`
columns: `id, created_at, updated_at, from_supervisor_id, to_volunteer_id, item_id, item_type, is_done`

Use cases:
lots of case contacts, volunteer hasn't spoken to school, BUT there's

[2020-12-10 03:49] Zrrrpy opened #1434 "changing organization details other than logo switches back to default logo"
AS an admin,
I WANT my logo to remain the same when I edit non-logo details associated with my `casa_org`,
SO THAT the logo associated with my `casa_org` _only_ changes when _I_ (or another admin) changes it.

### Current behavior
When an admin clicks "submit" on the Edit CASA Org Details page, the logo reverts back to `default logo` (even without changing anything).

Exception: When an admin clic

[2020-12-10 03:56] #1371 closed

[2020-12-10 11:24] compwron opened #1437 "Only send volunteer email reminders for active case assignments"
**What is the problem, and what should happen instead?**
in volunteer.rb:
function `self.email_court_report_reminder`
contains `volunteer.case_assignments.each`

Acceptance criteria:
- [ ] scope this to ACTIVE case assignments
- [ ] write a test

Thanks @FireLemons for finding this! https://rubyforgood.slack.com/archives/CVB0QJGVD/p1607574310223400

[2020-12-10 11:32] compwron opened #1438 "Do not show inactive assignment or inactive case to volunteers. Do not include in supervisor weekly digest."
**What is the problem, and what should happen instead?**
function `case_assignments_with_cases`
contains `case_assignments.includes(:casa_case)`

called by `views/volunteers/edit.html.erb` on line 80
and `views/supervisor_mailer/weekly_digest.html.erb `on line 15

**Acceptance criteria:**

- [ ] Volunteer Edit should NOT include casa cases from which the volunteer has been unassigned (inactive ass

[2020-12-10 11:36] compwron opened #1439 "Exclude inactive case and inactive case assignment from contact in days count"
**What is the problem, and what should happen instead?**
function `made_contact_with_all_cases_in_days?`
contains `total_cases_count = casa_cases.size`
called by `datatables/volunteer_datatable.rb` on line 24

**Acceptance criteria:**

- [ ] Do not include inactive cases (+ Write a test!)
- [ ] Do not include cases unassigned from the volunteer (+ Write a test!)

Thanks @FireLemons for finding thi

[2020-12-10 11:50] compwron opened #1440 "cases_where_contact_made in X days should respect current vs past cases"
**What is the problem, and what should happen instead?**
function `cases_where_contact_made_in_days`
contains `casa_cases`
contains `# TODO this should respect current vs past cases`

**Acceptance criteria:**
- [ ] Write a test!
- [ ] Cases here contact made in X days should respect current vs past cases

Thanks @FireLemons for finding this! https://rubyforgood.slack.com/archives/CVB0QJGVD/p160757

[2020-12-10 11:51] compwron opened #1441 "Case Contacts For should exclude inactive cases and unassigned cases"
**What is the problem, and what should happen instead?**
in `user.rb:`
function `case_contacts_for`
contains `found_casa_case = casa_cases.find { |cc| cc.id == casa_case_id }`

**Acceptance criteria:**
- [ ] Write a test!
- [ ] Exclude inactive cases and unassigned cases

Thanks @FireLemons for finding this! https://rubyforgood.slack.com/archives/CVB0QJGVD/p1607574310223400

[2020-12-10 11:51] compwron opened #1442 "Calculation of volunteers serving transition aged youth should exclude inactive cases and unassigned cases"
**What is the problem, and what should happen instead?**
function `volunteers_serving_transition_aged_youth`
contains `volunteers.includes(:casa_cases).where(casa_cases: {transition_aged_youth: true}).size`
called by `views/supervisors/index.html.erb `on line 31

**Acceptance criteria:**
- [ ] Write a test!
- [ ] Exclude inactive cases and unassigned cases

Thanks @FireLemons for finding this! htt

[2020-12-10 11:52] compwron opened #1443 "Check case assignment status in emancipation checklist sidebar display"
**What is the problem, and what should happen instead?**
function `serving_transition_aged_youth?`
contains `casa_cases.where(transition_aged_youth: true).any?`
called by `views/layouts/_sidebar.html.erb` on line 22 (edited)

**Acceptance criteria:**
- [ ] Write a test!
- [ ] Exclude inactive cases and unassigned cases

Thanks @FireLemons for finding this! https://rubyforgood.slack.com/archives/CV

[2020-12-10 21:49] scottolsen commented on #1356
Looks like this was added in #1411.

[2020-12-10 22:50] compwron commented on #1356
Thanks for pointing that out! I will close this issue.

[2020-12-10 22:50] #1356 closed

[2020-12-11 00:34] erik-trantt commented on #1064
@compwron Sorry for the delay. I got caught up in something, but gonna push it soon. Really excited as it's the last feature of the epic.

[2020-12-11 00:58] compwron commented on #1064
Very cool! :)

[2020-12-11 22:44] scottolsen opened #1447 "Silence db/seeds output during test runs"
**Description**
Thoughts on silencing the output from running the `db/seeds` when running the specs?

[code]

**Existing gem(s), file(s) needing updating, changing or deleting**
none

**New file(s) needing creating**
none

[2020-12-11 23:15] compwron commented on #1447
Yes plz :)

[2020-12-12 02:36] compwron commented on #771
I am closing this as a duplicate / merging with #1086

[2020-12-12 02:36] #771 closed

[2020-12-12 02:49] compwron commented on #1340
As @Thrillberg pointed out, this is still somehow happening in QA so I will reopen this ticket and put it in TODO. @Thrillberg feel free to pick it up if you want & have time but no worries :)

[2020-12-12 02:50] compwron commented on #1367
@GuillermoCoding are you still working on this? :)

[2020-12-12 02:50] compwron commented on #1255
@SMJ289 are you still working on this? :)

[2020-12-12 02:51] compwron commented on #1391
@SMJ289 are you still working on this? :)

[2020-12-12 02:51] compwron commented on #1352
Closing this because it is done in PR #1412

[2020-12-12 02:51] #1352 closed

[2020-12-12 02:56] compwron commented on #899
@duaimei I am going to unassign this from you for now in case we get some cypress enthusiasts, feel free to pick it up again when you want to work on it. :)

[2020-12-12 02:59] compwron commented on #919
I am closing this because it is done

[2020-12-12 02:59] #919 closed

[2020-12-12 03:01] compwron commented on #1070
Hey @duaimei I know we talked about this at office hours. How is it going?

On a technical note, the way I envision this working is a cronjob (like we have to kick off Monday emails) that checks youth birth month and updates the transition_aged_youth db field.

[2020-12-12 03:02] compwron commented on #1042
@jimnanney I'm going to close this for now, feel free to reopen it if you want to get back to it :)

[2020-12-12 03:02] #1042 closed

[2020-12-12 03:03] compwron opened #1449 "Speed up test suite"
Our rspecs (and capybaras) are weirdly slow for how small our codebase is. Try to fix that!

Maybe it's factorybot creating too many objects?

Or bullet, somehow?

Feel free to tune the CI scripts (CI uses Github Actions) if that will help. (but it's slow locally also, so maybe not)
https://github.com/rubyforgood/casa/actions?query=workflow%3Arspec

Or all of the above, or something else! 😅
plz se

[2020-12-12 03:05] compwron commented on #1449
@scottolsen fyi here's a github issue for the slow spec :)

[2020-12-12 03:06] compwron commented on #1071
@Archish27 I am unassigning this because I don't think it's being worked on. Feel free to pick it back up if you have time! :)

[2020-12-12 03:07] compwron commented on #735
@NickSchimek I'm unassigning this from you because I don't think it's actively being worked on. Feel free to pick it up if you have time to dig in!

[2020-12-12 03:08] compwron commented on #1238
I think this is dead in the water 😅
I personally am not feeling a pain that this would solve but I'm happy for it to happen. I don't have permissions for it tho.

[2020-12-12 03:11] NickSchimek commented on #735
Ok thanks for letting me know. I will

On Sat, Dec 12, 2020 at 12:07 PM compwron <notifications@github.com> wrote:

[2020-12-12 03:22] compwron opened #1450 "[Bug] Casa Org Logo disappears after deploy and makes error: ActiveStorage::FileNotFoundError"
This is an issue that happens, posts to bugsnag, and shows up in #casa-bots

On 23 December 2020, Zoe and I debugged and found that
Every time we deploy to staging, the staging logo goes away (the image disappears)
But upon inspecting the age, there remains a url associated with the logo. Example from today:
[code]
![missinglogo](https://user-images.githubusercontent.com/578159/103057388-2f6a5800-

[2020-12-12 03:24] compwron opened #1451 "Add QA link and logins to our New Issue github template for convenience"
See our `.github` folder in the code

[2020-12-12 03:28] compwron opened #1452 "[bug] non-numeric sort order for View volunteers page column Contacts made in last 60 days"
![Screen Shot 2020-12-11 at 7 25 42 PM](https://user-images.githubusercontent.com/578159/101971550-f098e180-3be6-11eb-970b-314ca1fc7d7c.png)
![Screen Shot 2020-12-11 at 6 57 44 PM](https://user-images.githubusercontent.com/578159/101971553-f262a500-3be6-11eb-89b7-b0c458e45524.png)
https://casa-qa.herokuapp.com/volunteers

[2020-12-12 03:38] GuillermoCoding commented on #1367
Hi @compwron, I was just about to post a comment on this issue and unassign myself to see if anyone else wants to pick it up (: it's been busy this last couple of weeks for me, and don't think I will have some time to work on it for now. Hoping someone else can work on this! 😄

[2020-12-12 03:41] compwron commented on #1056
no longer relevant

[2020-12-12 03:41] #1056 closed

[2020-12-12 03:42] compwron commented on #1396
This could use some clarification

[2020-12-12 03:45] compwron commented on #1367
Very cool. No worries. :) We'll be here when you have time!! 💖

[2020-12-12 13:37] scottolsen commented on #1310
@littleforest How is this coming? I'd be happy to help as I think this is the last item in my quest to clean up the spec output.

[2020-12-12 15:33] littleforest commented on #1310
@scottolsen if you don't mind adding at least one spec (if reasonable) for the pending spec files, that would be great!

[2020-12-12 15:39] #1447 closed

[2020-12-12 15:43] littleforest commented on #1238
I would still really like to get this set up unless it is a financial issue! I often want to review the UI for PRs, and it would be so much faster to do it in a review app than pulling the code locally. Will ping in Slack about this.

[2020-12-12 16:09] scottolsen commented on #1449
After a quick look around, I suspect this is mainly `FactoryBot` creating unneeded associations and Capybara in the system tests. 19 of the 20 slowest tests are system tests and they all take over 1.5 seconds.

Also, one of the slower [user model specs](https://github.com/rubyforgood/casa/blob/75021c75b01caa2a0f3ddd610d5412a705c96340/spec/models/user_spec.rb#L35) I checked, creates around 50 datab

[2020-12-12 16:12] littleforest commented on #1449
@scottolsen what did you run to get this fancy report?

[2020-12-12 16:34] scottolsen commented on #1449
@littleforest Pulled it from [factory_bot](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#activesupport-instrumentation). I need to tweak it so it only runs when a spec is tagged appropriately.

[code]

[2020-12-12 16:44] scottolsen commented on #1449
This is the entire test suite. Orgs really jump out at me as being way higher than it should be.

[code]

[2020-12-12 17:56] littleforest commented on #1449
Since most of these tests are meant to run within the same organization anyway, maybe in the factory we can use the first created `casa_org` unless one is explicitly passed.

[2020-12-12 18:04] scottolsen commented on #1449
@littleforest great minds think alike! I'm going through all the Factories now and adding a check to use the first org if there is one, otherwise create one.

[code]

[2020-12-12 18:07] scottolsen commented on #1449
I'm also unsure what the `@overrides` does. I don't see it used anywhere except in factory definitions.

[code]

[2020-12-12 20:58] scottolsen commented on #1450
Is there any more info in BugSnag on this? Wondering if it happens on a certain page?

[2020-12-12 23:20] littleforest commented on #1449
@scottolsen I think it's okay to remove that.

[2020-12-13 03:09] jhsu802701 opened #1460 "Add railroady and rails-erd gems for generating block diagrams"
I'd like to add the railroady and rails-erd gems for making it possible to AUTOMATICALLY generate block diagrams.  Unfortunately, adding them to the Gemfile and running "bundle install" in the Docker environment leads to the error message:
[code]

[2020-12-13 06:39] jhsu802701 opened #1461 "Tests failing (Docker setup)"
When I run the docker/build script, the following errors happen when running the test suite:
[code]

[2020-12-13 06:40] jhsu802701 commented on #1461
Given that the test suite passes in the continuous integration environment, it appears that the test failures are specific to the Docker environment.

[2020-12-13 06:43] #1310 closed

[2020-12-13 06:43] #1434 closed

[2020-12-13 06:52] jhsu802701 commented on #1461
The output of "cat /etc/os-release" in the continuous integration environment is:
[code]

[2020-12-13 07:21] compwron commented on #1460
At one point we had ...some... gem that auto-generated diagrams but I removed it because it required installing imagemagick locally and that was hard for new contributors who didn't have docker. So I am a little wary of this. But as long as it doesn't complicate the repo setup process, I'm game :)

[2020-12-13 07:23] compwron commented on #1461
Hmm I thought we fixed this already. I do want to add a docker section to our CI to prevent this kind of thing. @littleforest do you have any ideas here? :)

[2020-12-13 07:26] #1336 closed

[2020-12-13 15:37] littleforest commented on #1460
@jhsu802701 to add new gems with Docker, you need to have a container running already. So:

1. Stash your changes to the Gemfile
2. Start a web container
3. Unstash Gemfile changes
4. Run: `docker-compose exec web bundle`

[2020-12-13 15:43] jhsu802701 commented on #1461
The Docker environment has Alpine Linux.  One option is a switch to Debian Linux or Ubuntu 18.04 in the Docker environment.  The greater the difference between the Docker environment and the CI environment, the harder it is to deal with the "but it works on my machine" problem.

[2020-12-13 16:00] jhsu802701 opened #1465 "CodeClimate Maintainability Badge is broken"
The CodeClimate Maintainability Badge is no longer working.  It should be fixed or replaced.

[2020-12-13 17:34] littleforest commented on #1461
@jhsu802701 I'm seeing those errors too. I'll take a look later this afternoon.

[2020-12-14 05:12] #1452 closed

[2020-12-14 05:13] #1441 closed

[2020-12-14 05:50] cjilbert504 commented on #1242
So I think I have this sorted out but I don't know how to write the spec for it. I've tried a bunch of things and spent a while getting my google-fu on to no avail. I'm going to submit a PR for what I have for review and I would love to pair with someone to see about how to write this spec.

[2020-12-14 13:17] pollygee commented on #1238
Sorry! I never saw this!  My github notifications are a bit prolific.  Is this something we still want to do?  Do we have an idea on the charges for this?

[2020-12-15 00:46] #1437 closed

[2020-12-15 05:32] erik-trantt commented on #1396
@compwron I can see that those contacts without any contact types are not showing up in the court report. Is this the issue you mentioned?

[2020-12-15 06:55] compwron commented on #1396
@erik-trantt aha yes that makes sense that the contacts without contact types would not show up. All contacts should have at least 1 contact type. I suspect that we have weird data in prod that is the cause of that bug- I'll make sure that we take care of that.

[2020-12-15 06:57] #1064 closed

[2020-12-15 06:57] #1239 closed

[2020-12-15 13:55] scottolsen commented on #1237
@compwron It looks like we are using `must_be_admin` in quite a few of the controllers. I'm thinking this should probably be removed and replaced with the Pundit authorization as part of this PR. Thoughts?

[code]

[2020-12-15 14:46] scottolsen commented on #1237
I think this is pretty close to everything we want to do.

- [ ] Make all policies inherit from `ApplicationPolicy`
- [ ] Clean up duplication methods
- [ ] Verify all policies have matching spec for all actions
- [ ] Add `authorize` helper to all controller actions
- [ ] Add `after_action :verify_authorized` to `ApplicationController`
- [ ] Remove all `before_action :authenticate_user!` from cont

[2020-12-15 16:15] littleforest commented on #1450
The issue is that we don't have any permanent storage set up for production for ActiveStorage. On staging we have a single logo stored for the "Red Panda CASA" org, but since storage is ephemeral, it can no longer find the image. Should we just remove the attachment from the casa org record? We're not having this issue on production since we only have one casa org, and the casa logo is stored as p

[2020-12-15 16:17] littleforest commented on #1450
(@compwron issue is only happening in staging per BugSnag, and I double checked QA db, which doesn't have any ActiveStorage records.)

[2020-12-15 16:35] littleforest commented on #1450
@pollygee any updates on file storage solutions?

[2020-12-15 16:41] littleforest commented on #1238
@pollygee so I think we would just get charged the $7/mo rate, prorated to the number of minutes we are actually running the review apps. So if we only manually create the review apps when we would like to easily review a UI change, and if we are good about deleting them when we are finished, then I don't think we would rack up more than a few days a month of charges, which wouldn't be very much.

[2020-12-15 16:44] #1265 closed

[2020-12-15 16:56] #1461 closed

[2020-12-15 17:54] #1340 closed

[2020-12-15 18:52] ctreptow commented on #1054
Will take this one.

[2020-12-15 20:07] Zrrrpy commented on #1431
already done, closing out

[2020-12-15 20:07] #1431 closed

[2020-12-15 20:11] Zrrrpy commented on #1370
@compwron have you been able to verify the query includes unassigned volunteers? I tested this manually after Power folks worked on it and it was _not_ including unassigned volunteers at that time.

Let's close this out if it's working as it should!

[2020-12-15 20:33] edwja commented on #1432
It turns out that @compwron was correct.  The Volunteer edit side does not include previously assigned, inactive cases when looking for unassigned cases to present is the list of assignable cases.

[2020-12-15 20:37] Zrrrpy commented on #1432
Thank you for investigating and confirming, @edwja! 🕵️‍♂️  We definitely want volunteers to be able to get reassigned to cases that may have previously been assigned to them, as long as they're active. Are you up to take this on?

[2020-12-15 20:46] Zrrrpy commented on #1232
this has been done and is in staging!

[2020-12-15 20:46] #1232 closed

[2020-12-15 21:19] Zrrrpy commented on #1118
this is done! closing out

[2020-12-15 21:20] #1118 closed

[2020-12-15 21:22] #1430 closed

[2020-12-15 22:01] compwron commented on #1237
Sounds like a good plan!

[2020-12-15 22:10] Zrrrpy commented on #1395
@compwron I think once #1274 is done this _should_ be resolved as long as it's only happening on mobile. Thoughts on closing this and reopening if it's still happening once #1274 is done?

[2020-12-15 23:20] erik-trantt commented on #1396
@compwron Cool 👍 . Then I think we should add validation on that in the CaseContact model. It currently has the association `has_many` but no validation. What do you think?

[2020-12-15 23:22] compwron commented on #1396
@erik-trantt sounds good but make sure the validation is on save and doesn't prevent showing existing data, or include a `after_party` to set to "unknown" or similar

[2020-12-15 23:35] systemnate opened #1486 "Tabs separate cases for volunteers"
This is a continuation of #735 - when we picked it up, we thought it was a 2 part card:

-  Convert from a table to a card-based view and
-  Add the tabs

We converted to use a card-based view, but never got to add the tabs.  Therefore, I am relaying the previous cards information here.  **This card is just for adding the tabs.**

# Context
Through user research, @taysvea has found that it's rare

[2020-12-15 23:36] #1451 closed

[2020-12-15 23:48] #1242 closed

[2020-12-15 23:49] #1399 closed

[2020-12-15 23:50] #1054 closed

[2020-12-15 23:51] #1432 closed

[2020-12-15 23:54] compwron opened #1487 "Remove filler text"
https://github.com/rubyforgood/casa/pull/1484/files

And/or replace it with something our users will recognize, like "coming soon" - they are not savvy and this kind of thing confuses them

[2020-12-16 05:08] #1440 closed

[2020-12-16 08:26] #1439 closed

[2020-12-16 11:43] scottolsen opened #1492 "Rack Attack Specs in pending state"
**What is the problem, and what should happen instead?**
It looks like the [`freeze_time` change](https://github.com/rubyforgood/casa/pull/1475/commits/736c0fd5aa5105fd854eaa011955b9d2b5c54a11) in #1475 is causing the specs in `spec/config/initializers/rack_attack_spec.rb` to be in a pending state when running locally (not through Docker) and on [Github actions](https://github.com/rubyforgood/casa

[2020-12-16 14:59] erik-trantt commented on #1396
I'm running into these findings:
  - It currently has a validation in JavaScript `app/javascript/src/case_contact.js`. My gut tells me that the weird data you mentioned might have been there before the JavaScript validation.
  - After add that validation to CaseContact model, existing case contacts are still showing and editable, including those without any contact types
  - but, 4 tests fail for

[2020-12-16 15:07] edwja commented on #1432
Yes!

[2020-12-16 20:38] bjthompson805 commented on #1408
@compwron I'm going to give this a shot.

[2020-12-16 20:39] littleforest commented on #1408
Great!

[2020-12-16 20:44] #1492 closed

[2020-12-16 20:48] #1237 closed

[2020-12-16 22:00] bjthompson805 commented on #1408
For this are you looking to move all of the formats in date_format.rb into en.yml, or do you want to use the existing day_and_date for everything?

[2020-12-16 22:06] littleforest commented on #1408
Please move all of the formats in the `date_format.rb` ento `en.yml`. You can also rename `day_and_date` to something else if you need to.

[2020-12-16 23:40] Zrrrpy opened #1494 "make emancipation checklist dynamic"
As a **volunteer** (or admin/supervisor, but mostly volunteer),
when I am using my Emancipation Checklist,
I want to only see items associated with each header category _after_ I check the box associated with that header category,
so that my checklist is more focused and less cluttered.

### How it works now
Everything displays all the time, regardless of user input. This makes the list long and o

[2020-12-17 00:32] Zrrrpy opened #1495 "Feedback loop between Volunteers & Supervisors"
### Context
This application seeks to replace outdated tactics for managing volunteers currently used by stakeholders with a more unified, efficient tool suite.

One of those tactics involves the way volunteers and supervisors relay information in regards to `case_contacts`.  Currently, supervisors utilize a variety of communication tools (SMS, email, phone) to tell a volunteer that they need to f

[2020-12-17 00:58] Zrrrpy opened #1496 "All users can flag a case_contact that requires followup"
Part of epic #1495

As **any user**,
I want the ability to flag a `case_contact` that requires followup,
so that the `volunteer` assigned to that case (even if that is myself) knows that further action is required.

### Acceptance Criteria
- [ ] a "Follow up" alert button displays on all `case_contacts` _logged within this quarter_
- [ ] this button displays to the left of the "Edit button" on des

[2020-12-17 01:22] Zrrrpy opened #1497 "Followups generated by different user roles are distinguishable from each other"
As **any user**,
I want followups generated by `volunteers` to appear as _orange circles_ and followups generated by `supervisors` and `admins` as _red triangles_,
so that I can easily distinguish between followups generated by different users and prioritize accordingly.

### How it works now
Well, at this exact moment it doesn't, but it will once #1496 is complete. Then, there will only be one sy

[2020-12-17 02:15] Zrrrpy opened #1498 "case_contacts should display according to recency in descending order (most recent at top)"

[2020-12-17 03:06] Zrrrpy opened #1500 "change meta data that appears under header on case_contact cards"
### How it works now
The metadata that appears under headers on page cards is not the neatest and is confusing to read.

### How it should work instead
`case_contact` cards should look like this example (example does not include notes):

**Placement, Social Services, Health**
Foster Parent, Social Worker, Mental Health Therapist
June 14, 2020 | 4 hours | Contact Made | 40 miles | Reimbursement

##

[2020-12-17 03:13] Zrrrpy opened #1501 "remove table from bottom of case_contacts and my cases page"
This table should be removed because we don't need it anymore!
<img width="1374" alt="Screen Shot 2020-12-16 at 7 11 28 PM" src="https://user-images.githubusercontent.com/62810851/102439323-edc93280-3fd2-11eb-8fbe-68de423292d4.png">

[2020-12-17 03:27] #1498 closed

[2020-12-17 03:27] #1501 closed

[2020-12-17 03:37] compwron commented on #1241
I think we fixed this - I couldn't replicate it.

[2020-12-17 03:37] #1241 closed

[2020-12-17 03:46] Zrrrpy opened #1502 "Paginate view of Case Contacts"
### Acceptance Criteria
- [ ] up to 20 `case_contacts` display on a page at once
- [ ] user can click "Next" at the bottom of the page to see more
- [ ] if there are multiple pages of `case_contacts`, then the user can choose which one to click on, like in this example:
< last page 1, 2, 3,...4, 5, 6 next page >

[2020-12-17 15:47] SMJ289 commented on #1391
@compwron hey, sorry I started an internship and have been preoccupied with that! Wow, it's been a while since I assigned myself this. I would be happy to pass it along. I figured out the other sorting ticket #1255 and could quickly commit and push that change but these tests will take a lot more time to implement.

[2020-12-17 15:50] SMJ289 commented on #1255
@compwron sorry again! As per my comment on the other issue I opened up, I have figured out how to sort these but haven't found the work up the corresponding tests. Should I make a PR with the sorted contact types in leu of tests for now?

[2020-12-17 18:16] compwron commented on #1255
@SMJ289 no worries! yes please do. Don't worry about making it pretty, just make a PR and I will take it the rest of the way :)

[2020-12-17 18:17] compwron commented on #1391
@SMJ289 No worries! Congrats on the internship :) :)

[2020-12-17 22:06] Zrrrpy opened #1505 "seed case_contacts should contain contact_types"
As a **contributor**,
I want `case_contacts` in QA to contain `contact_types`,
so that data in QA more closely resembles data in prod.

### How it works now
Nearly all of the seed data currently in QA for `case_contacts` is missing `contact_types`.
![without](https://user-images.githubusercontent.com/62810851/102549524-1acc2280-4071-11eb-8b08-1d2e93530eae.png)

### How it should work instead
Seed

[2020-12-17 22:22] Zrrrpy opened #1506 "open followups can be resolved by any user"
Part of epic #1495 | dependent on #1496

As **any user**,
I want the ability to resolve an open follow up on a `case_contact`,
so that other users viewing the `case_contact` see that action has been taken.

### How it works now
It doesn't! This is a brand new feature.

### Acceptance Criteria
- [x] Any user can resolve any open follow up (even if they didn't create the follow up)
- [x] Clicking th

[2020-12-17 22:44] Zrrrpy opened #1507 "supervisors/admins are notified when volunteer closes followup generated by them"
Part of epic #1495 | dependent on #1496

As a `supervisor` or `admin`,
I want to receive a notification when a `volunteer` resolves a follow up I generated on a `case_contact` associated with their `case_assignment`,
so that I know when the followup task has been completed.

### How it works now
When #1506 is complete, any user will be able to resolve a follow up, but the only way to know that fol

[2020-12-17 22:47] scottolsen commented on #1502
This looks related to change made in #1485 because we changed it from a `table` to `div`s. I don't have any experience with the [datatables.js](https://datatables.net/) library that is being used but I'm assuming it only works for tables.

Do we want to revert removing the table or use something like [Kaminari](https://github.com/kaminari/kaminari) for the pagination and try to match the styling?

[2020-12-17 22:50] Zrrrpy commented on #1502
we definitely don't want to bring the table back, I'll defer to @littleforest or @compwron on recs for accomplishing this while matching the styling. Thank you @scottolsen! We appreciate you and the whole Merchants team! 😄

[2020-12-17 23:03] Zrrrpy opened #1508 "volunteers are notified when a supervisor or admin has generated a follow up for a case_contact associated with their case"
Part of epic #1495 | dependent on #1496 & #1507

As a `volunteer`,
I want to be notified when a `supervisor` or `admin` has added a follow up to a `case_contact` associated with a `case` I am actively assigned to,
so that I know to take the steps necessary to resolve that follow up.

### How it works now
After #1496 is completed and deployed to prod, `volunteers` will have no way of knowing when a

[2020-12-17 23:12] compwron commented on #1502
We had a BIG PR recently for making pagination faster. It was more or less instead of using Kaminari. Let me dig it up. I would like to keep what we have? But I could be convinced to move to Kaminari or similar if what we already have doesn't get it done.

[2020-12-17 23:14] #1500 closed

[2020-12-18 10:36] scottolsen commented on #1502
I agree it would be nice to keep things consistent with the pagination but from what I've read about Datatables.js it won't work with the current layout of `case_contacts`. I'm also curious what slowness issues you had with Kaminari?

A few more questions I have about this card. This appears to be a Volunteer only view and the way it's currently setup I think it will be a little weird to have pagi

[2020-12-18 17:24] Zrrrpy commented on #735
I'm not sure why this issue was closed @scottolsen, reopening!

( @compwron lmk if this should remain closed )

[2020-12-18 17:29] compwron commented on #1502
We didn't try Kaminari yet

Sorry I was talking about pagination based on a supervervisor/admin viewing all volunteers or all cases etc. :)

[2020-12-18 17:32] Zrrrpy commented on #1502
just reopened #735 @scottolsen! Not sure why that was closed, but I'm sure @compwron will tell us if there was a reason. 😃

There are two other places where pagination occurs (@compwron just referenced one of them):
1 - on the "cases" view for `admins` and `supervisors`(https://casa-qa.herokuapp.com/casa_cases)
2 - on the CASA Case Details page viewable by all users. (example: https://casa-qa.hero

[2020-12-18 23:01] NickSchimek commented on #735
The PR mentioned that it was only partially completed, and that the second half would be finished if there was time. It seems like they didn't have time to finish. Perhaps @scottolsen needs to be removed as an assignee to allow someone to pick this up and finish the second half?

[2020-12-19 00:48] #1443 closed

[2020-12-19 20:34] FireLemons commented on #1442
note to self: in `user.rb`

[2020-12-19 22:38] FireLemons commented on #1438
The volunteer edit is actually fine because it already takes into account inactive and unassigned cases.

What happens if a volunteer performs actions and is unassigned in the same week. Does the supervisor still want to see the activity in the email?

[2020-12-20 04:57] duaimei commented on #899
sounds good!

[2020-12-20 19:20] #1255 closed

[2020-12-20 19:24] compwron commented on #1438
That's an interesting question... @Zrrrpy what do you think?

[2020-12-21 00:34] #1408 closed

[2020-12-21 19:29] bjthompson805 commented on #1409
@compwron I'm gonna give this a go.

[2020-12-21 20:36] bjthompson805 commented on #1409
Are you thinking to create a new custom github action for this, or is there one out there? I don't see any on the marketplace but I did find this which would work, just need to fork it and modify it:

https://github.com/JasonEtco/slash-assign-action

[2020-12-21 23:13] compwron commented on #1409
I'm *hoping* that we don't need to fork anything to do simple "Hello are you working on this" on ALL open PRs (irregardless of recently-updated state) - just setup a cron "scheduled action"

To detect recent activity might take a script with some github API usage in addition (or a forked action)

To auto-unassign we will need github API usage (or a forked action)

I would be very happy with the Si

[2020-12-22 06:08] #1442 closed

[2020-12-23 07:17] FireLemons commented on #1494
What does it mean for a category to be checked but none of the options selected?

[2020-12-23 18:41] Zrrrpy commented on #1494
here's an example of a category that is checked with no corresponding items or "options" beneath it selected, @FireLemons:

- [ ] Youth has income to achieve self sufficiency.
   - [ ] Employment
   - [ ] Public Benefits/TCA
   - [ ] SSI
   - [ ] Inheritance/survivor benefits.

So in this case, the items beneath the category _should_ display _because_ their corresponding category is checked.

If a

[2020-12-24 02:35] compwron commented on #1450
![Screen Shot 2020-12-23 at 6 34 29 PM](https://user-images.githubusercontent.com/578159/103052263-8de00800-454d-11eb-8c8a-b9068751b6d7.png)
![Screen Shot 2020-12-23 at 6 34 11 PM](https://user-images.githubusercontent.com/578159/103052268-90426200-454d-11eb-886c-03bfbfc31a1d.png)
[code]

[2020-12-24 13:41] pollygee commented on #1450
@littleforest not sure if you saw my post in slack - I was able to apply for the Azure credits we're just waiting on them to get approved.

[2020-12-25 01:52] littleforest commented on #1450
@pollygee great! Let me know when they are approved, and I can set up ActiveStorage to fix this bug.

[2020-12-26 06:55] compwron opened #1517 "[BUG] Case Contacts report Notes field does not have complete note"
**What is the problem, and what should happen instead?**
When logged in as an admin and downloading case contact report, the "notes" field has incomplete notes, and has html in it.

**Screenshots of current behavior, if any**
https://casa-qa.herokuapp.com/reports
![Screen Shot 2020-12-25 at 10 53 11 PM](https://user-images.githubusercontent.com/578159/103146864-0f799680-4704-11eb-8cb6-e9183e8a109a

[2020-12-26 20:51] bjthompson805 commented on #1409
Wouldn't we want to comment on open ISSUES instead of PRs because the issue may not have a PR but may need to be unassigned?

[2020-12-28 15:58] compwron commented on #1409
@bjthompson805 good point, it should be issues.

[2020-12-30 18:39] bjthompson805 commented on #1505
I'll take this.

[2020-12-30 20:32] cliftonmcintosh commented on #859
What's the expected behavior of the case has not had contact types defined for it by a supervisor? Does that ever happen or is it never supposed to happen? If it does happen, what contact types should be shown? Show all contact types?

[2020-12-30 21:57] bjthompson805 commented on #1465
I think I would need access to the rubyforgood account on Code Climate, it seems to be something with the account. I just added my fork of the casa repo and it worked (Maintainability 'B': https://codeclimate.com/github/bjthompson805/casa)

[2020-12-31 02:06] #1505 closed

[2020-12-31 02:36] #1409 closed

[2020-12-31 03:42] compwron commented on #1156
We have AWS login working!

[2020-12-31 17:29] bjthompson805 commented on #1363
I'll take this.

[2020-12-31 18:35] bjthompson805 commented on #1362
I'll take this as well, since it's related to #1363.

[2020-12-31 18:55] littleforest opened #1530 "Remove casa_org_logos table"
## Description
We have a `CasaOrgLogo` model that was holding the "branding" data for a CASA organization, including a `url` field for a logo. However, we now have Active Storage set up on the `CasaOrg` model that attaches to a logo. It looks like most of the fields in the `casa_org_logos` table are not being used anymore, so it should just be removed.

- [x] Have the [alt text](https://github.com

[2021-01-02 04:03] #1362 closed

[2021-01-02 04:07] #1363 closed

[2021-01-02 04:09] #859 closed

[2021-01-02 04:25] seanmarcia commented on #1238
This has been enabled!

[2021-01-02 18:59] littleforest commented on #1238
You rock! Thank you! Re-opening since there is a little configuration set up to be done still.

[2021-01-03 07:55] #1517 closed

[2021-01-03 07:57] #1494 closed

[2021-01-03 14:36] pollygee commented on #1156
@Zrrrpy @compwron can we please chat this week about how we want to implement "upload arbitrary files" now that it's possible with azure, we can decide where we want an upload button and what workflow we want with these files.

[2021-01-03 16:25] littleforest opened #1537 "Update Heroku stack"
**Description**
Apps are heroku-18 but need to be upgraded to heroku-20. Also update app.json file.

[2021-01-03 16:56] littleforest opened #1539 "Upgrade Postgres version to 12.5 for Docker"

[2021-01-03 17:17] littleforest opened #1541 "Automate moving bot-unassigned issues back to To-Do in Projects"
When the bot unassigns issues that are in the "In Progress" column for the CASA Volunteer Portal project, then they should be moved back to the "To Do" column.

[2021-01-03 17:17] littleforest commented on #1541
@bjthompson805 is this possible?

[2021-01-03 19:21] bjthompson805 commented on #1541
Yes it is. What about if they're in the Merged to QA or Done column?

[2021-01-03 19:25] bjthompson805 commented on #1541
I'll do this in the existing github action, please assign to me.

[2021-01-03 21:04] compwron commented on #1541
I don't think that we need/want anything in particular to happen to cards in Merged to QA or Done columns

[2021-01-04 17:47] littleforest commented on #1238
Reopening since configuration isn't correct and builds aren't working.

[2021-01-04 18:18] #1238 closed

[2021-01-04 18:22] #1541 closed

[2021-01-05 01:38] bjthompson805 commented on #1405
@littleforest Are you working on this or can I take it?

[2021-01-05 01:54] bjthompson805 commented on #1274
I'll take this.

[2021-01-05 02:08] bjthompson805 commented on #1274
@Zrrrpy, I'm not seeing the issue with the "Pick displayed columns" button in Cases view for admins/supervisors. Here's what I see (the buttons don't seem to run into each other like they do on some of the other pages).

![image](https://user-images.githubusercontent.com/40772561/103598518-0b960300-4ec0-11eb-889c-36da0c360c6d.png)

[2021-01-05 02:18] littleforest commented on #1405
@bjthompson805 you can take it!

[2021-01-05 22:08] compwron opened #1553 "Fix erb lint build"
there’s a bug in the latest erb_lint version with Rails 6.1 which is causing errors with the Github Actions: https://github.com/Shopify/erb-lint/issues/197

It’s installed directly as part of the Github action. But we could move the gem into the :development, :test section of the Gemfile and fix the version, and then remove the gem installation step from the Github action file.

[2021-01-05 23:49] Zrrrpy opened #1555 "contact_type filter broken in report generator"
### Impacted user types
Admins and Supervisors

### Environment
Staging and Production

### Current behavior
All `contact_types` within a specified time frame display in a generated report, even when filtering by only one `contact_type`.
This filter [generated this report.](https://docs.google.com/spreadsheets/d/1HVl5f3WgqM8EGUXQhYJox7KSawqbO0nyarkcctqvUxA/edit?usp=sharing)
![grandparents](https:/

[2021-01-06 00:36] Zrrrpy opened #1556 "Contact_type Group filter causes an unhandled error when generating reports"
### Impacted User Types
supervisors and admins

### Environment
staging and production

### Current Behavior
Filtering a report by a contact_type group results in an unhandled error.
These filters generated the below error:
![group](https://user-images.githubusercontent.com/62810851/103715009-596c4300-4f74-11eb-83a4-b597efb978fb.png)
![unhandled group error](https://user-images.githubusercontent.c

[2021-01-06 00:43] Zrrrpy commented on #1556
@compwron or @pollygee can one of you add bugsnag details [for this error](https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1609888823258800) when you get a chance? (or share login details with me?)

[2021-01-06 06:43] #1539 closed

[2021-01-06 21:43] rpolley commented on #1048
Going to take a stab at this.

[2021-01-06 23:47] pollygee commented on #1556
Error message is
```vendor/bundle/ruby/2.7.0/gems/activerecord-6.1.0/lib/active_record/connection_adapters/postgresql_adapter.rb:678:in `exec_params': PG::GroupingError: ERROR:  column "casa_cases.id" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: ...nt" AS t0_r10, "case_contacts"."notes" AS t0_r11, "casa_case...```

also, @Zrrrpy I sent you an invite to create your

[2021-01-06 23:51] Zrrrpy commented on #1556
thank you @pollygee !!

[2021-01-07 03:10] compwron opened #1560 "Send priming emails from All-CASA Admin"
**What type of user is this for? volunteer/supervisor/admin/all**
All-CASA Admin (NOT regular Admin)

**Description**
![bad-mockup](https://user-images.githubusercontent.com/578159/103846139-55165780-5052-11eb-9fd9-05e613e6e44a.png)
![Screen Shot 2021-01-06 at 7 11 32 PM](https://user-images.githubusercontent.com/578159/103846541-306eaf80-5053-11eb-92df-41c382ec547b.png)

_QA Login Details:_
url:

[2021-01-07 06:53] FireLemons opened #1564 "Many join tables allow for duplicate records"
Namely the tables are: `casa_case_contact_types`, `casa_case_emancipation_categories`, `casa_cases_emancipation_options`, and `case_contact_contact_types`

Steps to recreate:
Open the rails console with `rails console`
run `CasaCase.first.contact_types << ContactType.first` thrice
run `CasaCase.first.contact_types` to see the result which is

    #<ActiveRecord::Associations::CollectionProxy [

[2021-01-07 08:07] #1496 closed

[2021-01-07 08:08] compwron opened #1565 "Add a system test for reports with filters"
I'm wondering if we should have 1 system test that uses all these
attributes to generate a CSV and compare it to what we think it should be.
https://github.com/rubyforgood/casa/pull/1558

[2021-01-07 08:09] #1555 closed

[2021-01-07 08:10] #1048 closed

[2021-01-07 18:37] bjthompson805 commented on #1405
@compwron I'm really new to Rails and wondering if you could help me figure out where this call is being made that I can add `.includes([:logo_attachment])` as it is suggesting. Here is what 99% of the errors are the first time I ran with `Bullet.raise = true`, any help is appreciated!:

      Bullet::Notification::UnoptimizedQueryError:
        user: root
        GET /casa_cases
        USE eager

[2021-01-07 19:51] littleforest commented on #1405
@bjthompson805 these can be tricky. In this case it should go on the `in_organization` scope in the users model:

[code]

[2021-01-08 06:35] cjilbert504 commented on #1391
@compwron I'd like to give this a go if that's cool!

[2021-01-08 09:02] compwron commented on #1391
All yours, go for it :)

[2021-01-08 17:14] #1565 closed

[2021-01-09 01:03] littleforest commented on #1537
Will work on this next week.

[2021-01-09 01:36] #1556 closed

[2021-01-09 18:26] scottolsen commented on #1495
@Zrrrpy I'm curious if any of the below are valid scenarios?

- A case contact to have multiple followups open at once? Possibly a volunteer and admin both mark it?
- After a followup is resolved, should that case contact every allow another followup?

[2021-01-10 00:28] compwron opened #1573 "Admin default view of all supervisors - sort"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
Sort supervisors by name. Make all columns sortable. Do not add filters (we dont expect to have very many supervisors per org so there's no point)

**Screenshots of current behavior, if any**
![Screen Shot 2021-01-09 at 4 26 15 PM](https://user-images.githubusercontent.com/578159/104111508-6ac88e80-5297-11eb-8

[2021-01-10 19:31] #1497 closed

[2021-01-11 01:09] littleforest commented on #1405
@bjthompson805 since I commented 3 days ago, shouldn't this not get marked as inactive?

[2021-01-11 01:12] littleforest commented on #1450
Fixed by #1528

[2021-01-11 01:12] #1450 closed

[2021-01-11 01:51] bjthompson805 commented on #1405
Yeah it shouldn't. I'll look into that.

[2021-01-11 20:41] bjthompson805 commented on #1405
@littleforest I fixed the issue, let me know if you see anything else.

[2021-01-11 22:15] Zrrrpy commented on #1495
Thank you for working on this, @scottolsen! 🙏🏼  Apologies for the delayed reply.
Once a followup is added to a case contact, it should not be possible to add another one – even across user types (volunteer/supervisor/admin).
Yes, new followups should be able to be added to a case contact after an outstanding followup is resolved.

[2021-01-11 22:35] littleforest commented on #1405
Great, thanks @bjthompson805 !

[2021-01-12 04:26] #1564 closed

[2021-01-12 04:29] #1530 closed

[2021-01-12 19:30] ErinClaudio commented on #1257
Hello,
I would love to tackle this one, but I could use a little guidance.
I am currently reviewing the en.yml file.

[2021-01-12 20:18] Zrrrpy commented on #1257
@compwron @littleforest any pointers for @ErinClaudio?

[2021-01-12 21:08] compwron commented on #1257
@ErinClaudio there are strings in ERB files which are english text. We want to move these (one or a few at a time, not all at once) to en.yml so that we can have them in a central location and if we ever do translations to spanish, french etc then this is a pre-step for that also.
So an example is - in file https://github.com/rubyforgood/casa/blob/main/app/views/judges/new.html.erb the string "New

[2021-01-12 21:09] compwron commented on #1257
We're too small to worry about most of this stuff but https://phrase.com/blog/posts/rails-i18n-best-practices/ is something to read about the principles behind all this :)

[2021-01-13 18:43] rpolley commented on #1573
Going to take a look at this.

[2021-01-14 02:15] compwron opened #1585 "replace all emoji with SVG 🐛🦋❌"
Replace all emoji with SVG 🐛🦋❌

Because emoji don't look good/consistent everywhere (firefox/IE/edge) and we want to look good everywhere!

[2021-01-14 02:18] compwron opened #1586 "re-enable the erb lint part of the build"
https://github.com/rubyforgood/casa/actions?query=workflow%3A%22ERB+lint%22

now that we have the new erb lint version, this shouldn't fail all the time...

[2021-01-14 02:58] #1586 closed

[2021-01-14 03:07] compwron opened #1588 "Bot move unassigned issues from In Progress column to To Do"
It would be nice to have the bot move unassigned issues from the In Progress column to To Do

The bot is https://github.com/bjthompson805/move-issues
Configured by `.github/workflows/issue-auto-unassign.yml` and other files in `.github/workflows/`

[2021-01-14 03:29] compwron opened #1589 "add friendly language to github issue unassign"
Hey github_user, thanks for picking up this issue and supporting CASA! It looks like there hasn’t been any activity on this ticket in [days]. To keep things moving, you will be unassigned from this issue in two days if there’s no new activity on it by then. But we encourage you to pick this issue (or a new one) back up in the future!

You’ve just been unassigned from this ticket due to inactivity

[2021-01-14 03:45] compwron commented on #1438
@FireLemons
If a volunteer performs actions
- and is unassigned from a supervisor in the same week
- and **not** assigned to another supervisor
then the supervisor should see the activity in the email
and the email should indicate that the volunteer is unassigned

If a volunteer performs actions
- and is unassigned from a supervisor in the same week
- and **is** assigned to another supervisor, the

[2021-01-14 03:59] compwron opened #1590 "Add sad path test coverage for emancipation"
How to view test coverage: run `bundle exec rspec` and then `open coverage/index.html`
![coverage](https://user-images.githubusercontent.com/578159/105279786-28d3fe00-5b5d-11eb-9bb2-93919d4694d1.png)

![Screen Shot 2021-01-13 at 7 58 43 PM](https://user-images.githubusercontent.com/578159/104543185-d719f980-55d9-11eb-896d-8fe082f6e283.png)

[2021-01-14 04:26] compwron opened #1591 "put test coverage back into CI with github actions"

[2021-01-14 04:26] compwron commented on #1159
I'm going to close this for now, we'll revisit it around the next conference

[2021-01-14 04:26] #1159 closed

[2021-01-14 04:27] compwron commented on #1537
bot, chill :)

[2021-01-14 18:13] littleforest commented on #1553
fixed #1587

[2021-01-14 18:13] #1553 closed

[2021-01-15 03:06] mdr-uma commented on #1274
Hi, Is this still available? If yes, I will take this :)

[2021-01-15 03:49] littleforest commented on #1274
@mdr-uma I think this might have gotten fixed with some previous work that was done, but please take a look to confirm.  If it is no longer an issue I think we have some other front-end tasks available.

[2021-01-15 04:27] #1274 closed

[2021-01-15 11:52] scottolsen commented on #1507
Hoping to knock this out this weekend. :)

[2021-01-15 11:53] scottolsen commented on #1506
Should get this done tomorrow.

[2021-01-15 23:19] #1537 closed

[2021-01-16 20:47] compwron opened #1596 "Make "Follow up" button not too long"
![Screen Shot 2021-01-16 at 12 45 32 PM](https://user-images.githubusercontent.com/578159/104822651-f642a200-57f8-11eb-8e50-2b4843a86872.png)

[2021-01-16 21:21] compwron opened #1598 "Follow up button causes error"
### Impacted User Types
volunteer, maybe other users

### Environment
firefox

### Current Behavior

![casa](https://user-images.githubusercontent.com/578159/104823264-ccd84500-57fd-11eb-8da0-8d2aa8ad0958.gif)

[2021-01-16 21:24] compwron opened #1599 "Remove sort by Actions for viewing all supervisors page"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor and admin

**Description**
![casa-sort](https://user-images.githubusercontent.com/578159/104823323-31939f80-57fe-11eb-94cf-2c44585a03a7.png)

_QA Login Details:_
url: https://casa-qa.herokuapp.com/
password for all users: 123456

Log in using any of the below emails, depending on the account type you'd like to log in as.

[2021-01-16 21:29] compwron opened #1600 "Fix column resizing for Supervisors view to be like Volunteers view"
### Impacted User Types
supervisors and admins

### Environment
QA, firefox

### Current Behavior
![column-issue](https://user-images.githubusercontent.com/578159/104823412-b7174f80-57fe-11eb-94c6-dfb74bf1ba86.gif)

### Expected Behavior
Make it be like the volunteers page:

![volunteer-ok-cols](https://user-images.githubusercontent.com/578159/104824045-8c7bc580-5803-11eb-9b20-209a6e6944f9.gif)

#

[2021-01-16 22:30] #1596 closed

[2021-01-16 22:31] #1598 closed

[2021-01-16 22:33] compwron opened #1602 "Fix 3 CodeQL security Code Scanning issues"
https://github.com/rubyforgood/casa/security/code-scanning
<img width="1184" alt="Screen Shot 2021-01-16 at 2 33 13 PM" src="https://user-images.githubusercontent.com/578159/104824581-d36bba00-5807-11eb-9ee9-81235eda66be.png">

[2021-01-18 22:44] #1506 closed

[2021-01-20 05:08] #1600 closed

[2021-01-21 04:13] Zrrrpy opened #1607 "track use of duration slider in the creation of case_contacts"
As a **team lead / contributor,**
I want to track the use of the duration slider in `case_contact` creation,
so that I can determine if/how this feature is currently being used.

### Acceptance Criteria
We must be able to track the following:
- [ ] when the duration slider is used alone (not in conjunction with the text input for duration)
- [ ] when the duration slider is used _with_ the text inp

[2021-01-21 20:47] kukyak2020 commented on #1259
hi team! I would like to work on this issue. Can you add to me this issue? @littleforest? thanks :)

[2021-01-21 23:00] kukyak2020 commented on #1259
Thanks 😎

[2021-01-22 06:39] #1254 closed

[2021-01-22 11:42] scottolsen commented on #1507
@Zrrrpy

I'm not sure if this is a valid scenario I need to code for but if a volunteer creates a followup and then a different volunteer resolves it, do I need to make sure no notification is generated?

[2021-01-22 15:22] ErinClaudio commented on #1590
I ran the above commands `bundle exec rspec ` and then  `open coverage/index.html`.
currently here and reading articles on Unhappy testing.
![Screen Shot 2021-01-22 at 10 11 47 AM](https://user-images.githubusercontent.com/20326770/105509520-9423ea00-5c9b-11eb-97ca-67b28a6650d9.png)

[2021-01-22 17:26] compwron commented on #1590
sounds good!

[2021-01-23 04:46] compwron opened #1610 "Show case number on emancipation checklist"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**

emancipation checklist should reference case - make it easier for volunteers w multiple youth, and for supervisors and admins

**Screenshots of current behavior, if any**
![show-case](https://user-images.githubusercontent.com/578159/105569022-ee9c6500-5cf2-11eb-80e9-f11a9ebc21a8.png)

_QA Login Details:_
url: h

[2021-01-24 21:06] khiga8 commented on #1398
Hey! Just wanted to clarify:

- This generated report refers to the prefilled report volunteer may auto-generate from the `/case_court_reports` page.

- This refers to the auto-generated report from above.

I might be mistaken but looking at `app/controllers/case_court_reports_controller.rb`, it doesn't look like we actually save those generated court reports anywhere in our database so I'm unsure

[2021-01-24 21:10] bmanek commented on #1610
Hey, I'd like to work on this one. Thanks!

[2021-01-24 21:30] #1507 closed

[2021-01-25 02:05] #1508 closed

[2021-01-25 05:54] compwron commented on #1398
i agree that CasaCaseReport isn't a model right now... but it will need to be in the future! I think you're going to get to make a db migration :)

[2021-01-26 18:16] hairedfox opened #1617 "RSpec test failed about 117-118 cases when setting up project without Chrome installed"
### Impacted User Types
None

### Environment
Desktop
* OS: macOS
* Version: Mojave 10.14.0

### Current Behavior
When I first cloned the project and followed the guide from the Github repo, everything worked fine. I could run the server and log into the system normally.

But the RSpec failed about 118 cases (sometimes 117)
![image](https://user-images.githubusercontent.com/42526152/105885958-6f81

[2021-01-26 18:30] compwron commented on #1617
Thank you for opening this issue! I want to fix this.

[2021-01-26 19:26] #1495 closed

[2021-01-26 19:36] Zrrrpy opened #1618 "change notification title to: "New followup""
As any user,
I want to easily differentiate notifications about _new_ followups from notifications about _resolved_ followups,
so that I know whether or not a followup needs attention or has been resolved.

### Environment
QA

### How it works now
All followup notifications have the same title: `Followup resolved`

<img width="1363" alt="Screen Shot 2021-01-26 at 11 24 39 AM" src="https://user-ima

[2021-01-26 20:25] #1573 closed

[2021-01-26 20:44] Zrrrpy commented on #308
putting this on hold now that this same information is covered by the supervisors weekly digest email.

This may be built out later if we want to increase email volume to supervisors OR as an SMS notification down the line.

[2021-01-26 23:30] #880 closed

[2021-01-26 23:34] #856 closed

[2021-01-26 23:36] #527 closed

[2021-01-26 23:37] #3 closed

[2021-01-26 23:37] #530 closed

[2021-01-28 04:02] ATMartin opened #1623 "Supervisor dashboard sorts numbers as strings."
### Impacted User Types
Admins (possibly others?)

### Environment
Staging environment, MacOS Desktop, Chrome browser

### Current Behavior
When sorting numeric columns on the Supervisors dashboard, values are sorted incorrectly (1, 10, 11, 2, 3...)
![image](https://user-images.githubusercontent.com/4934682/106088089-4839d080-60f3-11eb-9eb7-6cdf909c87ef.png)

### Expected Behavior
Numeric values s

[2021-01-28 04:04] ATMartin commented on #1573
Bug discovered during QA: https://github.com/rubyforgood/casa/issues/1573

_That said_, the sorting functionality is working otherwise. Proposing this as "working-in-qa".

[2021-01-28 04:08] ATMartin commented on #1623
Discovered during QA of https://github.com/rubyforgood/casa/issues/1573

[2021-01-28 04:08] ATMartin commented on #1623
I'll take this fix on! ✋

[2021-01-28 04:28] Zrrrpy commented on #1623
@ATMartin all yours, thank you! 🙏🏼

[2021-01-28 04:30] #1618 closed

[2021-01-28 15:24] hairedfox commented on #1617
@compwron how is this bug going? I saw that it has assigned to no one

[2021-01-28 15:31] hairedfox commented on #1502
Actually there's a lot of issues with Kaminari gem. It's pretty long to explain but I'll put the reference to a benchmark between Kaminari, Will_paginate and pagy (which is my favorite)

https://ddnexus.github.io/pagination-comparison/gems.html

[2021-01-28 16:53] compwron commented on #1617
@hairedfox no contributor has started working on it yet. It is in the To Do list. If you would like to work on it, you can comment "I would like to work on this" and it is all yours :)

[2021-01-28 18:31] rpolley commented on #1400
So from the sound of it this would be a "row" for a supervisor that doesn't exist that volunteers with no supervisor would be assigned to? I feel like if this is something that doesn't occur under normal circumstances then mixing it with the normal data would just confuse people when it happened, and that it should be some sort of warning message that appears outside of the table.

[2021-01-29 09:32] compwron commented on #1400
@rpolley @notapatch correct, a row for volunteers not assigned to a supervisor. This should not usually happen but if it does, it will certainly be data that the users will want to know about. It does not currently need an included warning message.

[2021-01-29 18:15] rpolley commented on #1400
@compwron I feel like it should at least be made to stand out from the other rows somehow.

[2021-01-29 18:18] rpolley commented on #1086
Going to work on this.

[2021-01-29 18:57] Zrrrpy commented on #1086
Thank you @rpolley!! 🙏🏼

[2021-01-30 00:38] rpolley commented on #1617
Currently running into this too, which is a huge pain because I'm using WSL and the only ways I've found of installing chrome on that are fairly intensive and experimental.

[2021-01-30 02:50] compwron opened #1627 "Image scaling in weekly supervisor status email"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor

**Description**
The image looks squished on small screens. Make it look better (html scaling html params)

**Screenshots of current behavior, if any**
![email](https://user-images.githubusercontent.com/578159/106345134-dc767580-6262-11eb-856b-d00ea1067fd6.png)

_QA Login Details:_
url: https://casa-qa.herokuapp.com/
pass

[2021-01-30 02:52] compwron opened #1628 "No-volunteers message in weekly supervisor status email"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor

**Description**
When a supervisor has no volunteers with assigned cases, instead of showing no contents, show "You have no volunteers with assigned cases - when you do, you will see their status here" or similar

**Screenshots of current behavior, if any**
![email](https://user-images.githubusercontent.com/578159/1063451

[2021-01-30 02:53] compwron opened #1629 "increase github issue timeout to 10 and 15 days"
**Description**

**Existing gem(s), file(s) needing updating, changing or deleting**

**New file(s) needing creating**

[2021-01-30 02:54] compwron commented on #1610
Hmm, I'm going to lengthen the time wait on the github-actions bot to 10->15 days, because 5-> 7  only spans one weekend and that feels too short to me. :)

[2021-01-30 02:55] compwron commented on #1623
Sorry, I moved this by accident but then I put it back :)

[2021-01-30 02:55] compwron commented on #1398
Sorry, I moved this by accident but then I put it back :)

[2021-01-30 02:56] compwron commented on #1590
@ErinClaudio I assigned this to you since you have an open PR for it :)

[2021-01-30 03:12] bmanek commented on #1610
I appreciate that. I know it's a small feature, but I'm still trying to
wrap my head around some things.

On Fri, Jan 29, 2021 at 9:55 PM compwron <notifications@github.com> wrote:

[2021-01-30 03:23] compwron opened #1640 "Fix ignored brakeman warning in volunteer_datatable"
**Description**
https://github.com/rubyforgood/casa/pull/1639/files

[2021-01-30 03:24] compwron opened #1641 "Fix ignored brakeman warning in application_datatable"
**Description**
https://github.com/rubyforgood/casa/pull/1639/files

[2021-01-30 03:28] compwron opened #1642 "Fix padding on Emancipation button on casa case with smaller screen"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**
Fix padding on Emancipation button on casa case with smaller screen
Screenshot is from firefox

**Screenshots of current behavior, if any**
<img width="1671" alt="padding" src="https://user-images.githubusercontent.com/578159/106345978-7260cf00-6268-11eb-87da-5a504a4f6129.png">

_QA Login Details:_
url: https://

[2021-01-30 03:32] compwron opened #1643 "Move Case Contact submit button to the bottom right"
**What type of user is this for? volunteer/supervisor/admin/all**

**Description**
Does return to dashboard also submit there?  I’m looking at that and it doesn’t seem intuitive to me the difference between “submit” and “return to dashboard”.  My eyes went to the place where “return to dashboard” on the lower right of the form expecting a “submit” button to be there.
…
maybe…I just noticed that fe

[2021-01-30 03:36] compwron opened #1644 "When on Volunteer page and unassigning volunteer from supervisor, render back to Volunteer page, NOT current behavior"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor/admin

**Description**
When on Volunteer page and unassigning volunteer from supervisor, render back to Volunteer page, NOT current behavior

**Screenshots of current behavior, if any**
https://casa-qa.herokuapp.com/volunteers/1576/edit
![volunteer-page-unassign-from-supervisor](https://user-images.githubusercontent.com/5

[2021-01-30 03:47] compwron opened #1645 "Encrypt uploaded files at rest in Azure with key per casa org"
**What type of user is this for? volunteer/supervisor/admin/all**
all / none

**Description**
Encrypt uploaded files at rest in Azure with key **per CASA org** to prevent PG from having even theoretical data access to other CSA's files stored in PG's Azure account

We should talk this through with several securityish people before deciding how to build this... maybe we can bring in Betsy and Aaron

[2021-01-30 03:51] compwron opened #1646 "heroku branch deployments db troubles"
The heroku PR branch deployments seem to have db troubles somehow https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1611977261066000

[2021-01-30 04:00] compwron opened #1647 "Calendar picker not available in Safari on Admin Reports page"
### Impacted User Types
admins and supervisors

### Environment
Safari

### Current Behavior
reference: https://github.com/rubyforgood/casa/issues/820  fixed this but in a different part of hte UI. so o this again. bonus: make the datepicker a partial and reuse it!
![Screen Shot 2021-01-29 at 7 58 47 PM](https://user-images.githubusercontent.com/578159/106346506-8eff0600-626c-11eb-86ec-3ab8b1cb5ff

[2021-01-30 04:04] compwron opened #1648 "Download Court Report UI change - one button instead of two"
**What type of user is this for? volunteer/supervisor/admin/all**
volunteer/all

**Description**
We need to fix that button ui thing it looks funny (downloading court eport)
just download it, dont have two buttons. if we need a spinner, add it- but not as a button

**Screenshots of current behavior, if any**
![Screen Shot 2021-01-29 at 8 03 22 PM](https://user-images.githubusercontent.com/578159/1

[2021-01-30 05:37] rpolley commented on #1617
Managed to get chromedriver+chrome up and running on wsl2, however I ran into further issues because webdriver was trying to run a `chromedriver.exe` windows executable file that it had downloaded (never figured out how to get it to not do that, I just replaced it with a symlink to the file I wanted)

[2021-01-30 15:39] ATMartin commented on #1617
This is an interesting challenge! 🤔 A little quick research suggests Capybara + WSL (v1 _or_ v2) is a known headache, unfortunately. A few options:

- Update docs to highlight the need for Chrome, & link to supporting resources for folks on all major operating systems. _(We should probably do this for now no matter what)_

- Choose an alternative preferred driver (Firefox?) and reconfigure the tes

[2021-01-30 17:10] rpolley commented on #1617
I'm just going to try using docker for now, since it seems like any native solution would require either getting stuff to work without WSL, or getting Capybara to work with WSL.

[2021-01-30 17:18] ATMartin commented on #1259
@kukyak2020 Are you still working on this ticket? I'd love to take it on if not.

[2021-01-30 17:22] kukyak2020 commented on #1259
@ATMartin Hi, yes I am working on it. Can you give me a couple of days for it? thank you! 🙏🏿

[2021-01-30 19:06] #1629 closed

[2021-01-31 14:34] littleforest commented on #1646
The Review apps will re-deploy as new code is pushed, but they don't automatically run migrations except when they are created. So it just seems that the code and the database got a bit out of sync.

[2021-01-31 14:34] #1646 closed

[2021-01-31 19:19] ATMartin commented on #1259
@kukyak2020 Of course! It looks like a GitHub bot unassigned you - @compwron could we reassign so no one else grabs this ticket?

[2021-01-31 20:03] Zrrrpy commented on #1259
@kukyak2020 just reassigned. Thank you for your help with this! 🙏🏼

[2021-02-01 03:01] #1623 closed

[2021-02-01 16:43] khiga8 commented on #1398
https://github.com/rubyforgood/casa/pull/1650#issuecomment-770536668

Not doing part 2 for now! I'm gonna unassign myself... or maybe I should close this issue?

[2021-02-01 20:03] Zrrrpy commented on #1398
We can keep it open for now. Thank you for checking though, @khiga8!

[2021-02-02 16:53] pollygee commented on #1183
@Zrrrpy unless I'm reading this ticket incorrectly, I think this is already working.  I deactivated then reactivated a case and then it is showing up on the assign a case page for volunteers.  Maybe I'm misreading and looking in the wrong place?
![CASA_Volunteer_Tracking](https://user-images.githubusercontent.com/10904005/106633907-4174e880-654d-11eb-99aa-942ef1b36034.jpg)

[2021-02-02 16:56] pollygee commented on #1370
@Zrrrpy looks like maybe this can be closed out?  Except it looks like you moved it from not ready to build into TODO so maybe you do want it worked on, were you able to reproduce?

[2021-02-02 18:24] Zrrrpy commented on #1370
I just moved it over to that column to make it easier to drag it up to a different spot in the to-do column. (Dragging issues up and down columns in GitHub is painful.)

I haven't been able to reproduce since our last fix related to this query, but I believe @compwron has. If not, we can close it out.

[2021-02-02 18:41] ErinClaudio commented on #1590
I added three new tests, they all fail.
Two because of 'No route matches' errors and one because of the expected error message response and the received message do not match. My attempts at fixing the message response failed.

[2021-02-03 00:42] #1086 closed

[2021-02-03 00:44] #1642 closed

[2021-02-03 04:39] compwron opened #1670 "Fix bug - not sending invite email to new casa admin created by ALL casa admin"

[2021-02-03 21:28] rpolley commented on #1400
@compwron maybe something like using the `table-warning` [contextual class](https://getbootstrap.com/docs/4.0/content/tables/#contextual-classes) to make the row stand out better?

[2021-02-04 00:04] rpolley commented on #1398
Going to take a stab at part 2 here.

[2021-02-04 00:06] Zrrrpy commented on #1398
Thank you, @rpolley!

[2021-02-04 02:11] compwron opened #1673 "add more js tests"
add more js tests

[2021-02-04 03:07] compwron opened #1674 "not putting case contacts into court report"
not putting case contacts into court report

the problem is
`interviewees = interviewees.where("occurred_at > ?", @casa_case.court_date) if @casa_case.court_date`

court date is in the future

Check out this rake task
[code]

[2021-02-04 03:28] rpolley opened #1675 "Tests failing on clean docker build"
### Impacted User Types
developers

### Environment
development/docker

### Current Behavior
Some of the tests fail for me every time I use the `docker/build` and `docker/test` against code on the main branch/any other branch I've tried
![Capture1](https://user-images.githubusercontent.com/23124989/106840685-42e60400-6666-11eb-8c10-d4f2c97e28e0.PNG)
![Capture2](https://user-images.githubuserconten

[2021-02-04 03:54] #1674 closed

[2021-02-04 18:30] rpolley commented on #1398
I'm not terribly familiar with this whole workflow so I having a bit of trouble replicating it in order to figure out how I'd add this. How does this functionality currently work? How does a volunteer generate and then submit a report in the first place?

[2021-02-04 18:41] Zrrrpy commented on #1398
Hey @rpolley, thank you again for dedicating time to this!

Currently, [only volunteers can generate court reports](https://www.youtube.com/watch?v=rKMu_ZVnzAc&list=PL8QvMNw9IqiFZRL6CbBhn2y5QKwdkd35p&index=5) – and they can only generate them for their active case assignments.

Volunteers submit court reports _off platform_, and once a supervisor receives it, they change the court report status _o

[2021-02-04 19:02] khiga8 commented on #1398
Hey @Zrrrpy @rpolley! I added a [comment](https://github.com/rubyforgood/casa/pull/1650#issuecomment-770536668) about why I wasn't sure whether to pursue Part 2 of this.
Currently we're only saving one report ever so we weren't sure whether it made sense to add a hyperlink to court report dates given there's only ever one. Given this, maybe the requirements should change a bit or there needs to be

[2021-02-04 19:20] Zrrrpy commented on #1398
Thank you @khiga8! For context on why we haven't moved forward on part two, we haven't yet determined whether or not storage is going to be an issue when court reports start accumulating. (We are currently relying on free Azure credits for this, and I'm not certain of how far they will stretch now that our second tenant is on the platform with more to come.)

This is still open because it is somet

[2021-02-05 04:35] compwron commented on #1398
It is sounding like we are ok on storage! Let's do it!

[2021-02-05 04:49] #1395 closed

[2021-02-05 19:28] Zrrrpy commented on #1398
@rpolley you've got the go ahead to move forward with this!

See the details in the ticket above under "Part 2" and let me know if you still have questions about the flow. 😃

[2021-02-06 02:57] compwron opened #1679 "[bug] Add filter item for case contact without prefix to case filtering"

[2021-02-06 02:58] compwron opened #1680 "supervisor summary no contact column numbers are too low"
![supe-summay-bug](https://user-images.githubusercontent.com/578159/107107143-2079f500-67e4-11eb-81c3-4aeca1c6573f.png)

[2021-02-06 03:00] compwron opened #1681 "switch my admin logins to my rubyforgood email"
switch my admin logins to my rubyforgood email

[2021-02-06 04:09] #1679 closed

[2021-02-07 06:04] khiga8 commented on #1070
Oooh! Looks like there was a task that was introduced [here][0], though I'm not sure how frequently it runs...

[0]: https://github.com/rubyforgood/casa/pull/920

[2021-02-07 16:57] compwron commented on #1070
This is the current state of our cronjobs in qa, staging, and prod. I guess we should make them match at some point. I wish we could make one cronjob that kicked off the others, so we don't have to add each one individually in each environment.
![Screen Shot 2021-02-07 at 8 56 24 AM](https://user-images.githubusercontent.com/578159/107153449-866c9680-6922-11eb-86c4-5cfdc29dc4c9.png)
![Screen Shot

[2021-02-08 06:14] #1070 closed

[2021-02-08 19:55] compwron commented on #1390
I just checked and this still needs doing. I'm going to assign this to our new dev @kylemckenzie88
![casa-sort](https://user-images.githubusercontent.com/578159/107273862-7cbb5f80-6a04-11eb-941c-5eb2f053990c.png)

[2021-02-08 19:57] kylemckenzie88 commented on #1390
Hello, I am new here and ready to help

[2021-02-09 01:09] Zrrrpy opened #1687 "volunteers without supervisor assignments should be able to generate and download court reports"
AS a **volunteer**,
I WANT to be able to generate and download court reports,
_even_ if I have no active supervisor assignments,
SO THAT I can utilize this report for court appearances with my case.

### Environment
QA, staging, and production

### How it works now
Only volunteers with active supervisor assignments can generate and download a court report.

### How it should work instead
All volun

[2021-02-09 01:25] #1687 closed

[2021-02-10 18:32] #1433 closed

[2021-02-10 18:38] #944 closed

[2021-02-10 20:22] Zrrrpy commented on #1017
We will be reviewing this today with stakeholders. After receiving their feedback and starting some of the RFG side of account setup, this should be ready for folks to work on!

[2021-02-10 21:44] rpolley commented on #1398
for whatever reason whenever I generate a report the downloaded "docx" file is just a plaintext file containing something like `#<File:0x00007f1cba003ee8>` any idea what's going on here?

[2021-02-10 21:45] compwron commented on #1398
@rpolley that is a recent bug that has been fixed in main. Rebasing your branch on main will fix it. Sorry about that.

[2021-02-10 21:48] compwron commented on #1398
Here is the fix https://github.com/rubyforgood/casa/blob/4495a1feb15d6a1effd38f5207f8166cf606e8c4/app/controllers/case_court_reports_controller.rb#L25

[2021-02-11 02:12] compwron commented on #1591
https://github.com/rubyforgood/casa/blob/4495a1feb15d6a1effd38f5207f8166cf606e8c4/.github/workflows/rspec.yml#L64

[2021-02-11 02:16] compwron commented on #1502
https://github.com/rubyforgood/casa/pull/1412

[2021-02-11 02:17] compwron commented on #1502
@jobannon

[2021-02-11 02:18] compwron commented on #1591
@jobannon

[2021-02-11 02:38] compwron opened #1698 "Add text explaining that importing volunteers will email them"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
Add text explaining that importing volunteers will email them
Something like "This will email the new volunteers asking them to log in!"
We don't want to surprise any more stakeholders

Relevant code files
[code]

**Screenshots of current behavior, if any**
![Screen Shot 2021-02-10 at 6 37 27 PM](https://user-

[2021-02-11 02:48] compwron opened #1699 "Let admin edit contact types subset for a case (like a supervisor does)"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
Let admin edit contact types subset for a case (like a supervisor does)

From a technical note, whups those should be the same view partial maybe?

**Screenshots of current behavior, if any**
![supervisor-contact_types](https://user-images.githubusercontent.com/578159/107597710-53e7c580-6bd0-11eb-977c-b3ec8a14

[2021-02-11 03:00] compwron opened #1700 "Fix routing redirect when admin adds volunteer"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
When saving volunteer, the app currently redirects to the all volunteers overview page, but we want to change that so that it redirects to the Edit Volunteer screen for that new volunteer.

**Screenshots of current behavior, if any**
Current status:
![new-vol](https://user-images.githubusercontent.com/578159/1

[2021-02-11 03:08] Zrrrpy opened #1701 "Remove filters from My Cases view for volunteers"
![remove-vol-filters](https://user-images.githubusercontent.com/578159/107598714-77603f80-6bd3-11eb-90bf-00a2fc53dad2.png)

[2021-02-11 03:12] #1681 closed

[2021-02-11 03:12] compwron commented on #1681
done

[2021-02-11 03:17] compwron opened #1702 "Add to all-casa-admin casas summary report"
**What type of user is this for? volunteer/supervisor/admin/all**
ALL CASA admin (not casa admin)

**Description**
Add
1. case contacts count
(For ALL cases including inactive)
2. Supe-to-vol assignments (active)
3. Case assignments (active)

**Screenshots of current behavior, if any**
![all-casa-admin-summary-additions](https://user-images.githubusercontent.com/578159/107599167-84c9f980-6bd4-11eb

[2021-02-11 03:36] ErinClaudio commented on #1702
@compwron Can I give this try!

[2021-02-11 03:40] ErinClaudio commented on #1701
@Zrrrpy can I have this!

[2021-02-11 03:49] compwron opened #1703 "Improve emancipation checklist - remove duplicate options from default generations"
**What type of user is this for? volunteer/supervisor/admin/all**
volunteer

**Description**
Improve emancipation checklist - remove duplicate options from default generations

this will be in `db/seeds/emancipation_data.rb` and we'll need to edit data in prod
(and re-seed in qa and staging)

**Screenshots of current behavior, if any**
![Meet_-_casavolunteertracking_org_volunteer_training](https:/

[2021-02-11 04:52] compwron commented on #1070
cronjobs now match in all 3 environments

[2021-02-11 23:21] Zrrrpy opened #1705 "hide judge name and hearing type when they aren't selected"
AS a **volunteer/supervisor/admin**,
I DON'T WANT to see `judge_name` or `hearing_type` under CASA Case Details,
WHEN no `judge_name` or `hearing_type` has been selected under Edit Case Details,
SO THAT it is clear those items are not applicable to the case I'm viewing at this time.

### Environment
QA, Staging, and Production

### How it works now
`judge_name` and `hearing_type` show up under CAS

[2021-02-11 23:38] Zrrrpy opened #1706 "add subheader: Court Details on Edit CASA Case page"
AS a **supervisor/admin**,
I WANT a subheader reading "Court Details" to display above `hearing_type`,
SO THAT it's clear all the information beneath that pertains to court appearances.

### Environment
QA, Staging, Production

### How it works now
Court details are not distinguished from other details on this page, they sort of all meld together in a long list.

### How it should work instead
Sin

[2021-02-11 23:53] Zrrrpy opened #1707 "move "youth's birth month & year" up on the page"
AS an admin,
I WANT "Youth's Birth Month & Year" to appear underneath "Case Number" on the Edit CASA Case page,
SO THAT it is easier for me to find.

### Environment
QA, Staging, Production

### How it works now
"Youth's Birth Month & Year" is hidden between court details, and isn't easy to find.
![Screen Shot 2021-02-11 at 3 51 55 PM (2)](https://user-images.githubusercontent.com/62810851/1077140

[2021-02-12 00:55] Zrrrpy opened #1708 "new followup notifications should only go to user who case contact is created by"
### Impacted User Types
volunteers, supervisors, admins

### Environment
QA, Staging, Production

### Current Behavior
Any volunteer assigned to a `case` associated with a `case_contact` that receives a followup gets a notification about that new followup. (Only the user who created the `case_contact` sees the icon on the `case_contact`, all other assignees just get a notification in their inbox +

[2021-02-12 01:23] Zrrrpy opened #1709 "all followup notifications should be clickable"
### Impacted users
volunteers

### Environments
QA, Staging, Prod

### Current behavior
If a volunteer has outstanding notifications regarding `case_contact` followups made by previous supervisor assignments, they will not be able to click on them and therefore the notification badge that appears over "inbox" will never go away.
![Screen Shot 2021-02-11 at 5 01 35 PM (2)](https://user-images.githu

[2021-02-12 03:20] compwron commented on #1707
good small bite :)

[2021-02-12 03:20] compwron commented on #1706
good small bite :)

[2021-02-12 09:28] 96RadhikaJadhav commented on #1707
@Zrrrpy If I'm not wrong, we have to make changes in app\views\casa_cases\_form.html.erb file here..right?

[2021-02-12 09:50] compwron commented on #1707
@96RadhikaJadhav correct, this is at https://github.com/rubyforgood/casa/blob/bf69053f406610607f75b4fef632d53fb964bfce/app/views/casa_cases/_form.html.erb#L87

[2021-02-12 17:30] #1707 closed

[2021-02-12 17:31] #1708 closed

[2021-02-13 02:21] compwron opened #1715 "add spring to make tests and dev server faster"
add spring to make tests and dev server faster

[2021-02-13 02:55] compwron commented on #1701
This update caused cases to never show up on the volunteer's dashboard, so I reverted it before the friday deploy. Which is super weird because there IS a test for this and it passes! I suspect the javascript. Let's dig in more this coming week. :) https://github.com/rubyforgood/casa/blob/dbeac18e89d1e6ecaba4c73b02ef5c871cfb15fc/spec/system/dashboard/show_spec.rb#L10

[2021-02-13 02:56] #1701 closed

[2021-02-13 03:05] #1398 closed

[2021-02-13 03:07] compwron opened #1716 "Fix flaky test: case_contacts/new when volunteer is successful"
[code]
example failed run https://github.com/rubyforgood/casa/runs/1890941484

[2021-02-13 03:16] compwron commented on #1590
Hmm, inactivebot doesn't seem to respect recent PR mentions

[2021-02-14 08:18] FireLemons commented on #1438
I'm gonna try to do the first part of this

    SupervisorMailer.weekly_digest(User.third).deliver_now

[2021-02-14 23:58] FireLemons opened #1720 "Fix supervisor volunteer count including inactive volunteers and volunteer assignments"
Impacted User Types:
 - admins

When an admin pulls up an overview of the supervisors, a count of each supervisor's volunteers is displayed which erroneously includes volunteers that have been unassigned from the supervisor and inactive volunteers.

A count of the volunteers serving transitioning youth cases also includes volunteers unassigned from the supervisor.

in `app/views/supervisors/index.

[2021-02-15 15:56] ErinClaudio commented on #1701
Great, I look forward to it!

[2021-02-16 00:09] #1700 closed

[2021-02-16 06:25] #1706 closed

[2021-02-16 18:33] Zrrrpy opened #1728 "deactivated volunteers show up in weekly digest email"
### Impacted user types
supervisors

### Environment
Prod

### How it works now
Deactivated volunteers show in the weekly digest email supervisors receive summarizing volunteer in/activity from the past week.

### How it should work instead
Deactivated volunteers should not show in the weekly digest email.

### How to replicate
Sendinblue only sends emails in prod, but the same logic that triggers

[2021-02-16 19:02] Zrrrpy opened #1729 "reassigned volunteers should only show in their new supervisor's digest email"
### Impacted user types
supervisors

### Environment
Prod

### How it works now
After a volunteer has been reassigned to a new supervisor, they show up in _both_ supervisors' weekly digest email (the previous supervisor + the newly assigned supervisor).

### How it should work instead
Volunteer should only show up in the weekly digest email belonging to their _newly assigned_ supervisor (i.e. thei

[2021-02-16 22:29] Zrrrpy opened #1730 "Court Details"
### Context
Different CASA chapters include slightly different details in their court reports. We are expanding the offering of court details available in order to better accommodate new platform tenants. (Court details are associated with a `case`, and get included in court reports generated by volunteers assigned to a `case`.)

### Approach
The requirements below focus on court mandates (details

[2021-02-16 23:28] cam-benfield commented on #188
Is this still open or should it be closed?

[2021-02-16 23:28] cam-benfield commented on #1705
Working on this :)

[2021-02-16 23:28] Zrrrpy commented on #1705
all yours, @cam-benfield! Thank you 🙏🏼

[2021-02-16 23:37] Zrrrpy opened #1731 "add court mandates to Edit CASA Case page"
Part of epic #1730

AS a supervisor,
I WANT to add court mandates to a case,
SO THAT they show up in volunteer generated court reports,
AND for historical context.

### How it works now
It doesn't! This is a brand new feature.
![Screen Shot 2021-02-16 at 2 49 17 PM (2)](https://user-images.githubusercontent.com/62810851/108135429-eecb1e80-706c-11eb-8c83-1bbd2c2fa88d.png)

### How it should work in

[2021-02-16 23:48] arku commented on #1628
@compwron Just curious, why should the email be sent to supervisors with no volunteers?

[2021-02-16 23:54] FireLemons commented on #1720
These counts also include inactive volunteers

[2021-02-16 23:57] Zrrrpy opened #1733 "court mandates can be edited/removed"
Part of epic #1730, dependent on #1731

AS a **supervisor**,
I WANT to be able to edit and/or remove court mandates,
SO THAT court mandates remain relevant, up-to-date, and can be removed if I make a mistake.

### How it works now
After #1731 is complete, supervisors will have the ability to _add_ court mandates, but not _edit_ or _remove_ them.

### How it should work instead
Supervisors should b

[2021-02-17 00:08] Zrrrpy commented on #1628
@arku Great question! In this case, the email serves as a reminder that volunteers who _are_ assigned to this supervisor need case assignments OR if the supervisor has _no_ volunteers assigned to them, then it serves as a reminder that they need to assign volunteers to themselves.

Context: CASA chapters typically don't have more than a dozen supervisors on staff (even a dozen would be for a large

[2021-02-17 00:50] Zrrrpy opened #1734 "add court mandate implementation status to Edit CASA Case page"
Part of epic #1730, dependent on #1731

AS a **supervisor**,
I WANT to track the implementation status of court mandates,
SO THAT I can ensure a case's volunteer is assisting in implementation and accurately reporting progress to the court at hearings.

### How it works now
After #1731 is complete, supervisors will be able to add court mandates to cases, but no additional details about them, such

[2021-02-17 01:12] Zrrrpy opened #1735 "Court mandates and implementation status appear under CASA Case Details"
Part of epic #1730, dependent on #1731 and #1734

As a **volunteer/supervisor/admin**,
I WANT to be able to see any court mandates (along with their implementation status) relevant to a case on the Case Details Page,
SO THAT I don't miss this important information about a case.

### How it works now
After #1731 and #1734 are complete, court mandates and their implementation status will only be vie

[2021-02-17 01:45] Zrrrpy opened #1736 "if case has court mandates, add to court report"
Part of epic #1730, dependent on #1731 and #1734

AS a **volunteer**,
I WANT court mandates and their implementation status to appear in court reports I generate and download,
SO THAT I do not need to fill these in manually.

### How it works now
Once #1733 is complete, court mandates and their implementation status will only appear in two places: the Case Details page, and when editing Case Detai

[2021-02-17 02:05] FireLemons opened #1737 "Supvervisor Weekly Email: Show if a case has gone inactive during the week"
In the supervisor weekly email(`app/views/supervisor_mailer/weekly_digest.html.erb`), mention if a casa case was deactivated during the week.

Write a test(`spec/mailers/supervisor_mailer_spec.rb `)

[2021-02-17 02:09] FireLemons opened #1738 "Supervisor Weekly Email: Hide inactive cases past the week they were deactivated"
If a casa case has been deactivated in a previous week, do not display it in the supervisor weekly email(`app/views/supervisor_mailer/weekly_digest.html.erb`)

Previous weeks as opposed to the current week so the supervisor see case activity for the last week the case was active.

Write a test(`spec/mailers/supervisor_mailer_spec.rb `)

[2021-02-17 02:12] Zrrrpy opened #1739 "Past court dates reveal past court details"
Part of epic #1730, dependent on #1731, #1734, and #1736

AS a **supervisor/admin**,
I WANT to see details associated with "Past Court Dates",
SO THAT I can easily reference them for historical context and compare them to current court details.

_Future work not in this issue_: also make this accessible to volunteers

### How it works now
Currently, no past court details are viewable other than da

[2021-02-17 02:18] FireLemons opened #1740 "Supervisor Weekly Email: When some of a case's contacts have not been created by the assigned volunteer, add a dislaimer."
#### Problem
If a case has been reassigned to a different volunteer and they have not had any case contacts but the previous volunteer handled a case contact earlier in the week, it will appear as though the new volunteer handled the case contact of the previous volunteer in the weekly email(`app/views/supervisor_mailer/weekly_digest.html.erb`).

Write a test(`spec/mailers/supervisor_mailer_spec.r

[2021-02-17 02:24] Zrrrpy opened #1741 "generate past court reports associated with past court dates"
Part of epic #1730, dependent on #1739

AS a **supervisor/admin**,
I WANT to generate past court reports from previous court dates,
SO THAT I can easily reference this information without having to obtain it through another source (such as digging through email, asking the assigned volunteer, etc).

### How it works now
There is currently no place for generating past court reports.

### How it sho

[2021-02-17 02:26] Zrrrpy commented on #1741
@khiga8 Since (if my memory serves me correctly!) we were corresponding about downloading past court reports in the past (on another issue), I wanted to tag you here and just let you know this is the direction we're ultimately going in due to some additional changes to court reports and court details. 😄

[2021-02-17 02:34] arku commented on #1628
@Zrrrpy Interesting. Thanks for the explanation!

[2021-02-17 04:06] FireLemons opened #1744 "Supervisor Weekly Email: Add a message saying if a case was assigned to a volunteer."
If a casa case has been assigned/reassigned to a supervisor's volunteer during the week, mention it in the supervisor weekly email(`app/views/supervisor_mailer/weekly_digest.html.erb`)

Write a test(`spec/mailers/supervisor_mailer_spec.rb `)

[2021-02-17 04:13] FireLemons opened #1745 "Supervisor Weekly Email: Add a message saying if a volunteer was unassigned from the supervisor"
If a volunteer was unassigned from a supervisor during the week, display it in the supervisor weekly email(`app/views/supervisor_mailer/weekly_digest.html.erb`)
Also display if the volunteer has not yet been assigned to a new supervisor.

Write a test(`spec/mailers/supervisor_mailer_spec.rb `)

[2021-02-17 18:18] cam-benfield opened #1748 "PostgreSQL instructions unclear for Windows Contributors/Users"
**Description**
Add instructions for Windows install of PostgreSQL, as install for development doesn't work without installing manually.

https://www.postgresql.org/download/windows/

**Existing file(s) needing changing**
 - README.md

**New file(s) needing creating**

[2021-02-17 22:16] cam-benfield commented on #1675
I noticed in my own testing that I had to edit the webpacker manifest to add /src/ to remove some of those. It's a lot of different issues.

[2021-02-17 23:21] cam-benfield commented on #1737
I'd like this one!

[2021-02-17 23:24] Zrrrpy commented on #1737
all yours, @cam-benfield! Thank you for your continued work on this project 😄

[2021-02-18 02:09] compwron commented on #1610
back to you! :)

[2021-02-18 03:41] compwron opened #1751 "speed up local test running by turning OFF simplecov coverage by default"
but let it run when an env var is passed in, and make sure that env var is passed in in the github actions CI build

[2021-02-18 03:42] compwron opened #1752 "Fix slow factory_bot factory"
![Screen Shot 2021-02-17 at 7 42 17 PM](https://user-images.githubusercontent.com/578159/108302163-45f9ed80-7158-11eb-8ca6-b53ba4270c22.png)

[2021-02-18 04:15] compwron opened #1753 "view tests should use type: :view not type: system and all system tests should be in system dir"

[2021-02-18 05:25] #1628 closed

[2021-02-18 05:26] #1699 closed

[2021-02-18 05:27] #1705 closed

[2021-02-18 15:12] adamnengland commented on #1745
I'd like to take this one.

[2021-02-18 16:30] FireLemons commented on #1745
Hi @adamnengland, I just wanted to warn you that `app/views/supervisor_mailer/weekly_digest.html.erb` hasn't been merged into the repo yet

You can take a look at the tests to be merged here https://github.com/rubyforgood/casa/pull/1732/files#diff-ba49c16cf0c0acb6ff1fdc7ad934bc32a01cf202f2e1b3ab78fc755d2fa87a34

[2021-02-18 16:30] FireLemons commented on #1737
Hi @cam-benfield, I just wanted to warn you that `app/views/supervisor_mailer/weekly_digest.html.erb` hasn't been merged into the repo yet

You can take a look at the tests to be merged here https://github.com/rubyforgood/casa/pull/1732/files#diff-ba49c16cf0c0acb6ff1fdc7ad934bc32a01cf202f2e1b3ab78fc755d2fa87a34

[2021-02-18 18:02] Zrrrpy opened #1759 "remove transition_aged_youth column from case import .csv"
As an **admin**,
I WANT the `transition_aged_youth` column to be removed from the sample case import .csv,
SO THAT I don't accidentally do extra work that is now automated.

### Environments
QA, staging, prod

### How it works now
When an admin downloads a sample case .csv for imports, there is a column for `transiton_aged_youth`. This prompts admins to go through the whole spread sheet and mark `

[2021-02-18 18:28] Zrrrpy opened #1760 "admins can bulk update data by re-importing it"
AS an admin,
I WANT to be able to re-import data that I've _already_ imported containing new or corrected details,
SO THAT this data can be bulk updated.

### Environments
QA, Staging, Prod

### How it works now
The import tool only accepts _new_ data. If an admin attempts to re-import existing system data, they get the error: _Validation failed: [`Case number` or `Email`] has already been taken._

[2021-02-19 02:51] compwron commented on #1390
@kylemckenzie88 How's it going in there? :)

[2021-02-19 07:24] compwron opened #1762 "tune logging"
email from papertrail

Hello,

Your Papertrail service for "casa-production" has reached its log data transfer limit of 10 MB for today.

Based on recent volume, your projected total daily log data transfer is 15.4 MB.

How's this work?

At capacity, new logs are dropped. Existing logs aren't affected. Processing automatically resumes the following day.

Not sure what's best for this app, or have

[2021-02-19 11:07] scottolsen commented on #1709
@Zrrrpy Currently the only people who can edit a `case_contact` are admin, the creator and the creator's supervisor. If this logic needs to stay then we have a couple of options to make this work.

1. We add a check in the policy to look for a notification for the user/case_contact, if one exists we allow them to edit.
2. Delete, don't show or make the notification not clickable, if the volunteer

[2021-02-19 11:18] scottolsen commented on #1017
The [noticed gem](https://github.com/excid3/noticed#twilio-sms) I used for the `Followup` notifications has Twilio support built in to it.

[2021-02-19 18:14] cam-benfield commented on #1737
@FireLemons I think I've figured this one out, but I'm fairly new at this. I'll be able to merge my changes this afternoon (real-life job has needs today.)

[2021-02-19 18:23] Zrrrpy commented on #1709
Thank you for taking this on, @scottolsen! Let's go with option 3 – we're finding increasingly that supervisors require more flexibility in their permissions anyway, so this works well.

[2021-02-20 01:30] #1760 closed

[2021-02-20 01:31] #1438 closed

[2021-02-20 01:39] FireLemons opened #1764 "Add import update tests"
**Description**
There are very few tests for imports updating data.

When I wrote the code to update records. I kept running into a strange error that would not allow me to `expect` `{object_importer.import_object}` `to` `change(record.attribute)` when writing tests

There are 3 importers: casa_case, supervisor, and volunteer

### Write a test for each importer; making sure the importer can update

[2021-02-20 01:44] FireLemons commented on #1737
Ok it's been merged. I said  `app/views/supervisor_mailer/weekly_digest.html.erb` but I meant `spec/mailers/supervisor_mailer_spec.rb `. Meaning there was no file to put the tests in when it was unmerged. My bad. @cam-benfield

[2021-02-20 01:45] FireLemons commented on #1745
Ok it's been merged. I said  `app/views/supervisor_mailer/weekly_digest.html.erb` but I meant `spec/mailers/supervisor_mailer_spec.rb `. Meaning there was no file to put the tests in when it was unmerged. My bad. @adamnengland

[2021-02-21 22:47] #1709 closed

[2021-02-22 00:35] compwron commented on #1702
Chill out bot :)

[2021-02-22 08:40] compwron opened #1772 "Back link on admin create new case contact page gets stuck and goes nowhere"
### Impacted User Types
admins

### Environment
my local

### Current Behavior
1. log in as admin
1. go to a case contact like http://localhost:3000/casa_cases/213
1. click "new case contac"
1. click "Back" link

### Expected Behavior
Should go back to somewhere

[2021-02-22 12:13] rhian-cs commented on #1759
Hello, may I work on this issue?

[2021-02-22 17:20] ErinClaudio commented on #1702
That bot is giving me anxiety.

[2021-02-22 17:33] compwron commented on #1702
Lol sorry
the bot is a replacement for the emotional labor where zoe & I had to keep an eye on issues and warn people and unassign if they didn't reply... from my perspective it's doing its job but I do really want to make the text more self-explanatory

[2021-02-22 19:47] #1759 closed

[2021-02-23 00:15] rpolley commented on #1772
Tried to reproduce this but wasn't able to. Do you have any more information about what you were doing before this happened?

[2021-02-23 04:12] compwron commented on #1772
@rpolley here is a reproduction on QA. thanks for looking into this!! :)
![casa-stuck](https://user-images.githubusercontent.com/578159/108801295-3f011f80-754a-11eb-94cc-ace140d14b79.gif)

[2021-02-23 13:21] rhian-cs commented on #1731
Hello, I am working on this issue.

[2021-02-23 16:58] compwron commented on #1731
very cool! :) :)

[2021-02-23 17:33] rpolley commented on #1772
@compwron it's a bit hard to see what's going on here, do you have anything in a higher resolution?

[2021-02-23 18:20] rpolley commented on #1772
hmm, interesting, I tried the same workflow in QA and it seemed like it attempted to load the same page that it did successfully in development but instead it just spun for a while and then errored. I think this might be performance related since the page its loading tries to show details about every case contact that the current user has access to, which for admins is every one created for their

[2021-02-23 18:29] rpolley commented on #1772
Looks like this also happens if you just browse directly to /case_contacts as an admin

[2021-02-23 18:32] rpolley commented on #1772
workflow also works successfully in QA as an admin for org 2, which is much smaller.

[2021-02-23 19:06] rpolley commented on #1772
Managed to reproduce on my machine, if I use the same db seed settings as QA the docker instance sits at 100% cpu for around 20 seconds before the page loads.

[2021-02-23 19:15] rpolley commented on #1772
So I can see two ways of resolving this:

- Don't send admins to this page, send them somewhere else instead
- Make this page use less resources for very large numbers of case contacts, perhaps through some sort of server-side pagination

@compwron which do you think would be the better approach here?

[2021-02-23 21:22] rpolley commented on #1744
can take a look at this one

[2021-02-23 21:43] compwron commented on #1744
go for it! :)

[2021-02-24 02:17] keithrbennett commented on #649
Sorry, I don't know when I'll be able to get to this. Feel free to close it.

[2021-02-24 06:37] #649 closed

[2021-02-25 03:03] compwron opened #1776 "migrate column case_assignment.is_active to case_assignment.active to match other columns"
migrate column case_assignment.is_active to case_assignment.active to match other columns

this is too annoying, kill it.
and remember to do a SAFE column rename! :)

we have a workaround in case-assignment scope,
and in case assignment factory

[2021-02-25 09:28] richard-sistern commented on #1748
On Windows and happy to take this on.

[2021-02-25 16:18] #1748 closed

[2021-02-25 22:19] Zrrrpy opened #1780 "create RFG Twilio account(s)"
Part of epic #1017

AS a CASA maintainer and approved Twilio account user,
I WANT access to an unique or shared RFG Twilio account,
SO THAT we can begin work on SMS notifications.

### How it works now
It doesn't! We don't have a Twilio account yet.

### How it should work
Ruby For Good will either have one shared organization account that all projects can use _or_ each project will have their own

[2021-02-25 22:37] Zrrrpy opened #1781 "Twilio is integrated with app for event triggered notifications"
Part of epic #1017, dependent on #1780

AS a maintainer (and/or possibly stakeholder),
I WANT there to be a place on platform (either under the hood or on the frontend) to add a Twilio API key,
SO THAT the application will be able to trigger Twilio SMS notifications.

### How it works now
It doesn't! Twilio is new territory for Ruby For Good applications, including this project.

### How it should

[2021-02-25 23:03] Zrrrpy opened #1782 "URLs in SMS notifications are shortened"
Part of epic #1017, dependent on #1781

AS a **volunteer/supervisor/admin**,
I WANT to receive SMS notifications containing shortened links only,
SO THAT they are delivered to me in one message (not broken up due to length or blocked by my mobile carrier due to URL content).

### How it works now
Twilio is not set up yet, but once #1781 is complete, we will need to pick a link shortening service t

[2021-02-25 23:32] Zrrrpy opened #1783 "enable deep linking in SMS notifications"
Part of epic #1017, relates to #1782

AS a **volunteer/supervisor/admin**,
I WANT links in SMS notifications to direct to the relevant on-site destination after login,
SO THAT I can quickly and easily do the thing the notification is reminding me to do.

### How it works now
We currently only have the ability to direct users to a specific location on site if they are _already logged in_.

### How

[2021-02-25 23:48] Zrrrpy opened #1784 "all users receive account activation sms notification"
Part of epic #1017, dependent on #1780, #1781, and #1782

AS a **volunteer/supervisor/admin**,
I WANT to receive an SMS notification when my account is first created,
SO THAT I find out about my account expeditiously AND so that I immediately have the opportunity to opt out of SMS notifications.

### How it works now
It doesn't! Currently, the platform only supports email notifications.

### How i

[2021-02-26 00:14] Zrrrpy opened #1785 "admins can add/edit phone numbers for all users"
Part of epic #1017

AS an **admin**,
I WANT to add phone numbers to admin, supervisor, and volunteer accounts,
SO THAT they can receive SMS notifications.

### How it works now
Currently, email is the only point of contact associated with user accounts.

### How it should work
There should be a field for mobile phone on the "edit" page for supervisors, volunteers, and admins underneath "Display na

[2021-02-26 00:27] Zrrrpy opened #1786 "supervisors can add/edit their own mobile number"
Part of epic #1017, dependent on #1785

AS a **supervisor**,
I WANT to add/edit a mobile number in my profile,
SO THAT I can receive SMS notifications.

### How it works now
It doesn't! Currently, email is the only contact medium associated with user accounts.

### How it should work
Supervisors should be able to add/edit their own mobile number under "Edit Profile".

[2021-02-26 00:41] Zrrrpy opened #1787 "supervisors can add/edit volunteer mobile numbers"
Part of epic #1017, dependent on #1785

AS a **supervisor**,
I WANT to be able to add/edit a mobile number associated with a volunteer account,
SO THAT a volunteer can receive SMS notifications AND so that I am aware when a volunteer's mobile number changes.

### How it works now
Currently, email is the only contact medium associated with user accounts. After #1785 is complete, admins will be able

[2021-02-26 00:52] Zrrrpy opened #1788 "add mobile number column to system imports for supervisors"
Part of epic #1017, dependent on #1785

AS an **admin**,
I WANT to be able to import mobile numbers associated with supervisor accounts,
SO THAT I can bulk upload supervisor mobile numbers instead of needing to manually add/edit them one-by-one.

### How it works now
After #1785 is complete, mobile numbers will be able to get added to accounts manually, but not in bulk.

### How it should work
Adm