[2020-09-05 17:20] compwron commented on #661
https://blog.bigbinary.com/2016/02/29/rails-5-improves-redirect_to_back-with-redirect-back.html

[2020-09-05 17:40] Garbar commented on #420
@Zrrrpy But I have one question, is the date "case contact was created in" is the date of the contact itself(occurred_at in schema), or the date when it was entered into the system(created_at)?

[2020-09-05 17:50] compwron commented on #420
@Garbar the date of the contact itself :)

[2020-09-05 18:04] #655 closed

[2020-09-05 18:12] compwron commented on #533
I forced a prod error just now (by assigning empty volunteer to a supervisor)
it worked! https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1599329470046100
I want to move it to #casa-prod channel eventually but it's not urgent

[2020-09-05 18:13] #533 closed

[2020-09-05 18:23] #601 closed

[2020-09-05 18:46] strangrjrjr commented on #638
The Back link was removed, which prevents this error from occurring. No significant changes to UX.

[2020-09-05 19:17] compwron commented on #565
Did this already get done? The first step on this one will be replicating the issue

[2020-09-05 19:19] jmkoni commented on #520
We are putting up a PR to move what was a system test to a unit test (save 2 sec!) but all these slow specs are system tests, so there's not much we can do to speed them up 😢

[2020-09-05 19:21] littleforest commented on #349
Already fixed:

[code]

[code]

[2020-09-05 19:21] #349 closed

[2020-09-05 19:25] littleforest commented on #547
Is it talking about the "Other family", "Other Support Worker", etc?

[2020-09-05 19:32] #520 closed

[2020-09-05 19:46] #653 closed

[2020-09-05 19:59] compwron commented on #636
Who is working on this?

[2020-09-05 20:30] duaimei commented on #531
@leesharma  and I have looked into this issue and there are three options:
1) manual logging
It involves using ActiveSupport and a slack_notification gem
https://www.westagilelabs.com/blog/log-your-slow-queries-in-slack-using-rails/

2) bug snag
There's not a lot of documentation on how to achieve this, but we believe that it would be something like a custom breadcrumb/filter.

3) NewRelic/Scout
I

[2020-09-05 20:50] #661 closed

[2020-09-05 21:09] #570 closed

[2020-09-05 21:15] #547 closed

[2020-09-05 21:25] compwron commented on #519
I'm going to unassign this one because I don't think it's being worked on right now- feel free to pick it up!

[2020-09-05 21:27] compwron commented on #545
I'm going to close this one and open more specific ones :)

[2020-09-05 21:27] #545 closed

[2020-09-05 21:28] #637 closed

[2020-09-05 21:30] compwron commented on #602
We added some linters but this wasn't one of them yet. This still needs doing. I'm going to unassign this because we're not actively working on it. Feel free to work on this! :)

[2020-09-05 21:53] compwron opened #673 "[BUG] new case contact contact made defaults to false. It should not have a default"
[BUG] new case contact contact made defaults to false. It should not have a default
Please also write a test for this to make sure it doesn't break again (for all no-default fields)
This happened while logged into staging with volunteer2

![Screen Shot 2020-09-05 at 2 52 57 PM](https://user-images.githubusercontent.com/578159/92314068-b4226d80-ef87-11ea-957b-77af0f855cf8.png)

[2020-09-05 21:57] jmkoni commented on #673
Ooh I think this might’ve been me and @mecastelom. One of us can fix it.

[2020-09-05 22:26] abachman opened #675 "Clean up Devise default files"
**What is the problem, and what should happen instead?**

Setting up Devise for AllCasaAdmin pointed out that Devise adds a bunch of extra / placeholder stuff to the project. Drop all that.

[2020-09-05 22:29] compwron opened #677 "Do not show case as assignable to a volunteer already assigned to it"
Do not show case as assignable to a volunteer already assigned to it

![Screen Shot 2020-09-09 at 6 27 42 PM](https://user-images.githubusercontent.com/578159/92671053-2f5a8b00-f2ca-11ea-895a-cb1949b3fb30.png)

[2020-09-05 22:37] compwron opened #678 "Volunteer without name set cannot be reached on case view"
Volunteer without name set cannot be reached on case view
Note how the volunteer without a name set can't be clicked into. Let's make the name here default to email if its not available. something like `volunteer.display_name || volunteer.email` - we might have a helper for this already? I forget
We could also hide the email column, it's not needed here imo

<img width="1337" alt="Screen Shot 2020

[2020-09-05 23:22] #640 closed

[2020-09-05 23:23] compwron opened #680 "import stuff"

[2020-09-05 23:25] #675 closed

[2020-09-06 12:51] abachman opened #683 "Make AllCasaAdmin sign in page look like "normal" sign in page"
**What is the problem, and what should happen instead?**

/all_casa_admins/sign_in still looks like Devise defaults. Fix that.

[2020-09-06 13:43] abachman commented on #647
We'll want to pull this from a database table, I think. The driving goal is that these details will be self-managed by the organizations.

The organization editing form can come later, but this issue should discover the DB model that will drive this behavior. Then the editing form will just be a basic CRUD wrapper on the data we already know we need to manage.

[2020-09-06 13:49] abachman commented on #632
Good news! This one was closed by 75fb302ff45

[2020-09-06 13:49] #632 closed

[2020-09-06 13:56] abachman opened #685 "AllCasaAdmin should be able to view CasaAdmins associated with a given CasaOrg"
An AllCasaAdmin looking at their dashboard should be able to click on an organization name and visit an organization details page where they can see all CasaAdmin users associated with the organization.

Follows #628

[2020-09-06 13:58] abachman opened #686 "AllCasaAdmin should be able to create CasaAdmin accounts."
AllCasaAdmins, when looking at a CasaOrg page, should be able to click "New CASA Admin" and be directed to a form where they can add an email address and save a new CasaAdmin user record associated with the given CasaOrg.

Follows #628

[2020-09-06 13:58] #673 closed

[2020-09-06 13:59] #683 closed

[2020-09-06 14:02] abachman opened #687 "AllCasaAdmin should be able to create and view CasaOrganizations."
AllCasaAdmin, when looking at their dashboard, should be able to click the "New CASA Organization" button and be directed to a form where they can save a new CASA organization.

That new CASA organization should then show up in the list on their dashboard.

Follows #628

[2020-09-06 14:29] Zrrrpy commented on #531
reassigning to Linda because she has access to everything (including Skylight which we might use for this)

[2020-09-06 14:36] alindeman commented on #636
I'll take a look :+1:

[2020-09-06 15:11] Zrrrpy commented on #636
@alindeman yes! If you [download a report](https://casa-r4g-staging.herokuapp.com/reports) as an Admin and then try to import it, that should trigger this error.

[2020-09-06 15:34] alindeman commented on #636
@Zrrrpy I downloaded a report from the link for 2020-08-06 - 2020-09-06 and attempted to import it as a volunteer CSV, supervisor CSV and cases CSV. In each case, I received an error (as a flash message), but the app did not crash. Is it possible this one got resolved inadvertently, or am I still missing a step to reproduce it?

[2020-09-06 15:39] compwron commented on #636
I double-checked and I agree that the exception isn't thrown in this case It must have been somehow fixed 😅

[2020-09-06 15:41] compwron commented on #636
That error could be SO much prettier tho

[2020-09-06 15:42] alindeman commented on #636
Good point. Do you have ideas on how it should look? As it stands today, it could also become quite large if there are a lot of invalid records.

[2020-09-06 15:42] compwron commented on #636
![Screen Shot 2020-09-06 at 8 41 45 AM](https://user-images.githubusercontent.com/578159/92329533-d31f0f00-f01c-11ea-9b23-8338d61d5435.png)

[2020-09-06 15:42] Zrrrpy opened #690 "Admin can not create or save volunteer account without a display name"
Admin can not create or save volunteer account without a display name
If display name is empty, there should be an error on the page requesting that name be set

[2020-09-06 15:43] Zrrrpy opened #691 "Admin can not import volunteers without display names"

[2020-09-06 16:09] Zrrrpy commented on #690
noting that there will be a lot of code needing cleaning up after this esp null checks - will file issue for this

[2020-09-06 16:38] #493 closed

[2020-09-06 17:13] strangrjrjr commented on #691
I have a plan for resolving this issue via the `volunteers_controller`, but I need a little nudge to provide informative errors to the user. I've added validations to prevent creation of a volunteer record when the `email` or `display_name` are empty.

Where do the following errors come from?

![Screen Shot 2020-09-06 at 10 07 47 AM](https://user-images.githubusercontent.com/5456014/92331123-1e3f1

[2020-09-06 18:01] abachman opened #693 "Default sign in page should have no organization affiliation"
**What type of user is this for? volunteer/supervisor/admin/all**

Anonymous (not yet signed in users)

**Description**

Building off of #647, if users belong to organizations and that determines what organization details will appear on the page, then people who have not yet signed in have no organization, so the app doesn't know what organization to show them.

When people who are not signed in v

[2020-09-06 18:26] Zrrrpy commented on #532
high character restriction (if any) on notes – maybe a "read more" option for longer notes displaying in the main dashboard.

[2020-09-06 18:26] Zrrrpy commented on #532
Ann Marie would prefer for lists to be longer and more specific vs other.

Placement:
Foster Parent
Independent Living Placement
Relative Placement

[2020-09-06 18:31] #628 closed

[2020-09-06 18:33] Zrrrpy commented on #532
Ensure entire text next to check box is clickable under _Who did you contact?_

[2020-09-06 18:39] Zrrrpy commented on #532
add white div above CINA info banner

[2020-09-06 18:40] #678 closed

[2020-09-06 18:59] Zrrrpy commented on #532
explore how to mark a CASA case as transition aged youth (maybe click the caterpillar and it turns into butterfly?)

Other notes from chat:
We could add “days/weeks/etc ago” to the date on case contacts if we want it 
From Linda to Everyone: (11:56 AM)

 If it fits … and also could make “duration” be one clock icon per hour spent if we want more visual representation but that might be too confusin

[2020-09-06 19:45] #685 closed

[2020-09-06 19:52] maggie-larkin opened #696 "new header for case contacts"
Part of epic #532 (<a href="https://udw1g1.axshare.com/#id=v15n5y&p=volunteer_experience&g=1">see complete mockups here</a>)

### Context:
- @taysvea redesigned the volunteer portal! Yay having a designer
- From her research, it seems very very rare to have two cases at a time
- She's made a whole comp but some of the things on this mock up are unverified yet
- This story just deals with the heade

[2020-09-06 20:07] #565 closed

[2020-09-06 21:00] #519 closed

[2020-09-06 22:28] #602 closed

[2020-09-08 01:44] #647 closed

[2020-09-08 23:45] compwron opened #704 "BUG - admin dashboard shows volunteer unassigned from supervisor as assigned"
logged in as admin, unassign volunteer from supervisor. Go to admin dashboard, the volunteer will still show as assigned to that supevisor. this is probably because the supervisor_volunteer record hasn't been deleted, just marked active-false. Fix this by making volunteer.supervisor only return active supervisor_volunteer record link
Make sure that this also works for supervisors
`casa/app/views/d

[2020-09-09 00:51] compwron opened #705 "UI/UX tuning around filters"
confusion about the filters - for another app we list which filters are active to avoid the confusion of not knowing why some stuff isn't showing up? - Polly

[2020-09-09 00:52] compwron opened #706 "Add “pick displayed columns” for supervisor like admin has"
(and on the technical side, reduce the dashboard duplication that allowed this to happen)

![Screen Shot 2020-09-09 at 8 44 25 PM](https://user-images.githubusercontent.com/578159/92679440-49ea2f80-f2dd-11ea-9757-08cfb1d574ae.png)
![Screen Shot 2020-09-09 at 8 44 20 PM](https://user-images.githubusercontent.com/578159/92679443-4b1b5c80-f2dd-11ea-9659-fcef82f8508a.png)

[2020-09-09 00:52] compwron opened #707 "Update error message for failed case imports"
Update error message for failed case imports
If the same case is in the import file twice, the error message should be in green "One case ABC imported" and in red "Case ABC not imported because it already exists"
![92675091-7dc05780-f2d3-11ea-8c13-2d6cc9d61fda](https://user-images.githubusercontent.com/578159/92675541-7c435f00-f2d4-11ea-8af0-46e35a3f3cc9.png)
Avoid working on this until https://gi

[2020-09-09 00:53] compwron opened #708 "Better error when trying to change an email to an email already in the system"
ERROR in prod https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1599610264099800
Sarah-admin tried to assign sara-supervisor email to the same as sarah-admin’s email address

[2020-09-09 03:30] littleforest commented on #704
@compwron whoops I didn't read your comment closely enough. Is your preference that `volunteer.supervisor` returns nil if the `supervisor_volunteer` record is inactive? I can make that change instead.

[2020-09-09 03:38] #704 closed

[2020-09-09 03:50] compwron commented on #704
Confirmed this works for supervisor and admin in staging :)

[2020-09-10 00:17] abachman opened #710 "Demo org with self-cleanup"
We want CASA orgs to be able to test out our system.
They could use staging for this! But staging is messy, and also might have a different version of the code than prod, and also is used for user testing. So ideally we won't use staging.

A "normal" way to provide demo-ability is a self-refreshing "demo" account.

- [ ] write a "demo seed" file which creates a realistic but small set of data for

[2020-09-10 00:18] abachman opened #711 "Make robots.txt way more restrictive."
**Description**

Update robots.txt to disallow all.

[2020-09-10 01:00] #534 closed

[2020-09-10 01:00] compwron commented on #711
Why?

[2020-09-10 01:24] #507 closed

[2020-09-10 01:56] compwron commented on #186
FYI @taysvea this might be related to your UI designs

[2020-09-10 01:57] abachman commented on #711
Just makes sure Google etc. doesn't index anything behind auth. Teeny tiny privacy issue, but still work thinking about.

If/when there's a landing page, that should be left open.

[2020-09-10 02:06] compwron commented on #491
I'm unassigning this from @mecastelom to let it go back into the work pool for this coming weekend, because I don't think work was started on this one yet (?) (Please let me know if this is true or not!)

[2020-09-10 02:07] compwron opened #713 "CASA Admin can create other CASA Admin"
CASA Admin can create other CASA Admin
Add a "new admin" button on the admin dashboard

[2020-09-10 02:08] compwron opened #714 "CASA Admin can view all other admins for their CASA"
CASA Admin can view all other admins for their CASA
Put it on the admin dashboard page down at the bottom
Use your judgement and have fun :)

[2020-09-10 02:30] compwron commented on #580
This is fixed

[2020-09-10 02:30] #580 closed

[2020-09-10 02:31] compwron commented on #626
This issue makes no sense

[2020-09-10 02:31] #626 closed

[2020-09-10 02:34] dominiquecuevas commented on #707
![image](https://user-images.githubusercontent.com/56096225/92675091-7dc05780-f2d3-11ea-8c13-2d6cc9d61fda.png)

[2020-09-10 03:08] Zrrrpy commented on #648
@abachman I revised this and consolidated quite a bit – I think we're going to remove the org resource links from the footer and replace them with two static links that don't need to be customized: one to Ruby for Good, one to a bug reporting form. I'll link to the related issue here once it's filed.

[2020-09-10 03:16] compwron commented on #489
This is done, ish, for now

[2020-09-10 03:16] #489 closed

[2020-09-10 03:17] compwron commented on #34
This is done

[2020-09-10 03:17] #34 closed

[2020-09-10 03:20] compwron commented on #636
Please hold off on this until https://github.com/rubyforgood/casa/pull/624 is merged

[2020-09-10 03:20] Zrrrpy opened #715 "Add Ruby For Good to footer"
**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
all

**Where does/should this occur?**
In the site footer.

**Description**
Currently, there are three hyperlinks in the site footer. This should replace that:

Built by <a href="https://rubyforgood.org/">Ruby For Good</a> + this logo (small, should not seem huge next to text)
![11573263](https://user-images.gith

[2020-09-10 03:28] compwron commented on #449
Please avoid working on this until #624 is merged

[2020-09-10 03:29] compwron commented on #691
Please avoid working on import functionality until #624 is merged

[2020-09-10 03:37] compwron commented on #618
Hi @haoxianZ ! How are you doing with this issue? Are you still working on it? Please let me know :)

[2020-09-10 03:38] compwron commented on #536
I am moving this back to ready for dev because @duaimei is working on another issue right now :)

[2020-09-10 03:40] compwron commented on #696
@maggie-larkin  / anyone, what are next steps on this issue? :)

[2020-09-10 03:54] compwron commented on #16
this is done via heroku

[2020-09-10 03:54] #16 closed

[2020-09-10 11:22] haoxianZ commented on #618
Hi, Sorry, last week was quite busy, is it OK I get this done by end of next week? if this is an urgent issue, then please feel free to take over.

[2020-09-10 16:57] compwron commented on #618
@haoxianZ That's good :)

[2020-09-11 16:56] duaimei opened #718 "Adjust rubocop settings"
**What type of user is this for? volunteer/supervisor/admin/all**
As a developer I want to be able to run rubocop -a and for it to only fix the files that I have made changes to.

**Description**
right now, if you run `bundle exec rubocop -a`, it changes all double quotes to single quotes. Which is not the Ruby way. Find the config file for rubocop, change that, and then see if there are any other

[2020-09-12 00:07] #603 closed

[2020-09-12 00:09] #420 closed

[2020-09-12 02:31] keithrbennett commented on #707
The number of duplicates could be too many to fit into a flash message without being unreadable. Maybe we need an error dialog?

Also, it might not be difficult to analyze the file for duplicates in advance of passing it to the importer. That may be a simpler approach, since we would not have to differentiate between duplicates and other errors.

[2020-09-12 02:37] keithrbennett commented on #691
#624 is now merged.

[2020-09-12 02:42] keithrbennett commented on #691
Interesting question about where is the validation specified, I would have expected it in the model but don't see it there. I noticed that null is set to false in the schema.rb file -- does that somehow result in the validation? For example:

[code]

[2020-09-12 02:44] keithrbennett commented on #680
?

[2020-09-12 02:47] keithrbennett commented on #636
#624 is now merged.

[2020-09-12 03:17] abachman commented on #691
Yes, `null: false` at the DB level is the only way to _guarantee_ that a blank/null value will never be accepted. Rails validations can be bypassed fairly easily.

Rails validations, though, should also be used so that the DB restrictions are reinforced by the model and clear to everyone involved.

[2020-09-12 13:30] #708 closed

[2020-09-12 13:49] jmkoni commented on #718
We use standard... not rubocop 😄 . If you want to fix the files, run `standardrb --fix`

[2020-09-12 13:49] #718 closed

[2020-09-12 13:58] strangrjrjr commented on #691
Would it make sense to put something like `validates :email, presence: true` in the `User` model or the `Volunteer` model? I was thinking `User`; wouldn't all types need an email and a display name?

[2020-09-12 14:07] abachman opened #721 "Yarn lint fixes"
lint errors in app/javascript/src/case_contact.js

[2020-09-12 14:33] #721 closed

[2020-09-12 14:46] BrianBorge commented on #706
Can a supervisor create new volunteers?

[2020-09-12 14:51] compwron commented on #706
@BrianBorge Correct, a supervisor cannot create new volunteers

[2020-09-12 16:05] ErinClaudio commented on #677
Attempted to solve the issue with no luck.

`.reject {|cc| cc.volunteers.include?(current_user) }`
Did not work

[2020-09-12 17:04] compwron opened #727 "Remove extra page https://casa-r4g-staging.herokuapp.com/case_contacts"

[2020-09-12 17:32] littleforest commented on #449
@compwron so should we be removing [this code](https://github.com/rubyforgood/casa/blob/master/app/controllers/supervisor_volunteers_controller.rb#L10-L13) that deletes all previous supervisor/volunteer relationships?

[code]

[2020-09-12 17:40] littleforest opened #728 "Style error message when updating volunteers"
**What type of user is this for? volunteer/supervisor/admin/all**
Admin

**Description**
When updating volunteer or supervisor email, if the email is a duplicate, then an error message is returned.  The error message needs to be prettified.

* Log in as casa_admin
  * Click a volunteer name to edit
  * Enter an email that belongs to another user
  * Click "Submit"

* Log in as casa_admin
  * Click

[2020-09-12 17:44] littleforest opened #729 "[BUG] 500 error when editing supervisor email to email in use"
**What is the problem, and what should happen instead?**
* Log in as casa_admin
* Click supervisor name to edit
* Enter email that already exists
* Click Submit
* Get 500 error
* Should get notice that email has already been taken

See #708 for similar error on volunteer page.

**Screenshots of current behavior, if any**

<img width="1042" alt="Screen Shot 2020-09-12 at 10 42 57 AM" src="https://u

[2020-09-12 17:49] compwron commented on #449
@littleforest Yes, either now or eventually we need to get rid of that. I'm worried it may break other things which use `volunteer.supervisor` or `supervisor.volunteers` - we need to make sure that `supervisor_volunteer` records with `is_active=false` are filtered out in some way (default scope, explicit scope, or other filter).
I would prefer to not have default filters because it can be hard to

[2020-09-12 18:21] alindeman commented on #690
It looks like #726 will fix this

[2020-09-12 18:24] armahillo opened #731 "HTML ids need to be unique within a single page"
**What is the problem, and what should happen instead?**
In the Dashboard page (and possibly other places), there are a few cases where we have `<td id="name">` (and similar) in an iterated collection, this will result in multiple `<td>` tags having the same `id` attribute (`name`). The W3C spec requires that `id` attributes be page-unique.

A common remediation tactic would be to set the `<tr id=

[2020-09-12 18:24] #536 closed

[2020-09-12 18:53] cliftonmcintosh commented on #449
@littleforest

Thank you for taking a look at this issue. The `destroy_all` cannot be removed until the volunteer-to-supervisor relationship has been turned into a many-to-many relationship. Removing that delete will cause problems as long as the volunteer-to-supervisor relationship is many-to-one.

If the delete is removed before altering the relationship, things will break.

[2020-09-12 18:56] #714 closed

[2020-09-12 19:20] #630 closed

[2020-09-12 19:36] maggie-larkin commented on #696
Sorry I hadn't finished writing it. It's ready to go now!

[2020-09-12 19:41] maggie-larkin opened #735 "Tabs separate cases for volunteers"
### Context

- Through user research, @taysvea has found that it's rare for a volunteer to have more than one case
- So we'll want to show only one case at a time

### How it works now
Volunteers assigned to multiple `casa_cases` see `case_contact` page cards stacked on top of each other.

### Screenshot of Current Behavior
<img width="1440" alt="Screen Shot 2020-10-13 at 4 07 09 PM" src="https://

[2020-09-12 19:41] jmkoni commented on #662
#698 should be ready to review. Changed a couple of things:
- contact_type has to be single select for now. We can maybe change it to multi-select but that query is hard 😰
- wants driving reimbursement, contact made, and has transitioned will also be selects (with the option to not select). Since they are boolean values, it made more sense to just pass one or not at all.

[2020-09-12 19:42] jmkoni commented on #662
Frontend still needs to be done 😅

[2020-09-12 19:47] pollygee opened #736 "Admins can download reimbursement request summary"
Part of epic #529

**What type of user is this for? volunteer/supervisor/admin/all**
admin and supervisors

**Where does/should this occur?**
On the <a href="https://casa-qa.herokuapp.com/reports">Generate Reports page,</a> accessible via the admin dashboard.

[Log in to QA](https://casa-qa.herokuapp.com/) and use these credentials to access the admin dashboard:
username – casa_admin1@example.com

[2020-09-12 20:25] #729 closed

[2020-09-12 20:26] keithrbennett opened #739 "Replace awesome_print gem with amazing_print."
The `awesome_print` gem has been unmaintained, and its `amazing_print` fork has taken over development.

Using awesome_print results in annoying verbose and unnecessary output, such as:

[code]

`amazing_print` has been updated to eliminate these warnings and is being maintained.

[2020-09-12 21:50] #739 closed

[2020-09-12 23:09] #662 closed

[2020-09-12 23:19] #677 closed

[2020-09-13 00:20] #706 closed

[2020-09-13 12:44] #557 closed

[2020-09-13 12:59] abachman opened #744 "Complete per-CASA footer to include real info and not just the ruby for good logo"
**What type of user is this for? volunteer/supervisor/admin/all**

All

**Description**

We have two controller helper methods doing the same work in slightly different ways, refactor all uses of `@casa_org` in views to be `current_organization`.

[2020-09-13 14:09] #687 closed

[2020-09-13 14:20] Zrrrpy opened #747 "update account activation emails for admins and supervisors"

[2020-09-13 14:20] compwron opened #748 "Admin unable to update their own email address on their profile"

[2020-09-13 14:22] alindeman opened #749 "New CASA Admins receive invite email"
**What type of user is this for? volunteer/supervisor/admin/all**
All CASA Admin, CASA Admin

**Description**
When a new CASA Admin is created, they should receive an email with details about how to login for the first time.

Relates to issue: #751

[2020-09-13 14:28] #727 closed

[2020-09-13 14:30] jmkoni commented on #631
Don't know who did this, but this is already done
<img width="577" alt="Screen Shot 2020-09-13 at 10 30 42 AM" src="https://user-images.githubusercontent.com/1082370/93020645-30323c00-f5ac-11ea-9fb9-9b8ec03da70f.png">

[2020-09-13 14:30] #631 closed

[2020-09-13 14:50] armahillo commented on #646
I can work on this one later but if someone else is wanting to work on it go for it!

[2020-09-13 14:51] Zrrrpy opened #750 "Import flash message should display nothing instead of [nil] for empty rows"
Part of epic #528

**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
admins

**Where does/should this occur?**
On the <a href="https://casa-qa.herokuapp.com/imports">import page</a> accessible by admins.

**Description**
When an admin imports a .csv containing blank rows in a column containing a header, the system displays a flash message at the top of the scree

[2020-09-13 14:58] alindeman opened #751 "Use devise_invitable for all invite emails"
**What is the problem, and what should happen instead?**
Right now we have two different mailers that have more or less the same content:
* `app/views/devise/mailer/invitation_instructions.{html,text}.erb`
* `app/views/volunteer_mailer/account_setup.html.erb`

The former is used by the [devise_invitable](https://github.com/scambra/devise_invitable) gem, which we use for inviting supervisors and us

[2020-09-13 15:01] compwron commented on #751
Hmm yeah that would be a good improvement :)

[2020-09-13 15:02] armahillo commented on #750
1. Sign in as casa_admin1@example.com
 2. Click on account -> system imports
 3. Download example CSVs (import cases)
 4. Add rows with any numbers for the first column, TRUE or FALSE for second, and leave the third blank
 5. Import the document

Try different combinations of missing headers / missing data.

Some data with quoted fields result in a 500.

Original user case exported from Excel

[2020-09-13 15:03] #648 closed

[2020-09-13 15:04] armahillo commented on #750
From Zoe:
[code]
"change the data in rows 2 and 3 before re-importing each time so we know the nil isn’t due to duplicate accounts"

[2020-09-13 15:20] armahillo commented on #750
<img width="982" alt="Screen Shot 2020-09-13 at 11 20 07 AM" src="https://user-images.githubusercontent.com/502363/93021846-2a8c2480-f5b3-11ea-9756-bd0e68aed23e.png">

[2020-09-13 15:43] alindeman opened #754 "Mail was not delivered to Mailcatcher when using Docker"
**What is the problem, and what should happen instead?**
* Start up Docker using instructions in DOCKER.md
* Login as a CASA admin
* Create a new supervisor
* Expected: The supervisor invite email should be available at http://localhost:1080, but it is not

It looks like Mailcatcher is supposed to be hooked up correctly, including for Docker, but when pairing with @dominiquecuevas we did not see m

[2020-09-13 15:51] #715 closed

[2020-09-13 16:03] Zrrrpy opened #756 "[bug] Any supervisor should be able to view any supervisor page"
[Bug]

_Current behavior:_ Supervisors get an unhandled error message when trying to access any view supervisor page (including their own).

_What should happen:_ Any supervisor should be able to view any supervisor page (including their own).

**How to reproduce**:
1 - Log in as supervisor1@example.com
2 - PW: 123456
3 - Click on any supervisor name (including your own: it's Gloria).
4 - Referenc

[2020-09-13 16:27] #686 closed

[2020-09-13 16:28] #491 closed

[2020-09-13 16:30] #690 closed

[2020-09-13 16:30] #691 closed

[2020-09-13 16:35] maggie-larkin opened #760 "Admin can enter CASA Case's birth month and year"
### Context
- Right now, the burden is on the users to update the case from "Youth Under 14" to "Transition Age"
- We want to make this automatic in the system
- We also don't want to put too much PII in the system, so this will only use month and year to determine the youth's age
- Open to how this field (or fields) looks. I am picturing something like "Start Year Demonstration" example [here](ht

[2020-09-13 16:43] littleforest opened #761 "Figure out issues with yarn install in Docker"
Don't think my volume is working. Might need to move yarn install command into last stage.

[2020-09-13 16:51] littleforest commented on #754
I can take a look!

[2020-09-13 16:51] compwron opened #763 "Remove SupervisorVolunteerController"
https://rubyforgood.slack.com/archives/CVB0QJGVD/p1600014589444800

A-A-ron (He/Him)  9:29 AM
@zoe (she/her) CASA team lead @Linda (she/her) - CASA team lead I think maybe we can consider junking the SupervisorVolunteerController and having the relationship of Supervisors and Volunteers be mediated on those respective resources
SupervisorVolunteer is a weak entity (its existence is wholly dependen

[2020-09-13 16:52] compwron opened #764 "Clarify test naming convention"
Create a naming convention for the tests, particularly the system specs. We’ve got a few different naming conventions and its not always clear where to look for specific kinds of specs (also post-conf)

[2020-09-13 17:00] littleforest commented on #754
If you still have your Docker setup going, can you just try to hard-refresh the http://localhost:1080 page? I’ve had issues before where the mail is coming in, you just need to refresh.

[2020-09-13 17:10] #186 closed

[2020-09-13 18:11] dominiquecuevas commented on #754
@littleforest A refresh of the page didn't work

[2020-09-13 18:46] #449 closed

[2020-09-13 19:31] #618 closed

[2020-09-13 19:42] littleforest commented on #761
Working fine now, not sure what the issue was before.

[2020-09-13 19:42] #761 closed

[2020-09-13 19:45] littleforest commented on #754
It looks like `letter_opener` is also installed. Does anyone know if there are conflicts to using both `letter_opener` and `mailcatcher`? I will also research.

[2020-09-13 20:04] littleforest commented on #754
Oh, I see the problem -- the dev environment file is set up for both letter_opener and mailcatcher for the `smtp` method, and letter opener wins. Should I just remove the mailcatcher setup and we can go with letter opener?

[2020-09-14 20:27] mecastelom commented on #748
@compwron Should the admin be able to update emails from other users? or the admin should be able to update its own email only.
Is there a user type that should have access to update emails?

[2020-09-14 22:51] littleforest commented on #754
I'm just going to remove the mailcatcher setup and we will continue to use `letter_opener` which is what is actually configured. Please stop and remove the mailcatcher service so you don't end up with an orphan container after #767 is merged:

[code]

[2020-09-14 23:43] compwron opened #768 "[BUG] Correct sorting of case contacts when miles driven is 0 rather than None"
This is currently volunteer2 in staging but that data might get deleted- replicate locally instead
![Screen Shot 2020-09-14 at 4 02 41 PM](https://user-images.githubusercontent.com/578159/93148798-a2d51180-f6a9-11ea-92fc-f239b5f37f69.png)
![Screen Shot 2020-09-14 at 4 02 46 PM](https://user-images.githubusercontent.com/578159/93148799-a4063e80-f6a9-11ea-9510-f1b676624635.png)

[2020-09-15 00:29] dominiquecuevas commented on #754
Done! thanks, Jeanine!

[2020-09-15 16:08] #754 closed

[2020-09-15 16:10] #748 closed

[2020-09-16 14:22] khiga8 commented on #760
Hey @maggie-larkin, for this issue, since we're only using birth month and year to determine age, would we want to round up or down?

If the system only knows birth day and month, should a youth be marked as their new age as soon as it hits September, or wait until October?

[2020-09-16 15:47] compwron opened #771 "AllCasaAdmin casa_org overview"
Part of epics: #527 and #530

**What type of user is this for? [volunteer/supervisor/admin/all or All CASA Admin]**
All CASA Admin

**Where does/should this occur?**
In the All CASA Admin dashboard, on a <a href="https://casa-qa.herokuapp.com/all_casa_admins/casa_orgs/2">casa_org page</a>.

_Accessible by logging into the <a href="https://casa-qa.herokuapp.com/all_casa_admins/sign_in">All CASA Adm

[2020-09-16 15:47] compwron opened #772 "AllCasaAdmin can edit and deactivate CasaAdmin users"
Part of epic #527

**What type of user is this for? [volunteer/admin/supervisor/all or All CASA Admin]**
All CASA Admin

**Where does/should this occur?**
On any <a href="https://casa-qa.herokuapp.com/all_casa_admins/casa_orgs/2">`casa_org` page</a> accessible by clicking on the name of any `casa_org` in the All CASA Admin dashboard.

**Description**
On the far right of the Administrators table, t

[2020-09-16 15:50] compwron opened #773 "Improve CasaAdmin /import success/failure messages to have good formatting and a list of imported items"
![Screen Shot 2020-09-16 at 8 49 58 AM](https://user-images.githubusercontent.com/578159/93361437-bb544180-f7f9-11ea-90a9-10073ea8c717.png)
![Screen Shot 2020-09-16 at 8 49 51 AM](https://user-images.githubusercontent.com/578159/93361443-bbecd800-f7f9-11ea-9a19-d8e9966f9235.png)

[2020-09-16 15:54] compwron opened #774 "Admin can add new admin accounts"
Part of epic: #4 // in progress duplicate: #713

**What type of user is this for? [admin/supervisor/volunteer/all OR All CASA Admin]**
admin

**Where does/should this occur?**
At the bottom of the admin dashboard, where it says "Admin."

<a href="https://casa-r4g-staging.herokuapp.com/">Log in to staging</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.co

[2020-09-16 15:54] compwron opened #775 "Improve UI on CasaAdmin /imports to make it easier to not click Import without a selected csv"

[2020-09-16 16:01] compwron opened #776 "Supervisors can only edit case contacts created by self or volunteer assignment"
Part of epic #105

**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
supervisors

**Where does/should this occur?**
On the supervisor dashboard in the Detail View of a CASA Case, accessible by clicking "Detail View" under the subheader "Cases", or by clicking on any CASA case in the volunteer view that corresponds to a volunteer assigned to a supervisor other th

[2020-09-17 02:52] Zrrrpy commented on #776
Scheduled an email to PG CASA for tomorrow morning to confirm user permissions. Will update here when I hear back.

[2020-09-17 03:11] Zrrrpy opened #779 "New admins should display on admin dashboard"
Part of epic #4

**What type of user is this for? [supervisors/admins/volunteers/all or All CASA Admin]**
admins

**Where does/should this occur?**
On the Admin dashboard, at the bottom underneath the subheader "Admins".

<a href="https://casa-r4g-staging.herokuapp.com/">Log in to staging</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.com
password – 123

[2020-09-17 03:19] Zrrrpy opened #780 "Admin can edit other admin accounts"
Part of epic #4

**What type of user is this for? [admin/volunteer/supervisor/all]**
admin

**Where does/should this occur?**
On the admin dashboard, at the bottom underneath subheader "Admins".

<a href="https://casa-r4g-staging.herokuapp.com/">Log in to staging</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.com
password – 123456

**Description**
Under

[2020-09-17 03:41] Zrrrpy opened #781 "Admin can deactivate their own account"
Part of epic #4

**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
admin

**Where does/should this occur?**
On the <"https://casa-r4g-staging.herokuapp.com/users/edit">edit profile page</a> for Admins.

<a href="https://casa-r4g-staging.herokuapp.com/">Log in to staging</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.c

[2020-09-17 17:03] #747 closed

[2020-09-17 17:05] #768 closed

[2020-09-17 17:47] littleforest opened #784 "Set miles_driven field to default to 0 in database"
**Description**

Currently we are manually setting the `miles_driven` field for a Case Contact to 0 if the field is left as null when the case contact form is submitted. We would like to modify this by having the database field automatically default to 0.

- [ ] Make sure a request or system spec exists that checks the following (please add a new test if none exists since ultimately the behavior w

[2020-09-17 19:35] #784 closed

[2020-09-18 07:17] compwron opened #789 "Fix miles_driven nil to 0 value migration"
See slack thread https://rubyforgood.slack.com/archives/CVB0QJGVD/p1600305358004800

**Screenshots**
<img width="1614" alt="Screen Shot 2020-09-16 at 6 15 31 PM" src="https://user-images.githubusercontent.com/62810851/93723650-449aa980-fb55-11ea-9d1f-e498c3385e3e.png">

[2020-09-18 07:17] compwron opened #790 "write a test for dev and staging seed files to make sure they're not broken"
see slack thread https://rubyforgood.slack.com/archives/CVB0QJGVD/p1600305358004800

[2020-09-18 14:51] compwron opened #792 "emancipation checklist"
AS a **volunteer**,
IF I have an active `transition_aged_youth` `case_assignment`,
I WANT to access an Emancipation Checklist,
SO THAT I am better equipped to prepare my `casa_case` for emancipation.

**Acceptance Criteria**
- [ ] On the CASA Case Details page, there is a button (next to "Edit Case Details") with the text "Emancipation".
- [ ] This button directs to the Emancipation Checklist (see

[2020-09-18 21:18] Zrrrpy commented on #776
Confirmed with stakeholders that supervisors should only be able to edit case contacts created by themselves or created by volunteers currently assigned to them.

[2020-09-18 21:57] Zrrrpy commented on #760
Just checked with the stakeholders about this – the system would wait until October in this instance.

[2020-09-18 23:08] Zrrrpy opened #793 "Admin can deactivate other admin accounts"
Part of epic #4

**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
admin

**Where does/should this occur?**
At the bottom of the admin dashboard underneath the subheader, "Admins" on the Edit Admin page (see issue #780).

**Description**
Admins should have the ability to deactivate (not delete) another admin's account. (See how this is handled on an <"https://ca

[2020-09-19 00:05] Zrrrpy opened #794 "add seeds/qa.rb which does the same as seeds/staging.rb to make re-seeding from heroku commandline easier if/when we bork the qa data"

[2020-09-19 00:25] Zrrrpy opened #795 "Clicking header should take you home in All CASA Admin dashboard"
Part of epic #527

**What type of user is this for? [volunteer/supervisor/admin/all or All CASA Admin]**
All CASA Admin

**Where does/should this occur?**
In the All CASA Admin dashboard. Accessible by <a href="https://casa-qa.herokuapp.com/all_casa_admins/sign_in">logging in here</a> with the following credentials:
email: allcasaadmin@example.com
password: 123456

**Description**
Clicking on the

[2020-09-19 00:29] Zrrrpy opened #796 "User session ends when the window is closed OR after 1 hour of inactivity"
**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
all including All CASA Admin

**Description**
When a user closes the browser window containing an active user session OR after one hour of activity has passed in a user session (whichever happens first), the session should automatically end, and the user should be logged out.

[2020-09-19 00:45] #200 closed

[2020-09-19 00:45] Zrrrpy commented on #200
closed because this is being replaced by a new "follow up" feature

[2020-09-19 20:30] cliftonmcintosh opened #797 "Volunteer shown as actively assigned to two supervisors after being re-assigned"
## Expected Behavior
When a volunteer has been unassigned from a supervisor, that volunteer's listing with that supervisor should have the text "Unassigned" in the "Assign" column even after that volunteer has been assigned to a new supervisor.

## Actual Behavior
When a volunteer has been unassigned from a supervisor and then the volunteer has been assigned to a new supervisor, the list of volunt

[2020-09-19 20:32] cliftonmcintosh commented on #797
I believe this was introduced with https://github.com/rubyforgood/casa/pull/765

[2020-09-20 19:52] Zrrrpy opened #798 "Admin can download failed rows from import"
Part of epic #528

**What type of user is this for? [admin/supervisor/volunteer/all]**
admin

**Where does/should this occur?**
On the imports page accessible via the Admin dashboard. Click the drop down menu in the upper right hand corner of header and select "System Imports".

<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> and use these credentials to access the admin dashboard:
usern

[2020-09-20 19:54] Zrrrpy commented on #707
@compwron any flags for closing this and replacing with #798?

[2020-09-20 20:46] Zrrrpy commented on #736
Going to gather more information on this from stakeholders and then will update with more details.

[2020-09-20 20:56] Zrrrpy commented on #736
emailed stakeholders about which users need this. Will update here once they get back.

[2020-09-20 21:07] compwron commented on #797
Oh noooo not again
Thank you for the github issue. This definitely needs fixing

[2020-09-20 21:08] compwron commented on #707
@Zrrrpy sounds good to me!

[2020-09-20 21:08] #707 closed

[2020-09-20 22:07] Zrrrpy commented on #751
sounds like consensus then is that we will use `devise_invitable` for all invite emails and scrap the `app/views/volunteer_mailer/account_setup.html.erb` mailer? cc @compwron (If yes I'll update the ticket to reflect this)

[2020-09-20 22:20] Zrrrpy commented on #773
closing this out and replacing with #798

[2020-09-20 22:20] #773 closed

[2020-09-20 22:30] Zrrrpy commented on #522
let's hold on this until the new UI is built out

[2020-09-20 22:42] Zrrrpy opened #799 "Admin can import CASA case's birth month and year"
Part of epic #528 // dependent on #760

**What type of user is this for? [admin/volunteer/supervisor/all or All CASA Admin]**
admin

**Where does/should this occur?**
On the <a href="https://casa-qa.herokuapp.com/imports">System Imports page</a> accessible via the Admin dashboard by clicking on the dropdown menu in the upper right hand corner of the header.

<a href="https://casa-qa.herokuapp.com/

[2020-09-20 22:51] Zrrrpy opened #800 "Add column for birth month and year to Example Case .csv"
Part of epic #528 // dependent on #760 and #799

**What type of user is this for? [admin/volunteer/supervisor/all or All CASA Admin]**
admin

**Where does/should this occur?**
This change should be reflected on the example .csv for Cases available to download on the <a href="https://casa-qa.herokuapp.com/imports">System Imports page</a>

<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> an

[2020-09-20 22:56] Zrrrpy commented on #797
@cliftonmcintosh just wanted to express my gratitude for all the detail you provided in this issue – I didn't need to add anything! Thank you for making this clear and easy for a contributor to pick up.

[2020-09-20 23:02] Zrrrpy commented on #756
This appears to be fixed on the frontend in staging now – @armahillo // @jmkoni any outstanding work on the backend or can I close this?

[2020-09-20 23:04] Zrrrpy commented on #84
@duaimei Is this something you'd like to continue working on? (No worries if not!) Let me know either way as we have a bunch of new contributors this week and I'll put this back in to-do if it's good to be picked up by someone else.

[2020-09-20 23:09] Zrrrpy commented on #713
@alindeman you still working on this? (We've got a bunch of new contributors who are going to be doing work this week, so no worries if not.)

[2020-09-20 23:11] Zrrrpy commented on #282
Hey @strangrjrjr, you still working on this? (No worries if not, we've got a bunch of new contributors working on the project this week!) Let me know either way. :)

[2020-09-21 00:18] Zrrrpy opened #801 "Supervisor dashboard redesign"
Filter issues by the labels "Supervisor" and "Design" to see all work related to this epic.

<a href="https://udw1g1.axshare.com/#id=e82lqg&p=supervisor_experience&g=1">Please reference the Supervisor Experience mockup to see what the new Supervisor dashboard should look like.</a>

**Context**
Supervisors have the second highest level of user access, and can see many of the same things as an admin

[2020-09-21 00:19] Zrrrpy opened #802 "Admin dashboard redesign"
Filter issues by the labels "Admin" and "Design" to see all work related to this epic.

**Context**
The Admin dashbboard contains the most information out of all user accounts; They can view, add, and edit information pertaining to all other account types. Now that the MVP Admin dashboard is functional and operational in production, we'd like to redesign it to present all of this information in a

[2020-09-21 18:52] Zrrrpy opened #804 "add follow-up items to case_contact table"

[2020-09-21 19:09] Zrrrpy opened #805 "past court dates should appear with casa_case details"
Part of epic #880 // dependent on #807

**What type of user is this for? [ volunteer/supervisor/admin/all or All CASA Admin]**
all

**Where does/should this occur?**
On the Edit CASA Case page (example: https://casa-qa.herokuapp.com/casa_cases/2/edit)
![Screen Shot 2020-09-26 at 4 30 47 PM (2)](https://user-images.githubusercontent.com/62810851/94352459-149e4b00-001a-11eb-92be-e9c7c29195e0.png)

*

[2020-09-21 19:10] Zrrrpy opened #806 "supervisors/admins can edit court report submission status"
Part of epic #880

**What type of user is this for? [volunteer/supervisor/admin/all or All CASA Admin]**
supervisors and admins

**Where does/should this occur?**
On the Edit CASA Case page (example: https://casa-qa.herokuapp.com/casa_cases/2/edit)
![Screen Shot 2020-09-26 at 4 30 47 PM (2)](https://user-images.githubusercontent.com/62810851/94352993-f9830980-0020-11eb-9f14-5fe279b25ea3.png)

**De

[2020-09-21 19:20] Zrrrpy opened #807 "supervisors and admins can add next court date per volunteer"
Part of epic #880

**What type of user is this for? [volunteer/supervisor/admin/all or All CASA Admin]**
mostly supervisors, but also admins

**Where does/should this occur?**
On the Edit CASA Case page (example: https://casa-qa.herokuapp.com/casa_cases/2/edit)

**Description**
As a supervisor or admin, I should be able to add the next Court Date associated with a `casa_case`.

**Backend**
This is

[2020-09-21 19:21] Zrrrpy opened #808 "supervisors and admins can add court report due date per casa_case"
Part of epic #880

**What type of user is this for? [volunteers/supervisors/admins/all or All CASA Admin]**
mostly supervisors, but also admins

**Where does/should this occur?**
On the Edit CASA Case page (example: https://casa-qa.herokuapp.com/casa_cases/2/edit)

**Description**
As a `supervisor` or `admin`, I should be able to add the next Court Report Due Date associated with a `casa_case`.

*

[2020-09-21 21:15] keithrbennett opened #812 "Suggestion: Provide ability to include user id and password in URL in development mode"
**What type of user is this for? volunteer/supervisor/admin/all**

This would be for all users.

**Description**

Is this already possible? If not...

In my pairing and my own work I noticed that logging in to the web site is a frequent occurrence, and given the number of times that the set of all developers logs in, it might be nice to provide an option to automate it -- but only for development

[2020-09-21 21:19] Zrrrpy opened #813 "Admins can add contact_types and groups"
Part of epic #4 // relates to issues #815, #816

**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
admin

**Context**
`contact_types` associated with `case_contacts` vary from CASA Org to CASA Org. Giving admins the ability to add `contact_types` associated with their unique Org instance will increase accuracy in reporting.
Grouping `contact_types` will help pai

[2020-09-21 23:26] Zrrrpy opened #815 "Display contact_types in groups"
Part of epic #3 // dependent on #813

**What type of user is this for? [admin/volunteer/supervisor/all]**
primarily volunteers, but also admins and supervisors

**Where does/should this occur?**
On the create/edit case contact forms accessible in all user dashboards.

**Description**
`Contact_types` should be nested under Groups on Create and Edit Case Contact forms.

[2020-09-22 00:41] Zrrrpy opened #816 "Admins can edit contact_types and groups"
Part of epic #4 // dependent on #815

**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
admin

**How to access on the frontend in QA:**
<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.com
password – 123456

**Where does/should this occur?**
On the <a href="https://c

[2020-09-22 00:49] Zrrrpy opened #817 "Admins can hide contact_types and groups"
Part of epic #4 // dependent on #813

**What type of user is this for? [admin/volunteer/supervisor/all or ALL CASA Admin]**
admin

**How to access on the frontend in QA:**
<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.com
password – 123456

**Where does/should this occur?**
On the <a href="https://c

[2020-09-22 00:54] Zrrrpy opened #818 "Admins can view hidden contact_types and groups"
Part of epic #4 // dependent on #813 and #817

**What type of user is this for? [admin/volunteers/supervisor/all or All CASA Admin]**
admin

**How to access on the frontend in QA:**
<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.com
password – 123456

**Where does/should this occur?**
On the <a href=

[2020-09-22 00:55] #776 closed

[2020-09-22 01:00] Zrrrpy opened #819 "Admins can select hidden contact_types and groups to display"
Part of epic #4 // dependent on #813 and #817

**What type of user is this for? [admin/supervisor/volunteer/all or All CASA Admin]**
admin

**How to access on the frontend in QA:**
<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> and use these credentials to access the admin dashboard:
username – casa_admin1@example.com
password – 123456

**Where does/should this occur?**
On the <a href="

[2020-09-22 01:14] Zrrrpy opened #820 "Occurred at calendar not displaying in Safari on desktop and mobile web"
Part of epic #3

**What type of user is this for? [admin/volunteer/supervisor/all or All CASA Admin]**
primarily volunteer, but also admin and supervisor

**Where does/should this occur?**
On the create/edit case contact page accessible via all user dashboards.

**Desired behavior**
A small calendar icon should display on the far right of the "Occurred at" field. Clicking this calendar should trig

[2020-09-22 13:41] Zrrrpy commented on #796
Update from stakeholders: we're good to remove Remember Me. (we're pushing them slowly toward being more secure!)
cc @ryanmrodriguez & @stephenagreer

[2020-09-22 13:56] Zrrrpy opened #822 "Convert form page views to card view"
As a user [all user types: volunteer, admin, supervisor] I want to click on a view/create/edit item in the menu sidebar,
so a new form route renders.

**How does it work now?**
Clicking on any view/create/edit opens a new page.

**How should it work?**
Clicking on any view/create/edit button so a new form route renders.

**Which pages / forms should this apply to?**
All, including:
- [ ] #837 View

[2020-09-22 14:35] gmfvpereira commented on #813
@Zrrrpy do you know which groups we need to create for the existing contact types?
[code]

If you don’t know the groups yet, I can simply add all of them into a single group and we change it later on.

[2020-09-22 14:45] Zrrrpy commented on #813
Yes! Will send them here in a sec @gmfvpereira

[2020-09-22 14:54] Zrrrpy commented on #813
**Group: CASA**
`youth
supervisor`

**Group: Biological family**
`bio_parent
other_family`

**Group: Placement**
`foster_parent`

**Group: Social Services**
`social_worker
dss_worker`

**Group: Legal**
`court
attorney`

**Category: Health**
`medical_professional
therapist`

**Category: Education**
`school`

**Category: Support Worker**
`other_support_worker`

[2020-09-22 15:00] drborges commented on #780
Closed by mistake.

[2020-09-22 15:00] gmfvpereira commented on #813
case_contact: … contact_type: casa_org_id, name, group join table (one(case_contact)-to-many(contact_type)): case_contact_contact_type: case_contact_id, contact_type_id uniq(case_contact_id, contact_type_id)

I'm not sure I understood the proposed structure with that notation @Zrrrpy

This is what I got, let me know if there's something wrong with it:
![casa_structure](https://user-images.githubus

[2020-09-22 15:11] Zrrrpy commented on #813
This looks right to me! @compwron does this accurately reflect what we discussed yesterday?

[2020-09-22 15:21] gmfvpereira commented on #813
The way I understood it makes it possible to share a `contact_type` with different organizations, but looking to https://github.com/rubyforgood/casa/issues/816 makes me think that we may not wanna share `contact_types` across organizations.

If we end up going with the idea of sharing `contact_types` across organizations we may need to change #816 to add/edit/update contact types in a page other t

[2020-09-22 15:27] Zrrrpy commented on #813
We don't want to share `contact_types` across different organizations, but rather to give each organization instance the ability to create and use their own unique `contact_types` (although there will likely be a few default `contact_types` each organization instance starts with that they can customize, but this is not ticketed out yet.)

[2020-09-22 15:30] Zrrrpy commented on #813
^^ confirmed with @compwron that the visualization above is accurate.

[2020-09-22 17:42] #796 closed

[2020-09-22 17:46] #780 closed

[2020-09-22 18:33] drborges commented on #558
I'll be working on this one.

[2020-09-22 18:41] drborges commented on #558
Looks like there are higher priority stories that I can work on, so I'll move this back to `To do`.

[2020-09-22 18:47] drborges commented on #797
I'll give this one a try. Perfect PR description 👌🏼

[2020-09-22 19:47] Zrrrpy opened #826 "Use ActiveRecord Store (or similar alternative) for system imports."
**Context**
Currently, our system imports fail when a user attempts to import a file larger than 4kb (approximately 30 rows in a .csv).

**Resolution**
Refactor file uploads to use something like ActiveRecordStore to allow the file importer to handle larger files.

[2020-09-22 20:50] Zrrrpy opened #829 "apply new wrapper to case_contact view/create/edit form"
Part of epic #822

As a volunteer/supervisor/admin, I want to see, create, and edit `case_contacts` in a wrapper so that all content and actions associated with `case_contacts` are encapsulated by wrapper and separated from the remainder of the page.

**How does it work now?**
`case_contacts` display in a table directly underneath the `casa_case` view. When a user takes any action associated with

[2020-09-22 21:11] Zrrrpy opened #830 "Add route to case_contacts from sidebar menu"
Part of epic #822

As a volunteer/supervisor/admin, I want to click on text: Case Contacts in the blue sidebar menu so that I can view/create/edit `case_contacts`.

**How does it work now?**
Currently, volunteers see `case_contacts` automatically after signing in. They display underneath "Your Case/s".
![Screen Shot 2020-09-22 at 1 55 06 PM (2)](https://user-images.githubusercontent.com/62810851/9

[2020-09-22 22:00] Zrrrpy commented on #796
tested in QA in Safari and Chrome, and works! I'm good to deploy this to staging.

[2020-09-23 00:10] compwron opened #831 "casa_case becomes transition_aged_youth when they turn 14"
**Description**
On the first day of a `casa_case`'s birth month in the year they turn 14 (`birth_month_year_youth` in the `casa_cases` table),
`transition_aged_youth` should change from `false` to `true`.

**Acceptance criteria**
- [ ] Backend: Under the conditions listed above, `transition_aged_youth` automatically becomes `true`
- [ ] Frontend: When `transition_aged_youth` is `true`, 🐛 🦋  appear

[2020-09-23 00:13] #760 closed

[2020-09-23 00:16] #772 closed

[2020-09-23 00:46] cliftonmcintosh commented on #797
@drborges

One thing to note is that the volunteers to supervisors relationship is many to one right now. It seems to me that if there are two records for a volunteer in the `supervisor_volunteers` table, one which connects the volunteer to an old supervisor and another which connects the volunteer to a new supervisor, then the relationship should be many to many.

https://github.com/rubyforgood/c

[2020-09-23 00:53] compwron commented on #797
Correct, one volunteer can only be actively assigned to one supervisor at a time. We also need to keep a record of a volunteer having previously been assigned to different supervisor. Is that many-to-many? Kind of? Whatever works 😅

[2020-09-23 01:44] Zrrrpy commented on #713
closing because duplicate

[2020-09-23 01:44] #713 closed

[2020-09-23 02:04] Zrrrpy opened #832 "apply new wrapper to edit profile form"
Part of epic #822

As a volunteer/admin/supervisor, I want to edit my profile within a contained wrapper on my homepage so that I can make profile updates without having to navigate to a different page.

**How does it work now?**
The edit profile form must be accessed by clicking a button accessible by dropdown menu, and then being directed to a different page. After the user is done editing their

[2020-09-23 02:12] Zrrrpy opened #833 "Add route to Edit Profile from sidebar menu"
Part of epic #822

As a volunteer/supervisor/admin, I want to click on "Edit Profile" in the blue left sidebar menu,
and then see the "Edit Profile form" on my home screen,
so that I can make updates to my profile without navigating to a different page.

**How does it work now?**
Users must select "Edit Profile" from a dropdown menu in the upper right hand corner of the screen in order to access t

[2020-09-23 04:02] Zrrrpy opened #834 "Add route to volunteers from sidebar menu"
Part of epic #822

As a supervisor/admin, I want to click on text: Volunteers in the blue sidebar menu so that I can view/create/edit `volunteers`.

**How does it work now?**
Currently, supervisors and admins see a list of volunteers automatically after signing in. They display at the very top of the page.
To Create a new volunteer, Admins click a button that directs them to a new page.
To Edit a

[2020-09-23 04:11] Zrrrpy opened #835 "apply new wrapper to create/view/edit volunteers"
Part of epic #822

As a supervisor/admin, I want to see, create, and edit `volunteers` in a wrapper,
so that all content and actions associated with `volunteers` accessible under the supervisor/admin user permissions are contained within a wrapper and separated from the remainder of the page.

**How does it work now?**
`volunteers` display in a table at the top of the home page dashboard for admin

[2020-09-23 04:27] Zrrrpy opened #836 "Add route to cases from sidebar menu"
Part of epic #822

As an admin/supervisor,
I want to click text: "Cases" in the blue sidebar menu,
so that I am presented with `casa_cases` and all actions associated with them in accordance with user permissions.

**How does it work now?**
Cases display in a table on home of both the admin and supervisor dashboards. Taking any actions associated with a `casa_case` opens a different page. See scre

[2020-09-23 04:40] Zrrrpy opened #837 "apply new wrapper to view/create/edit cases"
Part of epic #822

As a volunteer/supervisor/admin,
I want to see and take actions associated with `case_contacts` (in accordance with my user permissions),
within a contained wrapper accessible from the sidebar on the homepage of my dashboard,
without being directed to a different page.

**How does it work now?**
Cases display in a table at the top of the volunteer dashboard and on the bottom of

[2020-09-23 13:06] drborges commented on #797
Thanks for the info @cliftonmcintosh, @compwron, I see what the problem is. I'll be working on a fix and some specs to cover that scenario.

[2020-09-23 15:03] stevelandwehr commented on #751
In the [PR for this issue](https://github.com/rubyforgood/casa/pull/838), `app/views/volunteer_mailer/account_setup.html.erb` was not scrapped because when a volunteer is activated, the `VolunteerMailer` is being used to update the user's password token and not just sending an invitation email.

[2020-09-23 15:06] #774 closed

[2020-09-23 15:06] #779 closed

[2020-09-23 15:08] KatherineMuedas commented on #781
Hello @Zrrrpy , I've been looking at the User Model and we have an `active` boolean attribute. Can we use that `active` attribute to deactivate an account? If so, when deactivating the account the active would change from true to false.

[2020-09-23 15:15] stevelandwehr commented on #749
This issue can be closed because the work for this was done in https://github.com/rubyforgood/casa/issues/774 here: https://github.com/rubyforgood/casa/pull/821/files#diff-f1fbb36df68dc7ee2fa2412362ea8283R13

[2020-09-23 16:53] Zrrrpy opened #840 "Add route to supervisors from sidebar menu"
Part of epic #822

As an admin/supervisor,
I want to see the text "Supervisors" in sidebar menu,
so that I can click on it to see and take all actions associated with supervisors (in accordance with my user permissions).

**How does it work now?**
_For admins:_ supervisors display toward the bottom of the home dashboard. Clicking on any individual supervisor directs user to a different page where

[2020-09-23 16:57] drborges commented on #797
@cliftonmcintosh, @compwron I believe the PR above addresses the issue. Let me know if there's anything there you'd like changed, I'm aiming to merge it at some point this afternoon.

[2020-09-23 16:58] alindeman commented on #749
Sounds right to me :+1:

[2020-09-23 16:58] #749 closed

[2020-09-23 17:18] Zrrrpy opened #841 "apply new wrapper to create/view/edit supervisors"
Part of epic #822

As an admin/supervisor,
I want to click on "Supervisors" in the left sidebar, (see issue #840)
and see the Supervisor view contained in a wrapper on the same page,
so that I can take all actions associated with supervisors (in accordance with my user permissions) from the same page.

**How it works now**
_For admins:_ supervisors display toward the bottom of the home dashboard i

[2020-09-23 17:28] Zrrrpy opened #842 "Add route to admins from sidebar menu"
Part of epic #822

As an admin,
I want to click on text "Admins" in the left sidebar,
and see all other admins appear in a contained wrapper,
so that I can take all actions associated with admins (create/view/edit) from the same place – without being directed to a different page.

**How does it work now?**
Admins can view a table of all other admins at the very bottom of their home dashboard. They

[2020-09-23 17:38] #797 closed

[2020-09-23 17:39] Zrrrpy opened #844 "apply new wrapper to create/view/edit admins"
Part of epic #822

As an admin,
I want to see all other admins within a contained wrapper,
so that I can take all actions associated with other admin accounts (create/view/edit) from one place – without being directed to another page.

**How it works now**
All admins are viewable within a table at the very bottom of the admin dashboard. They display there by default, and the view can not be collap

[2020-09-23 17:52] Zrrrpy opened #845 "Add route to Edit Organization from sidebar"
Part of epic #822

As an Admin,
I want to click on text, "Edit Organization" in sidebar,
so that I can view and edit my Organization details.

**How it works now**
Admins click on their email in the upper right hand side of the header and select "Edit Organization" from a drop down menu. "Edit Organization" directs to a different page, from where Admin can view and edit their CASA Organization det

[2020-09-23 18:03] Zrrrpy opened #846 "apply new wrapper to CASA Organization details"
Part of epic #822

As an Admin,
I want to click on text "Edit Organization" in left sidebar,
so that I see my organization details contained within a wrapper on the same page,
from where I can take all actions associated with my organization details.

**How it works now**
Clicking on "Edit Organization" from the dropdown menu on the upper right hand side of the Admin dashboard directs to a differe

[2020-09-23 19:10] Zrrrpy opened #848 "Admins can reactivate other admin accounts"
As an admin,
I want to reactivate previously deactivated admin accounts,
so that an email is triggered re-inviting the previously deactivated admin to the platform.

**How it works now**
Admins do not have the ability to reactivate a deactivated admin account.

**How it should work**
Admins should see a button or clickable text reading "Activate Admin" that reactivates the account, and triggers an

[2020-09-23 20:02] #800 closed

[2020-09-23 20:03] #799 closed

[2020-09-23 20:53] Zrrrpy opened #850 "Contacts made per volunteer per supervisor not reflecting in Admin's supervisor view"
As an Admin,
Within the Supervisor view,
I want to see an accurate count of volunteers per supervisor (with active case assignments) who have not made contact with their `casa_case` (including non `youth` `contact_types`) in 14 days or more,
so that I can stay abreast of volunteer activity.

**How it works now**
An incorrect count of volunteers who have not made contact with their `casa_case` curr

[2020-09-23 20:55] drborges commented on #846
@Zrrrpy for the user story in the description, wouldn't the following be what we want? I think it's not in our plans to avoid page refreshes, can you confirm @jasperfurniss?

[code]

[2020-09-23 21:00] Zrrrpy commented on #846
I think you're right @drborges and that I've just been thinking about and imagining the transition from "click" to display view incorrectly – but I'll let let @jasperfurniss confirm as I'm not 100% sure of what he and @coleerikson were imagining for this.

[2020-09-24 00:04] drborges commented on #840
@Zrrrpy should supervisors be able to **add** new supervisors? The reason I ask is that, although there does not seem to be an "Add New Supervisor" button anywhere for logged in supervisors, I'm still able to access the "New Supervisor" page via its URL: https://casa-qa.herokuapp.com/supervisors/new.

[2020-09-24 00:30] Zrrrpy commented on #840
They should not be - only admins can add new supervisors.

[2020-09-24 02:43] stephenagreer commented on #826
@Zrrrpy This shouldn't be needed anymore. We've restructured the error messaging for imports and are no longer hitting the 4kb limit for cookies.

[2020-09-24 13:16] #751 closed

[2020-09-24 14:09] #744 closed

[2020-09-24 14:38] Zrrrpy commented on #833
@jasperfurniss should I close this out? Sounds like it's already done due to the existing menu layout.

[2020-09-24 14:58] drborges commented on #840
@Zrrrpy just wanted to doublecheck with you, supervisors should now have access to the list of supervisors by clicking the `Supervisors` link on the sidebar as per the issue's description, eventhough they don't currently have access to that listing on their dashboard, did I get that right?

Also, I noticed that supervisors can currently edit other supervisors by clicking the supervisor's name on a

[2020-09-24 15:02] drborges commented on #840
Looks like I did not pay a lot of attention. So let me try that again:

It looks like a supervisor **cannot** edit other supervisors, so when logged in as a supervisor the `Supervisors` menu item should not be available.

[2020-09-24 15:02] Zrrrpy commented on #840
Yes! Correct – Supervisors have the same edit permissions for other supervisors as admins. The only difference is they can't **create** a new supervisor. The current layout doesn't allow easy access to supervisors for other supervisors, but that is a design not a permissions flaw.

[2020-09-24 15:04] drborges commented on #840
Ah! Ok,  thanks I started to get confused there for a moment 😆

[2020-09-24 15:45] Zrrrpy opened #856 "CASA Orgs can customize contact_types and groups"
As a user within a CASA Organization,
I want to only see and interact with Contact Types customized for my organization's instance,
so that...
- as an Admin, I can determine which Contact Types and Groups my organization has access to.
- as a Supervisor, I can determine which of those are applicable to each `casa_case`.
- as a Volunteer, only applicable Contact Types and Groups display per `casa_c

[2020-09-24 16:21] gmfvpereira commented on #813
Not the best UX, but good enough for a first pass.

<img width="1440" alt="Screen Shot 2020-09-24 at 1 14 12 PM" src="https://user-images.githubusercontent.com/386460/94172292-b54d0900-fe68-11ea-8441-d303ec516d87.png">
<img width="1440" alt="Screen Shot 2020-09-24 at 1 14 20 PM" src="https://user-images.githubusercontent.com/386460/94172302-b8e09000-fe68-11ea-8d12-9d137971d6fa.png">
<img width="14

[2020-09-24 17:26] Zrrrpy opened #858 "Supervisors can choose which Contact Types and Groups display per `casa_case`"
Part of epic #856 // dependent on #813

As a Supervisor,
I want to choose which Contact Types and Groups display per `casa_case`,
so that volunteers (and supervisors and admins) can select from relevant Contact Types and Groups when logging a `case_contact`.

**How does it work now?**
There is one set of ungrouped `contact_types` and all of them display when creating/editing a `case_contact`.

**H

[2020-09-24 17:51] Zrrrpy opened #859 "Contact Types and Groups display per casa_case when creating/editing a case_contact"
Part of epic #856 // dependent on #858

As a volunteer/supervisor/admin, I want to see Contact Types and Groups relevant to the `casa_case` I am logging a `case_contact` for.

**How does it work now?**
All users see all Contact Types when logging a `case_contact` for any `casa_case`.

**How should it work?**
All users should **only** see Contact Types and Groups associated with the `casa_case` the

[2020-09-24 19:13] ryanmrodriguez commented on #750
May be resolved by https://github.com/rubyforgood/casa/pull/854

[2020-09-24 19:26] #798 closed

[2020-09-24 22:30] Zrrrpy commented on #798
@ryanmrodriguez and @ds29 tested this in QA and got some weird errors back (for blank rows in a column with a header).
<img width="634" alt="failed rows" src="https://user-images.githubusercontent.com/62810851/94206693-e33b4900-fe7a-11ea-91de-2c0baa3bff48.png">

[2020-09-24 22:53] casadei commented on #845
I was wrapping up my code and realized that this requirement was addressed in [this commit](https://github.com/rubyforgood/casa/commit/b153709a48b8234926579de35a9614050d35d67e). So, I believe there is nothing else to do in this task.

[2020-09-24 23:04] casadei commented on #833
I believe this requirement was addressed by [this commit](https://github.com/rubyforgood/casa/commit/b153709a48b8234926579de35a9614050d35d67e). Dunno what is the best way to proceed with this task!

[2020-09-25 01:07] #750 closed

[2020-09-25 12:13] #813 closed

[2020-09-25 12:36] casadei commented on #820
I spent some time investigating this problem and figured out that Safari desktop [is not compatible](https://caniuse.com/input-datetime) with date type inputs. So, that's why the datepicker is not shown.

I left this card to let someone more familiar with front-end stuff/libraries/compatibilities solve this issue.

[2020-09-25 13:27] #833 closed

[2020-09-25 13:32] #817 closed

[2020-09-25 13:32] #818 closed

[2020-09-25 13:44] #826 closed

[2020-09-25 14:08] Zrrrpy opened #864 "Logout screen redesign"
- [ ] Remove Log In button from upper right hand corner of header
- [ ] Add one high res image to the right side of login
- [ ] Bonus!! Add several high res images to rotate on the logout screen (^ in place of the single static high res image)
- [ ] Mobile view = image(s) disappear, log in fields only on white background

[2020-09-25 14:24] Zrrrpy opened #866 "Role in sidebar menu reflects role of logged in user"
As a volunteer/supervisor/admin/All CASA Admin,
when I am logged in,
I see my role reflected in the left sidebar menu,
so that I know user permissions.

**How does it work now?**
Role text in left sidebar menu is currently _static_.

**How should it work?**
Role text in left sidebar menu should be _dynamic_ and reflect the role type of the logged in user:
- Volunteer
- Supervisor
- Admin
- All CAS

[2020-09-25 14:31] Zrrrpy commented on #793
resolved by #781 - closing out

[2020-09-25 14:31] #793 closed

[2020-09-25 14:33] Zrrrpy commented on #859
covered by #815 - closing out

[2020-09-25 15:06] Zrrrpy opened #869 "contact_types and groups can be active or inactive"
As an admin,
I want to choose which Contact Types and Groups to hide/show throughout my organization instance,
so that Supervisors can select which Contact Types and Groups to hide/show per `casa_case` when creating/editing a `case_contact`.

**How it works now**
Contact Types and Groups can not be inactivated and reactivated.

**How it should work**
Contact Types and Groups can be `active` or `in

[2020-09-25 15:18] #781 closed

[2020-09-25 15:20] #558 closed

[2020-09-25 16:16] #816 closed

[2020-09-25 16:20] stevelandwehr commented on #820
Firefox has partial date input support, but the calendar icon doesn't show up in the input in Firefox.

[2020-09-25 16:22] Zrrrpy commented on #795
no longer relevant after redesign

[2020-09-25 16:22] #795 closed

[2020-09-25 16:26] #869 closed

[2020-09-25 16:39] Zrrrpy opened #870 "default Contact Types and Groups for all CASA Org instances"
Part of epic #530

As any user part of a CASA Org instance,
my instance should come pre-loaded with the below **default Contact Types and Groups**,
so that Admins can customize them for their instance, supervisors can associate them with cases, and volunteers can select from them when creating/editing a `case_contact`. (see #856)

Admins should be able edit, hide, and show default Contact Types an

[2020-09-25 16:45] Zrrrpy commented on #870
@gmfvpereira FYI stakeholders finalized this list (after a couple days of back and forth 😅 ) no expectations for this to be done today, just flagging in case you think there might be time for it!

[2020-09-25 21:55] #834 closed

[2020-09-25 21:55] #835 closed

[2020-09-25 21:55] #837 closed

[2020-09-25 21:55] #840 closed

[2020-09-25 21:55] #841 closed

[2020-09-25 21:55] #842 closed

[2020-09-25 21:55] #846 closed

[2020-09-25 22:05] #845 closed

[2020-09-25 22:05] #832 closed

[2020-09-25 22:06] #836 closed

[2020-09-25 22:06] #829 closed

[2020-09-25 22:06] #844 closed

[2020-09-25 22:07] #830 closed

[2020-09-25 22:08] #636 closed

[2020-09-25 22:11] #850 closed

[2020-09-25 22:13] #819 closed

[2020-09-25 23:06] Zrrrpy opened #878 "broken login screen layout on qa"
**Environment**
qa https://casa-qa.herokuapp.com/

**What's broken**
- image is cut off
- email and password text fields are too short
- page should not have so much blank space on the left
- sidebar should be on the left side (although I think it might be gone entirely in the new login screen mockup)

**Screenshots of current behavior**
<img width="1317" alt="Screen Shot 2020-09-25 at 4 02 56 PM"

[2020-09-26 01:14] drborges commented on #878
@Zrrrpy the PR above will fix that login page issue along with a few other UI issues that I encountered. I've added a few GIFs and screenshots on the PR showing the before/after states. Let me know if there's anything you'd like me to change.

[2020-09-26 01:32] #822 closed

[2020-09-26 14:28] Zrrrpy commented on #864
@coleerikson or @jasperfurniss can one of you add a screenshot of the mockup for this and attach the image pulled from the wordpress site for the mockup?

[2020-09-26 14:40] Zrrrpy commented on #831
I don't know that we want to remove `transition_aged_youth`, I was thinking we would keep both and the next piece of work would be the system automatically flagging a `casa_case` as `transition_aged_youth` `true` on the final day of their birth month the year they turn 14. I imagine this is preferable to birth month and year and/or age displaying on the frontend to identify as TAY because less PII

[2020-09-26 14:41] Zrrrpy commented on #735
deferred due to new redesign

[2020-09-26 14:43] Zrrrpy commented on #775
resolved by new design elements

[2020-09-26 14:43] #775 closed

[2020-09-26 19:35] Zrrrpy opened #880 "Court Reports"
As a **Supervisor**,
I want to add the next _court date_ and _court report due date_ per `casa_case` AND be able to mark a `volunteer`'s associated _court report_ submission as _in review_ or _complete_,
so that I can more easily track required volunteer activities leading up to their next court appearance with their `casa_case`.

As a **Volunteer**,
I want to see my assigned `casa_case`'s next _c

[2020-09-27 01:12] Zrrrpy opened #881 "Court Date/Report info "clears" once date has passed"
Part of epic #880 // dependent on #808 & #805

**What type of user is this for? [ volunteer/supervisor/admin/all or All CASA Admin]**
all

**Where does/should this occur?**
On the Edit CASA Case page (example: https://casa-qa.herokuapp.com/casa_cases/2/edit)
![Screen Shot 2020-09-26 at 4 30 47 PM (2)](https://user-images.githubusercontent.com/62810851/94353260-eaea2180-0023-11eb-9f8e-38b1c403630c.

[2020-09-27 01:19] Zrrrpy opened #882 "court report submission status updates automatically"
Part of epic #880 // dependent on #619

**What type of user is this for? [volunteer/supervisor/admin/all or All CASA Admin]**
all

**Where does/should this occur?**
On the CASA Case details page next to text "Court Report Submission".

**Description**
After checking the box next to "Court Report Submission" on the Edit CASA Case page, the status associated with the Court Report Submission should u

[2020-09-27 01:39] #878 closed

[2020-09-27 01:40] #866 closed

[2020-09-27 01:42] #794 closed

[2020-09-28 01:30] keithrbennett commented on #812
On further thought, I thought it might be less invasive to the application to instead use a script with Capybara to do the logins. I've written a first pass at that script and will push it shortly. It's a little bit kludgy in that the script must stay active for the browser window to stay up, but one can put the script in the background with ctrl-z. Also, the browser is coming up with a rather sma

[2020-09-28 01:43] exgin opened #883 "Duplication of Contact Type Group"
**What is the problem, and what should happen instead?**
When creating a new group on the Manage Contact Type Form.

Link to Form:
https://casa-qa.herokuapp.com/casa_orgs/2/edit

We should only have one unique group. When there is a group & one is created with the same name, we should see an error or popup.

**Screenshots of current behavior, if any**
![casa_bug2](https://user-images.githubusercon

[2020-09-28 16:23] #858 closed

[2020-09-28 21:51] #812 closed

[2020-09-28 22:06] compwron opened #886 "UI: font mismatch for dropdown vs sidebar in Firefox"
**What is the problem, and what should happen instead?**
UI: font mismatch for dropdown vs sidebar in Firefox
In QA on 27 Sept 2020

**Screenshots of current behavior, if any**
![issue](https://files.slack.com/files-pri/T04PM108C-F01BNT5BJF6/screen_shot_2020-09-27_at_5.16.34_pm.png)
<img width="376" alt="Screen Shot 2020-09-27 at 5 16 34 PM (1)" src="https://user-images.githubusercontent.com/57815

[2020-09-29 01:38] #619 closed

[2020-09-29 02:25] compwron opened #889 "create qa env in webpacker.yml"
➜  casa git:(master) heroku run rails c --app casa-qa
Running rails c on ⬢ casa-qa... up, run.2537 (Hobby)
config.eager_load is set to nil. Please update your config/environments/*.rb files accordingly:

  * development - set it to false
  * test - set it to false (unless you use a tool that preloads your test environment)
  * production - set it to true

W, [2020-09-29T02:24:14.300927 #4]  WARN -

[2020-09-30 16:05] compwron opened #892 "[BUG] saving case contact in QA"
https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1601480577084100
BugsnagAPP  8:42 AM
New unhandled error in qa from casa in case_contacts#create (details)
Unhandled error
ActiveRecord::NotNullViolation: PG::NotNullViolation: ERROR:  null value in column "miles_driven" violates not-null constraint
DETAIL:  Failing row contains (925, 109, 101, 30, 2020-09-30 00:00:00, 2020-09-30 15:42:54.977362,

[2020-09-30 17:42] tauhir commented on #881
I'd like to give this ago if this is available? @Zrrrpy

[2020-09-30 22:27] Zrrrpy commented on #881
just assigned it to you @tauhir - all yours!

[2020-10-01 01:43] Zrrrpy opened #893 "Update readme with QA env info"

[2020-10-01 01:58] Zrrrpy opened #894 "Add report filters to frontend"
Part of epic #529 // related to #662

**What type of user is this for?** [admin/volunteer/supervisor/all or All CASA Admin]
admins and supervisors

**Where does/should this occur?**
On the Generate Reports page.

**Screenshot**
<img width="1331" alt="Screen Shot 2020-09-30 at 6 57 19 PM" src="https://user-images.githubusercontent.com/62810851/94757371-eccb2200-034e-11eb-9390-3a4c43373df5.png">

**

[2020-10-01 02:23] littleforest commented on #892
For some reason migration `20200917175655_add_default_value_to_case_contact_miles_driven.rb` had not run on QA. We ran the migration manually: `rake db:migrate:redo VERSION=20200917175655`.

[2020-10-01 02:23] #892 closed

[2020-10-01 02:31] compwron opened #895 "unify envs"
**What type of user is this for? volunteer/supervisor/admin/all**
don't use non-production.rb files for diff envs, to avoid making duplicate changes and catching them.

**Description**
Make sure no one can send mail from staging environment.

[2020-10-01 02:58] littleforest commented on #880
@Zrrrpy does this make sense for the database schema:

Table: court_dates
Fields:

| Field | Type |
| :----- | :------ |
| court_date | date |
| court_report_submitted_at | date |
| court_report_status | enum (string) |
| court_report_due_date | date |

[2020-10-01 03:18] Zrrrpy opened #896 "remove ability to edit transition_aged_youth"
**Description**
Previously, it was up to users to mark a `casa_case` as `transition_aged_youth`. After #831 is done, this will be automated. So users no longer need the ability to edit this manually. This change should be made on the frontend _and_ the backend so that there is only one trigger that changes `transition_aged_youth` from `false` to `true`.

**Where does/should this occur?**
On the Ed

[2020-10-01 03:25] Zrrrpy commented on #880
This looks good @littleforest!

[2020-10-01 03:33] compwron commented on #750
I think we may have broken this again

[2020-10-01 04:40] rafaeelaudibert commented on #896
Hello! Im taking a go on this! Awesome project btw

[2020-10-01 14:10] Zrrrpy commented on #881
Hey @tauhir, you still interested in this? No worries if not, but I'll un-assign if that's the case so someone else can pick up. :)

[2020-10-01 14:10] #176 closed

[2020-10-01 17:19] #896 closed

[2020-10-01 20:03] tauhir commented on #881
Hi @Zrrrpy, yes I am. Does #808 as well as #805 need to be assigned to me as well?

[2020-10-01 20:05] littleforest commented on #881
@tauhir I made some notes on #880 re a table structure. I took #807, but feel free to unassign me if you want to grab the whole lot of related tasks.

[2020-10-01 20:29] Zrrrpy commented on #881
yes, when you're ready to take it on go ahead and assign to yourself @tauhir! Generally if a ticket is unassigned it's up for grabs. :)

[2020-10-01 22:35] pollygee commented on #736
This is covered b #894

[2020-10-01 22:35] #736 closed

[2020-10-01 23:40] duaimei opened #898 "Integrate Cypress with Travis CI"
**What type of user is this for? volunteer/supervisor/admin/all**
developer

**Description**
Tests that aren't in CI don't exist.

Documentation is here:
https://docs.cypress.io/guides/guides/continuous-integration.html#Examples

An example configuration file is:
https://github.com/cypress-io/cypress-example-kitchensink/blob/master/.travis.yml

This is sort of dependent of issue 82 being merged in

[2020-10-02 00:14] duaimei opened #899 "Cypress - new case contact integration"
**What type of user is this for? volunteer/supervisor/admin/all**
Developer happiness

**Description**
Create an integration task for the behavior around the new case contact form

**Screenshots of current behavior, if any**

[2020-10-02 07:22] MohamedAsan commented on #728
I am willing to take this up. Can someone assign it to me?

[2020-10-02 08:55] #731 closed

[2020-10-02 09:47] Garbar commented on #889
Is QA environment in settings like production?
Do we need to add config/environments/qa.rb, the block in config/webpacker.yml, and config/webpack/qa.js files?

[2020-10-02 11:40] MohamedAsan opened #902 "Error while saving profile with invalid values as an admin"
**Steps to reproduce:**
- Login as Case Admin
- Click on Edit Profile
- Clear the Display name
- Click on Update Profile

**Expected Result:**  Error should be displayed for blank name
**Actual Result:**  500 Internal Server is thrown

**Error Trace:**
[code]

[2020-10-02 12:51] #902 closed

[2020-10-02 12:53] #728 closed

[2020-10-02 14:39] littleforest commented on #889
@Garbar i am going to work on unifying the environments in #895 (so staging, qa use “production” environment and we distinguish them with flags instead), so I don’t think we will need this ultimately.

[2020-10-02 16:04] joaovitoras commented on #539
@Zrrrpy can you assign this problem to me? I would love to work on it

[2020-10-02 18:15] drborges commented on #886
@compwron I can tackle this.

[2020-10-02 20:08] #886 closed

[2020-10-02 21:36] littleforest commented on #895
@compwron you mentioned that emails should not go out on staging, but I'm not seeing anywhere in the [configuration file](https://github.com/rubyforgood/casa/blob/master/config/environments/staging.rb) nor in the code that prohibits that. Can you point me where that would be? Or were you saying that feature needs to be set up?

[2020-10-02 21:42] compwron commented on #895
@littleforest yes, I meant "should" as in "the way I want it to be" not as in "the way I believe it currently is" sorry for the confusion.

[2020-10-02 21:43] littleforest commented on #895
@compwron thanks! I'm not seeing any differences in configuration between staging and production currently -- would that be the only change? Also, I'm assuming QA should be able to send emails?

[2020-10-02 21:45] littleforest commented on #889
Closing this since will be unnecessary after #895 .

[2020-10-02 21:45] #889 closed

[2020-10-02 21:55] #539 closed

[2020-10-03 01:22] SMJ289 commented on #882
I am working on adding this feature for Hacktoberfest!

[2020-10-03 02:04] #882 closed

[2020-10-03 03:54] littleforest opened #916 "Use environment variable config for Skylight"
Per the [Skylight docs](https://www.skylight.io/support/advanced-setup#server-requirements), we shouldn't be storing the authentication token in the repo:

<img width="737" alt="Screen Shot 2020-10-02 at 8 51 17 PM" src="https://user-images.githubusercontent.com/1938665/94982645-1b80fe00-04f1-11eb-8450-66192591fb43.png">

- [ ] Set the token and skylight environment using environment variables in

[2020-10-03 04:50] jtnegrotto commented on #806
Mind if I take this one?

[2020-10-03 10:23] Garbar commented on #789
It seems to me that these changes are already added in migrations by @jmkoni

[2020-10-03 11:52] talentedunicorn commented on #893
@Zrrrpy can I give this a shot?

[2020-10-03 12:05] #790 closed

[2020-10-03 12:27] talentedunicorn commented on #649
@keithrbennett can I have this one :)

[2020-10-03 16:02] jmkoni opened #919 "Schedule job created in #831"
After #831 is completed, need to actually add heroku scheduler to each environment and schedule the job (daily). No code change is needed for this, it's all in heroku.

Schedule on:
- [x] casa-qa
- [ ] casa-staging
- [ ] casa-production

[2020-10-03 16:35] keithrbennett commented on #649
Sure, I've assigned it to you. Thank you!

[2020-10-03 16:49] acrosman commented on #880
I'm a _Guardian ad Litem_ in another state (more or less interchangeable for Maryland CASAs), but new to this project, I'm looking through issues for places to engage productively so if I'm out of line please feel free to tell me. I think the data structure here is a good start but as a volunteer in similar roles it misses two pieces of information I always want: the type of hearing (it matters fo

[2020-10-03 17:10] khiga8 commented on #808
Hello! Can I take this issue?

[2020-10-03 18:05] #831 closed

[2020-10-03 18:15] jmkoni commented on #919
Scheduled on casa-qa.

[2020-10-03 18:45] myllenaalves commented on #859
Can I take this issue?

[2020-10-03 18:45] Zrrrpy commented on #859
go for it @myllenaalves!

[2020-10-03 18:48] #693 closed

[2020-10-03 19:48] Zrrrpy opened #922 "volunteers can generate court report for transition aged youth"
Part of epic #880 // relates to #923

AS a **volunteer**,
I can generate a court report that auto-fills with select details,
SO that I can fill out remaining details after downloading and submit it to my supervisor.

**Court Report for transition aged youth should look like this**
[Example of a CASA Report.docx](https://github.com/rubyforgood/casa/files/5322243/Example.of.a.CASA.Report.docx)

**Co

[2020-10-03 20:05] Zrrrpy opened #923 "Add route to "Generate Court Report" to sidebar"
Part of epic #880 // dependent on #922

AS a volunteer,
I want to click "Generate Court Report" in the left sidebar,
so that I can select the `casa_case` I am generating a court report for, and then generate and download said report.

**Acceptance Criteria**
- [ ] Text: "Generate Court Report" displays in left sidebar.
- [ ] "Generate Court Report" is clickable.
- [ ] When clicked, "Generate Court

[2020-10-03 20:07] acrosman commented on #522
I can do this one.

[2020-10-03 20:10] acrosman commented on #522
That said, are there specific things you want captured, or just the basic difference in interface between the user types?

[2020-10-03 20:16] Zrrrpy commented on #880
I approve of these additions to the table. They will help with us pre-filling more data for court reports (#922). I'm fine with datetime vs date. (I think this will mostly be useful to volunteers.)

And welcome @acrosman 👋  I'm a former San Francisco County CASA.

[2020-10-03 20:57] acrosman opened #924 "Checkboxes on List Filters are very small click targets too easy to miss."
**What is the problem, and what should happen instead?**
The checkboxes on the filter drops downs are very small, and the text doesn't respond (at least in Firefox on a Mac), making the overall click target very small and easy to miss.  The checkboxes could easily be enlarged to use nearly the full line height and make them much easier to use.

**Screenshots of current behavior, if any**
Current c

[2020-10-03 21:11] littleforest commented on #880
Thanks @acrosman I think `court_report_submitted_at` should also get changed to a timestamp:

[code]

Also, good point about hearing type. This could actually be a table in its own right and be linked to a `casa_org` so it could be customized for each organization.

[2020-10-03 21:25] acrosman commented on #924
Working on a fix now,.

[2020-10-03 22:43] compwron opened #926 "Database migration test"
This test/s should run *all* migrations against a newly created database schema, and should also test the code in *all* `after_party` tasks. The purpose of this is to protect against issues like the one explained below, where a migration including data changes stopped working because of new code changes and is therefore blocking prod deployment.
https://rubyforgood.slack.com/archives/CVB0QJGVD/p16

[2020-10-03 22:49] #924 closed

[2020-10-03 22:56] compwron commented on #789
@Garbar I think you're right! I will close this. Thanks for the catch :)

[2020-10-03 22:56] #789 closed

[2020-10-03 22:57] #916 closed

[2020-10-03 23:00] compwron opened #927 "supervisors and admins can associate judge_name and hearing_type with next court_date"
Part of epic #880

AS a supervisor or admin,
I want to be able to associate a `court_date` with a `judge_name` and `hearing_type`,
so that `judge_name` and `hearing_type` display along with a volunteer's next `court_date` associated with a `casa_case` they are assigned to.

**Acceptance criteria**
- [ ] Supervisors and admins can select a `hearing_type` to associate with a `court_date` from a drop

[2020-10-04 00:05] Zrrrpy commented on #880
^^ yes, let's do this @littleforest!

@acrosman can you send a short list of hearing types common to your locality? I will also email PG to get their short list so I can narrow down defaults and then give admins the ability to add/edit/show/hide `hearing_types`.

We can set these up the same way we've built out `contact_types` so they can be associated with a `casa_org` _and_ a `casa_case`.

[2020-10-04 00:34] keithrbennett commented on #926
When you say "This test/s should run all migrations against a newly created database _schema_", do you mean to say a newly created database? The schema would not yet be know to the DB before the migrations, right?

[2020-10-04 00:51] Zrrrpy opened #928 "admins can customize hearing_types per casa_org"
Part of epic #880

AS an **admin**,
I want to add/edit/show/hide `hearing_types` specific to my `casa_org`,
so that only relevant `hearing_types` display for users within my organization.

**Where does/should this occur?**
Under "Edit Organization"

**How to access in QA**
<a href="https://casa-qa.herokuapp.com/casa_orgs/2/edit">Log in to QA</a> with the following credentials:
email: casa_admin1@e

[2020-10-04 00:56] Zrrrpy opened #929 "admins can customize judge_names per casa_org"
Part of epic #880

AS an **admin**,
I want to add/edit/show/hide `judge_names` specific to my `casa_org`,
so that only relevant `judge_names` display for users within my organization.

**Where does/should this occur?**
Under "Edit Organization"

**How to access in QA**
<a href="https://casa-qa.herokuapp.com/casa_orgs/2/edit">Log in to QA</a> with the following credentials:
email: casa_admin1@examp

[2020-10-04 01:17] Zrrrpy opened #930 "populate_prince_george_casa_org_details.rake should work even if with no data in the db"
Fix populate_prince_george_casa_org_details.rake to work even if there is no data in the db (create_or_update) AND make extra sure it won't mess up prod...

[2020-10-04 01:18] Zrrrpy commented on #930
@compwron add more details if you have any!

[2020-10-04 01:19] keithrbennett commented on #649
This issue is a lot more complex than it appears at first glance, and it requires a lot of detail orientation and patience (which is why I have not addressed the issue yet myself). The meat of this issue is studying the text, extracting, clarifying, and sometimes copying. It is not a simple cut and paste; there are some references to specific OS's, and some to multiple; OS-specific content needs t

[2020-10-04 01:21] #651 closed

[2020-10-04 01:27] Zrrrpy opened #931 "replace org specific language from system emails with `casa_org`"
AS a volunteer/supervisor/admin,
I want to see my `casa_org` referenced if at all in system emails,
so that I know the email is intended for me.

**How does it work now?**
There are likely a number of system emails that reference "PG / CASA", regardless of what `casa_org` a user is associated with.

**How should it work instead?**
System emails should only reference the `casa_org` associated with

[2020-10-04 01:35] Zrrrpy opened #932 "search presets and results should clear after a page is loaded"
AS a **supervisor** or **admin**,
WHEN I search within Volunteers,
my search history should clear after I navigate away from that view,
SO that I don't get confused by limited results when I eventually return to the Volunteer view.

**Where does/should this occur**
In the <a href="https://casa-qa.herokuapp.com/volunteers">Volunteer view</a> accessible by admins and supervisors.

**How to access QA

[2020-10-04 01:51] Zrrrpy opened #933 "only volunteers assigned to supervisor should display by default"
AS a **supervisor**,
I WANT to only see volunteers assigned to me by default when I log in,
SO that I can focus on my `supervisor_volunteer` assignments.

**Where does/should this occur?**
In the <a href="https://casa-qa.herokuapp.com/volunteers">Volunteer view.</a>

**How to access in QA**
<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> using the following credentials:
email: supervisor

[2020-10-04 02:04] Zrrrpy opened #934 "create volunteer view filter for volunteers without a supervisor"
AS a **supervisor** or **admin**,
I WANT the ability to filter my volunteer view by volunteers not assigned to a supervisor,
SO I can see volunteers who need supervisor assignments.

**Where does/should this occur?**
In the <a href="https://casa-qa.herokuapp.com/volunteers">Volunteer view.</a>

**How to access in QA**
<a href="https://casa-qa.herokuapp.com/">Log in to QA</a> using the following cr

[2020-10-04 02:22] cdncat commented on #933
can I try to help with this issue?

[2020-10-04 03:38] wlcreate commented on #188
Hi! I would love to do this if it's available :)
Just wondering:
1. Where would you like the Contributors section to be in (i.e. the READme)?
2. What information about the contributors would you like to be displayed (i.e. GitHub username, profile picture, & link to their profile)?

[2020-10-04 04:49] erik-trantt commented on #923
Hi @Zrrrpy, I've recently joined Hacktoberfest and I'd love to work on this one. Is it still available? If yes, is there anything to look out for? Thanks.

[2020-10-04 09:07] jmkoni commented on #188
@wlcreate just GitHub username and make that a link to the profile

[2020-10-04 09:13] jmkoni commented on #188
@compwron  do we even want this anymore? Now that there is a contributors section in GitHub, this just seems like something else to maintain that isn’t really needed.

[2020-10-04 09:14] jmkoni commented on #188
@wlcreate in the meantime, I would try to find something with the Hacktoberfest label.

[2020-10-04 15:02] littleforest commented on #805
See #808 for new table structure discussion.

[2020-10-04 16:31] wlcreate commented on #188
@jmkoni Thank you for letting me know! Happy Hacktoberfest :)

[2020-10-04 17:39] metamoni commented on #933
@cdncat have you started working on this? I have a fix for it or I can help if you're stuck.

[2020-10-04 17:43] metamoni commented on #934
I'd like to help with this. I'll start working on it.

[2020-10-04 18:27] metamoni opened #936 "Adding a new volunteer jumps to Supervisors"
**What is the problem, and what should happen instead?**

When you're logged in as an Admin, upon adding a new volunteer you're redirected to the root path, i.e. /supervisors. It's a pretty small thing but I find it confusing, as the user is taken out of the flow (an email invitation also opens up in a new tab) and then redirected to a different section of the page, without any confirmation that t

[2020-10-04 18:28] metamoni commented on #936
If approved, I can quickly add a small PR for this, as it's a very easy fix.

[2020-10-04 18:35] Mozart2234 commented on #933
:( Just now,  I'm passing the final tests.

[2020-10-04 18:59] littleforest opened #937 "Move data seeding out of migrations"
**Description**
* Move data seeding out of migrations and into after party rake task
* Run after party tasks as part of the seeds files
* Cleanup any old after party tasks

[2020-10-04 19:09] cdncat commented on #933
👋
I'm actually pretty new to Ruby so not too sure if the PR https://github.com/rubyforgood/casa/pull/938 is sufficient
Feel free to close or modify the PR!

[2020-10-04 19:33] Mozart2234 commented on #933
Wow, I really didn't understand the issue.

[2020-10-04 19:42] metamoni commented on #936
I just noticed this screen looks different on staging. Locally, there was a menu to the left, with links to Supervisors and Volunteers, but the version on staging actually has all tables on one page. The issue doesn't apply anymore, so I'll close this.

[2020-10-04 19:42] #936 closed

[2020-10-04 19:43] Mozart2234 commented on #932
I'm working in this issue.

[2020-10-04 20:20] compwron commented on #937
@littleforest please coordinate with @roxannecojocariu who is fixing up the existing data population migrations (in-place I believe) as part of needing to get her current issue for contact_types done. I don't want you to conflict with each other and not know it :)

[2020-10-04 20:25] #931 closed

[2020-10-04 20:29] compwron opened #940 "draft email notifications related to court date"

[2020-10-04 20:29] compwron opened #941 "set up the new bugsnag account and connect it to Slack"

[2020-10-04 20:29] compwron opened #942 "convert red box error on create case contact page to js popup"

[2020-10-04 20:29] compwron opened #943 "more mobile friendliness"

[2020-10-04 20:29] compwron opened #944 "import tool should accept any good data from a .csv and reject data with errors"

[2020-10-04 20:30] compwron opened #945 "subdomains"

[2020-10-04 20:30] compwron opened #946 "In import - ignore rows that have our fake data in it in case anyone ever forgets to delete them (in prod only)"

[2020-10-04 20:30] compwron opened #947 "duplicate volunteer wasn't allowed but the flash message could be improved"

[2020-10-04 20:30] compwron opened #948 "Security consulting/training for CASA via https://ragtag.org/ or someone?"

[2020-10-04 20:30] compwron opened #949 "Sunsetting a CASA from the platform entirely"

[2020-10-04 20:30] compwron opened #950 "Collapsible mobile menu"

[2020-10-04 21:06] compwron commented on #933
@Mozart2234 @cdncat in the future when you are working on an issue, please make it clear you are working on the issue by leaving a comment like "I am working on this" so that other contributors don't see it as an available issue and work on it also :)

[2020-10-04 21:13] compwron commented on #926
@keithrbennett can you clarify the question?
To restate, the new test should run all the migration against an empty schema (the schema exists has no tables) or any equivalent behavior which can provably catch errors where migrations no longer work.

[2020-10-04 21:14] compwron commented on #808
@khiga8 as you can see, you have been assigned to this issue, so it is yours. Have fun! :)

[2020-10-04 21:16] compwron commented on #649
@jmkoni I notice that this issue is "in progress" on the board. Why did you unassign @talentedunicorn  ? It sounds like I missed a discussion somewhere? @keithrbennett it sounds like you have context on this. Is this intended to be "in progress" and if so, who is it assigned to? :)

[2020-10-04 21:16] compwron commented on #893
I did this in https://github.com/rubyforgood/casa/pull/951

[2020-10-04 21:17] compwron commented on #893
Whoops sorry I didn't intend to edit this. All yours!

[2020-10-04 21:18] compwron commented on #806
@jtnegrotto as you can see you have been assigned to this issue. It is all yours. have fun! :)

[2020-10-04 21:19] compwron commented on #805
Because this was unassigned, I moved it back to "to do" on the board

[2020-10-04 21:21] compwron commented on #807
Because this is mentioned in a PR, I am assigning it to the creator of that PR

[2020-10-04 21:22] keithrbennett commented on #649
@compwron The context of this is the discussion on the PR at https://github.com/rubyforgood/casa/pull/921. It was not originally clear from the issue description that this was not a simple edit (I have added my comment above to clarify that). It's not really in progress anymore, though I hope to look at this some time in the not too distant future if no one beats me to it.

[2020-10-04 21:24] #807 closed

[2020-10-04 21:26] compwron commented on #895
@littleforest agreed, staging and prod are intended to be the same right now. QA currently does not have API keys for sending emails set up in heroku (intentionally, to prevent spam risk) but it is ok to have the rails configurations assume that sending emails ok

[2020-10-04 21:33] #932 closed

[2020-10-04 21:34] compwron commented on #848
This was resolved by https://github.com/rubyforgood/casa/pull/851

[2020-10-04 21:34] #848 closed

[2020-10-04 21:34] compwron commented on #756
I will close this because it appears to be done. :)

[2020-10-04 21:34] #756 closed

[2020-10-04 21:35] compwron commented on #84
I will mark this done because we merged the PR to add Cypress :)

[2020-10-04 21:35] #84 closed

[2020-10-04 21:43] khiga8 commented on #808
Yes! Thank you!

[2020-10-04 21:48] compwron opened #952 "[bug] casa admin de/activating casa admin succeeds but shows an exception when email creds are missing/invalid"
https://casa-qa.herokuapp.com/casa_admins/225/deactivate

We're sorry, but something went wrong.
If you are the application owner check the logs for more information.

BugsnagAPP  2:47 PM
New unhandled error in qa from casa in casa_admins#deactivate (details)
Unhandled error
Errno::ECONNREFUSED: Connection refused - connect(2) for "localhost" port 25
Location
app/controllers/casa_admins_controller

[2020-10-04 21:48] compwron commented on #848
Foung bug https://github.com/rubyforgood/casa/issues/952 while testing this.

[2020-10-04 21:48] littleforest commented on #937
Oh perfect thanks for letting me know! @roxannecojocariu I can wait until you're done before making any other changes.

[2020-10-04 21:52] compwron opened #953 "[bug] admin searching volunteers by name does not work"
https://casa-qa.herokuapp.com/volunteers
Logged in as casa admin

<img width="1296" alt="Screen Shot 2020-10-04 at 2 51 33 PM" src="https://user-images.githubusercontent.com/578159/95027945-35d1ed80-0651-11eb-805b-27cd6d6c50f6.png">
<img width="1297" alt="Screen Shot 2020-10-04 at 2 51 27 PM" src="https://user-images.githubusercontent.com/578159/95027947-38344780-0651-11eb-8989-3e0959d09f73.png">

[2020-10-04 21:53] compwron commented on #932
Found issue https://github.com/rubyforgood/casa/issues/953 while testing this.

[2020-10-04 21:55] compwron opened #954 "[bug] when incomplete court date is added and saved, error should show instead of "successfully updated" message"
https://casa-qa.herokuapp.com/casa_cases/152/edit

<img width="932" alt="Screen Shot 2020-10-04 at 2 55 52 PM" src="https://user-images.githubusercontent.com/578159/95028000-bdb7f780-0651-11eb-91c2-dda3084e53e9.png">
<img width="646" alt="Screen Shot 2020-10-04 at 2 54 24 PM" src="https://user-images.githubusercontent.com/578159/95028001-c01a5180-0651-11eb-9b95-fcae6646da86.png">
<img width="942"

[2020-10-04 21:55] compwron commented on #807
Found bug https://github.com/rubyforgood/casa/issues/954 while testing this

[2020-10-04 21:59] compwron opened #955 "[bug] Error handling when email creds are not correct - creating new casa admin in qa"
This is caused by incorrect email config in qa somehow. The user is still created but the email is not sent and the user sees a UI exception on the UI. Instead we should catch the exception and show a better error on the UI.

BugsnagAPP  2:59 PM
New unhandled error in qa from casa in casa_admins#create (details)
Unhandled error
ActionView::Template::Error: Missing host to link to! Please provide t

[2020-10-04 22:08] littleforest commented on #955
This should get resolved with changes being made in #895 .

[2020-10-04 22:08] compwron commented on #955
:)

[2020-10-04 22:09] compwron commented on #931
Found bug https://github.com/rubyforgood/casa/issues/955 while testing this (fix in progress)

[2020-10-04 22:11] compwron commented on #789
This doesn't seem to be working in QA (I created a case contact and removed the 0 in the field in the UI)
BugsnagAPP  3:10 PM
Event in qa from casa in case_contacts#create (details)
Unhandled error
ActiveRecord::NotNullViolation: PG::NotNullViolation: ERROR:  null value in column "miles_driven" violates not-null constraint
DETAIL:  Failing row contains (927, 209, 94, 600, 2020-10-04 00:00:00, 2020

[2020-10-04 22:19] compwron opened #956 "Exception when setting case_contact.miles_driven to 0 in UI. miles_driven should not be allowed negative"
**What is the problem, and what should happen instead?**
This is really 2 bugs at once but it will be easier to fix them at the same time.
Exception when setting case_contact.miles_driven to 0 in UI. miles_driven should not be allowed negative
https://casa-qa.herokuapp.com/casa_cases/94
`rails db:migrate:redo VERSION=20200917175655` worked but this problem persists

**Screenshots of current behavi

[2020-10-04 22:19] compwron commented on #789
tracked in https://github.com/rubyforgood/casa/issues/956

[2020-10-04 22:23] compwron commented on #930
because this is assigned, I will move it into "in progress" on the board.

[2020-10-04 22:35] compwron opened #957 "Fix test "sees all case contacts for their case""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:35] compwron opened #958 "Fix test admin_adds_new_case_spec.rb"
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:36] compwron opened #959 "Fix test "allows #{user_type} to sign in""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:37] compwron opened #960 "Fix test "renders dashboard page and shows correct flash message upon sign out""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:37] compwron opened #961 "Fix test "/dashboard as an admin GET /show doesn't show other organizations' cases""
The text is currently not running. Get a test for this functionality running.

this test is in `dashboard_spec.rb`

[2020-10-04 22:38] compwron opened #962 "Fix test "displays rfg logo, company logo, display name, address, footer, links""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:38] compwron opened #963 "Fix test "should be able to update the email if user is a admin""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:38] compwron opened #964 "Fix test "can see volunteers and navigate to their cases""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:39] compwron opened #965 "Fix test admin_views_volunteers_page_spec.rb:61: xit "can filter volunteers""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:39] compwron opened #966 "Fix test /can_sign_in_as_all_casa_admin_spec.rb:15: xit "allows sign out""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:39] compwron opened #967 "Fix test all_casa_admins_casa_orgs_spec.rb:93: xit "redirects to root""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 22:39] compwron opened #968 "Fix test supervisor_views_volunteers_page_spec.rb:7: xit "can filter volunteers""
The text is currently not running. Get a test for this functionality running.

[2020-10-04 23:34] khiga8 commented on #808
Hey @Zrrrpy!

Should the lower and upper bound date for this be the same as #807?

[2020-10-05 02:49] #895 closed

[2020-10-05 02:49] #955 closed

[2020-10-05 02:50] compwron commented on #808
@khiga8 yes, yet's go with that for now :)

[2020-10-05 02:50] #711 closed

[2020-10-05 05:06] keithrbennett commented on #926
Ok, I think _empty_ schema clarifies it for me. So _empty_ schema means that the database has been created but neither schema.rb nor the migrations have been run yet, right?

[2020-10-05 05:08] cdncat commented on #933
I believe the code change in #938 is correct since I've verified via manual testing--but wasn't able to get the new ruby spec test up and running. I've closed the PR as I don't have much time upcoming to work on it--anyone is free to take this ticket!

[2020-10-05 06:40] matisnape commented on #894
Hi, does it involve JS or is it simply Rails views?

[2020-10-05 09:32] #953 closed

[2020-10-05 13:34] #965 closed

[2020-10-05 13:34] #957 closed

[2020-10-05 13:44] #968 closed

[2020-10-05 13:49] jmkoni commented on #967
@joaovitoras can you confirm that you are planning on fixing this issue? We generally want issues to be assigned before work is started.

[2020-10-05 14:07] joaovitoras commented on #967
@jmkoni I opened a PR to see the behavior in the CI and understand what was actually happening
Anyway, could you assign this issue to me? I will work on it

[2020-10-05 17:24] joaovitoras commented on #966
I'm solving this problem with this PR https://github.com/rubyforgood/casa/pull/979 of another problem
Can you assign issue to me?

[2020-10-05 17:24] joaovitoras commented on #964
I'm solving this problem with this PR https://github.com/rubyforgood/casa/pull/979 of another problem
Can you assign issue to me?

[2020-10-05 17:25] joaovitoras commented on #963
I'm solving this problem with this PR https://github.com/rubyforgood/casa/pull/979 of another problem
Can you assign issue to me?

[2020-10-05 17:25] joaovitoras commented on #960
I'm solving this problem with this PR https://github.com/rubyforgood/casa/pull/979 of another problem
Can you assign issue to me?

[2020-10-05 17:26] jmkoni commented on #966
@joaovitoras is the same change fixing all of these? otherwise, please open separate PRs.

[2020-10-05 17:27] jmkoni commented on #966
I can assign these to you, but we would appreciate a PR per issue, unless one change fixes all.

[2020-10-05 17:28] joaovitoras commented on #966
One change fixes all
This is a problem with capybara driver, fixing the driver i fixed all these related issues

[2020-10-05 17:30] #954 closed

[2020-10-05 17:33] #930 closed

[2020-10-05 17:45] erickgurian commented on #958
I am working on this issue

[2020-10-05 17:53] TecnoSigma commented on #952
Hi,

I'm solving this problem.

Can you assign issue to me?

Tks!

[2020-10-05 18:03] TecnoSigma commented on #308
Hi,

I'm solving this problem.

Can you assign issue to me?

Tks!

[2020-10-05 18:09] jmkoni commented on #308
@TecnoSigma did you finish #952? we'd generally prefer not to assign a single person multiple issues at a time.

[2020-10-05 18:16] #959 closed

[2020-10-05 18:16] #960 closed

[2020-10-05 18:16] #964 closed

[2020-10-05 18:16] #966 closed

[2020-10-05 18:16] #967 closed

[2020-10-05 18:25] metamoni commented on #933
I'll take a look at this issue

[2020-10-05 18:27] jmkoni commented on #933
@metamoni feel free to look at @cdncat's closed PR. I think they got close.

[2020-10-05 18:48] Zrrrpy commented on #923
Hi @erik-trantt, it is! Please first familiarize yourself with the epic this is a part of, #880, and be sure to check on the status of #922.

[2020-10-05 19:30] rogesson commented on #962
Hello!

I'm solving this problem.

Could you assign it to me?

Thanks!

[2020-10-05 19:48] #958 closed

[2020-10-05 21:48] TecnoSigma commented on #308
No problems.

Tks!

[2020-10-05 23:02] jimnanney commented on #894
Simply rails views, not even using filterriffic.

[2020-10-05 23:22] compwron commented on #282
I talked to Roger and let's put this back in the "to do" list for now :)

[2020-10-05 23:34] #962 closed

[2020-10-05 23:36] #952 closed

[2020-10-05 23:37] compwron commented on #308
#952 is merged
All yours @TecnoSigma :)

[2020-10-05 23:40] compwron commented on #966
very very very cool!

[2020-10-05 23:44] haydenrou commented on #927
I'd like to pick this up please, but I do not have permissions to assign it to myself.

[2020-10-05 23:44] haydenrou commented on #928
I'd like to pick this up please, but I do not have permissions to assign it to myself.

[2020-10-05 23:45] compwron commented on #928
@haydenrou It's yours! :)

[2020-10-05 23:45] compwron commented on #927
@haydenrou All yours :)

[2020-10-06 01:10] maycowmeira commented on #933
@Zrrrpy I would like to create PR for this Issue, how can I do that?

[2020-10-06 01:13] compwron commented on #933
@maycowmeira Please choose a different issue because this issue is assigned to @metamoni

[2020-10-06 01:18] maycowmeira commented on #961
@compwron There are two examples with this description, would it be the one at: `spec/system/admin_edits_a_case_spec.rb` or the one at `spec/system/volunteer_edits_case_spec.rb` ?

[2020-10-06 01:53] maycowmeira commented on #961
@compwron I would like to make a Pull Request for this issue.

[2020-10-06 02:08] compwron commented on #961
@maycowmeira ok this issue is yours :)
This test seems to have already been fixed so I will change this issue to be a new one.

[2020-10-06 02:15] acrosman commented on #880
For Hearings in SC we have:

- Emergency Protective Custody (EPC)
- Probably Cause
- Merits
- Judaical Review
- Permanency Planning
- Termination of Parental Rights (TPR)
- Adoption Finalization

GALs rarely attend EPC and Probably Cause (usually happens before we are assigned), but we are supposed to be in place in time to form an opinion for Merits. We attend a lot of PP and JR hearings.

[2020-10-06 02:16] compwron opened #988 "[write test] admin or supervisor edits a case contact - fails across organizations"
The text is currently not running. Get a test for this functionality running.
` ./spec/system/admin_edits_a_case_contact_spec.rb:26`

[2020-10-06 02:17] compwron commented on #963
Fixed in #979

[2020-10-06 02:17] #963 closed

[2020-10-06 02:18] #934 closed

[2020-10-06 02:20] acrosman commented on #928
From a quick look it might be helpful to seed the table with the Maryland types:

- emergency hearing
- trial on the merits
- scheduling conference
- uncontested hearing
- pendente lite hearing
- pretrial conference
- other:

Source: https://www.courts.state.md.us/sites/default/files/court-forms/family/forms/ccdr059.pdf/ccdr059.pdf

[2020-10-06 02:24] acrosman commented on #880
I posted this on #928 but I'll add it here too:

Looks like Maryland needs at least:

- emergency hearing
- trial on the merits
- scheduling conference
- uncontested hearing
- pendente lite hearing
- pretrial conference
- other

Source: https://www.courts.state.md.us/sites/default/files/court-forms/family/forms/ccdr059.pdf/ccdr059.pdf

[2020-10-06 02:27] compwron commented on #928
@acrosman Thanks for the great info! This seems reasonable.
@haydenrou if you add those `hearing_type`s please put them in the seed files in `seeds/qa` etc
If we want to also pre-populate these in prod, it should be added as an idempotent `after_party` https://github.com/theSteveMitchell/after_party task in addition to being in the seeds file (instead of a rake task or data update inside a db migr

[2020-10-06 02:28] compwron commented on #928
@acrosman If you haven't already joined us in slack at https://rubyforgood.herokuapp.com/ in the #casa channel, we'd love to hear more of your insights! We also have office hours Weds 6-8pm pacific time (Zoom link in slack or I can DM it to you somehow if you prefer)

[2020-10-06 02:31] compwron commented on #926
@keithrbennett exactly. But again the point is to make sure that migrations which have been run in qa but not yet in prod keep working long enough to get to prod! And also to make sure that new developers are able to run migrations without having issues :)

[2020-10-06 02:34] Mozart2234 commented on #956
I'm working on this issue.

[2020-10-06 02:39] compwron opened #990 "too big number in miles_driven on case_contact creates exception"
**What is the problem, and what should happen instead?**
too big number in miled_driven on case_contact creates exception
Instead we should have a nice js or rails (or both) validation
https://casa-qa.herokuapp.com/case_contacts/926/edit
https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1601951820231400

BugsnagAPP  7:37 PM
New unhandled error in qa from casa in case_contacts#update (details)
Un

[2020-10-06 02:54] Zrrrpy commented on #928
PG CASA got back to me about this today; `hearing_types` are actually not applicable to them at all, as PG County does not distinguish between the two most common types of hearings in their state: Permanency Planning and Review Hearings.

That being said, I'd actually like the default hearing types to be as broadly applicable as possible. So instead of going by what's most common in Maryland, we s

[2020-10-06 03:14] acrosman commented on #928
I don't need to be right here, and certainly not trying to tell PG county their business, just trying to offer up what I know/can find and offer. When I go to court in SC we need to know the hearing type, if for no other reason it is a required line in the court report (and things like a TPR and Merits are handled very differently). As in Maryland my experience here is that PP and Judicial Review/

[2020-10-06 03:47] haydenrou commented on #928
@Zrrrpy please could you elaborate on hiding hearing types? Is this a flag they can turn on and off? Should it be default scoped?
What do you mean by showing/hiding them?

Also regarding the last point, do you want me to show the paper trail versions in a table on the hearing types edit page or did you have something else in mind?

[2020-10-06 05:28] rafaeelaudibert commented on #446
The Test Coverage one is actually working, being displayed as <a href="https://codeclimate.com/github/rubyforgood/casa/test_coverage"><img src="https://api.codeclimate.com/v1/badges/24f3bb10db6afac417e2/test_coverage" /></a> like noted on https://codeclimate.com/github/rubyforgood/casa/badges#test-coverage-html.

Screenshot:
![image](https://user-images.githubusercontent.com/32079912/95162252-9958

[2020-10-06 05:28] #446 closed

[2020-10-06 06:17] #956 closed

[2020-10-06 06:21] erik-trantt commented on #923
@Zrrrpy Thanks for the advice 😄. I got a general idea about epic #880 and what should be built for #922 & #923. I can't find a way to assign myself to the issues. Can you help me with that? Thanks.

[2020-10-06 06:28] erik-trantt commented on #923
@Zrrrpy  Can Admins & Supervisors also see the "Generate Court Report" link? Or just the Volunteers?

[2020-10-06 06:31] mateusfdl commented on #988
@compwron  I would like to make a PR for this issue.

[2020-10-06 06:51] metamoni commented on #933
@maycowmeira if you already have a branch with a working fix I can hand it over to you. I haven't gotten too far with it yet.

[2020-10-06 09:24] jmkoni commented on #922
@erik-trantt it seems I can’t assign you unless you comment in the issue

[2020-10-06 09:24] jmkoni commented on #922
@erik-trantt it seems I can’t assign you unless you comment in the issue

[2020-10-06 10:18] NickSchimek commented on #990
So I'm having a hard time deciding on the validation message that should be displayed. It's a tie between these two:

or

[2020-10-06 10:43] erik-trantt commented on #922
Hi @jmkoni, thank you. I didnt know that we need to comment first to get assign. I'll take this issue.

[2020-10-06 14:12] jmkoni commented on #922
@erik-trantt it's just an oddity about Github 🤷‍♀️ I can assign it to you if you've commented *or* if you are part of the org. Either way... assigned!

[2020-10-06 14:58] compwron commented on #990
@NickSchimek Both of those are funny and cute but I am worried that they might come off as too flippant or rude to volunteers? But maybe not? I have no idea. Anyway it's easy to change so go for it. I would choose "Our technology wont allow you to drive that far." :)

[2020-10-06 15:04] NickSchimek commented on #990
Sorry, I can be sarcastic even when it is not appropriate. I was not planning on putting that in there.  Although `Our technology wont allow you to drive that far` seems appropriate and cute still. Sorry, I know it takes time to check these comments.

[2020-10-06 16:36] littleforest commented on #990
Don't forget the apostrophe in "won't" 😬

[2020-10-06 16:39] compwron opened #994 "rotate skylight token"
https://github.com/rubyforgood/casa/pull/917

[2020-10-06 17:08] matisnape commented on #805
Hey @compwron can I take this over?
Also, how do I get access to https://casa-qa.herokuapp.com/casa_cases/2/edit ? Or is it just an example to show the route to view?

[2020-10-06 17:29] jmkoni commented on #805
@matisnape assigned! it is just an example to show the route, but you can access QA with the same un/password combos that are in the readme.

[2020-10-06 18:06] compwron opened #995 "db seed test"
Add a test like this

[code]

[2020-10-06 18:06] matisnape commented on #929
@Zrrrpy
1) How would you like the hiding work? Should it happen on edit judge or from the list of judges in the table (button in Actions column)?
2) How the judges are relevant to `hearing_types` and where can I find this view?

[2020-10-06 18:09] matisnape commented on #894
OK, I'll take this over :)

[2020-10-06 18:46] kinduff commented on #995
@compwron happy to take this one

[2020-10-06 19:07] jmkoni commented on #929
@matisnape hey, make sure to only claim one story at a time. you are currently assigned to one and sorta claiming two more.

[2020-10-06 19:22] Zrrrpy commented on #928
@haydenrou we've got a good use case in QA for showing/hiding `contact_types` that you can reference for an example of how this should be handling.

[Log in to QA](https://casa-qa.herokuapp.com/) here with the following credentials:
email: casa_admin1@example.com
password: 123456

[and then go to this page](https://casa-qa.herokuapp.com/contact_type_groups/1/edit)

You can also access by going to

[2020-10-06 19:39] Zrrrpy commented on #928
@acrosman it'd be great if you could join our open office hours tomorrow to discuss! details pinned in the #casa slack channel 😀

[2020-10-06 19:42] matisnape commented on #929
@jmkoni sure, I'm just collecting additional info :)

[2020-10-06 19:58] #933 closed

[2020-10-06 22:29] compwron opened #996 "Move user permission logic from erb into pundit policy files"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**
Move logic about whether a user is allowed to do something from .erb files into the appropriate pundit policy files
`<% if !current_user.supervisor?`

Extra credit / stretch goal: write a test that fails when logic like `current_user.casa_admin?`  etc is added to an erb file (the hard part is avoiding false posi

[2020-10-06 22:30] compwron commented on #995
@kinduff Very cool! :)

[2020-10-06 22:39] compwron commented on #923
@erik-trantt In general, anything that volunteers can see, supervisors and admins should also be able to see.

[2020-10-06 23:03] Mozart2234 commented on #996
I work on this issue

[2020-10-06 23:54] #923 closed

[2020-10-07 04:17] talentedunicorn commented on #893
@Zrrrpy what QA information should be added to README? My assumption is

- Staging URLs
- login details

Does this cover the use case? Thanks

[2020-10-07 06:00] compwron commented on #893
@talentedunicorn yep sounds good! :) You can use the "Staging" section as an example to follow :)

[2020-10-07 06:33] Garbar commented on #995
@compwron This's test wiil be failed with "<LoadError: cannot load such file -- .../db/seeds/test.rb" error.
We have tested development and staging seed files. Maybe we just need to add a test for QA?

[2020-10-07 06:39] compwron commented on #995
@Garbar I think that @kinduff  is working on this
I don't want to add a test seeds file just for this test. I want the test to test all of our existing seeds files. So we should probably pass in a rails env to the test so it knows to run each seed file

[2020-10-07 14:23] #893 closed

[2020-10-07 15:46] #808 closed

[2020-10-07 15:47] #990 closed

[2020-10-07 18:52] matisnape commented on #805
Hey, I'm setting up the project from master branch, but I've encountered several problems:
1. With `bin/rails spec` I get 2 fails
![image](https://user-images.githubusercontent.com/2719923/95373611-88bfd500-08dd-11eb-982d-0044a1890cb9.png)

2. `yarn test` also fails
![image](https://user-images.githubusercontent.com/2719923/95374075-2c10ea00-08de-11eb-9523-3bde60076fd9.png)

3. It also looks that

[2020-10-07 22:47] compwron commented on #805
@matisnape The linters are not part of CI right now to reduce friction for contributors. Feel free to make a PR to fix lint! In general, try to keep lint changes in a separate PR (or at least a separate commit) from non lint changes.

As for the rails spec failures... that is strange. The build is passing on CI so it must be some local issue but I'm not sure what it could be. If you're around for

[2020-10-08 00:19] #195 closed

[2020-10-08 01:30] compwron opened #1003 "Fix funky UI for case details on narrow screen"
Fix funky UI for case details on narrow screen
https://casa-qa.herokuapp.com/casa_cases/101
![Screen Shot 2020-10-07 at 6 29 54 PM](https://user-images.githubusercontent.com/578159/95404927-34135e80-08cb-11eb-8b91-e4aae4e7a62e.png)

[2020-10-08 01:47] compwron opened #1004 "Do not show contact type groups without visible contact types"
**What type of user is this for? volunteer/supervisor/admin/all**
All (any user who can create a case contact) volunteer/supervisor/admin

**Description**
Do not show contact type groups without visible contact types (this includes contact type groups which only have *hidden* contact types)

**Screenshots of current behavior, if any**
![Screen Shot 2020-10-07 at 6 44 28 PM](https://user-images.git

[2020-10-08 02:01] compwron opened #1007 "Write a doc on our user types, especially adding the State Admin"
**We currently have two database tables and four user types:**
All of these are managed by Devise

table `users`
column `users.role` can have values `Volunteer`, `Supervisor`, `Casa Admin`

table `all_casa_admins`
column `all_casa_admins.role` can have value `All Casa Admin`

**In the future, we will have three database tables and five user types:**
This new table will also be managed by Devise

t

[2020-10-08 02:22] compwron opened #1008 "deactivated unactivated admin sees wrong message"
**What is the problem, and what should happen instead?**
When an admin who has never activated their account is deactivated, the message they see when they try to log in is

**Screenshots of current behavior, if any**
![Screen Shot 2020-10-07 at 7 15 23 PM](https://user-images.githubusercontent.com/578159/95407293-7b045280-08d1-11eb-8713-8045105aa5d7.png)

[2020-10-08 02:27] compwron opened #1009 "Import error"
**What is the problem, and what should happen instead?**
Imported a file. Should never see this exception- at worse should see a "something went very wrong, please check your uploaded file" unspecific error

https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1602123973274400
BugsnagAPP  7:26 PM
Event in qa from casa in imports#create (details)
Unhandled error
CSV::MalformedCSVError: Unquoted fiel

[2020-10-08 02:31] compwron opened #1011 "Import gets stuck when uploading csv"
**What is the problem, and what should happen instead?**
When uploading a bad csv, the page gets stuck and won't return w/o a refresh (see greyed-out green button)

[code]

**Screenshots of current behavior, if any**
![Screen Shot 2020-10-07 at 7 29 31 PM](https://user-images.githubusercontent.com/578159/95408109-9d976b00-08d3-11eb-934d-3e2e1e574d58.png)

[2020-10-08 02:36] #870 closed

[2020-10-08 02:36] #937 closed

[2020-10-08 02:51] compwron opened #1012 "Make invalid formatting import error formatting nicer"
**What type of user is this for? volunteer/supervisor/admin/all**
admin, supervisor

**Description**

This should not have the `[]` pr the `"` but should still be all on one line.

It should look like
`Expected Header: display_name, email`
not
`Expected Header: ["display_name", "email"].`

**Screenshots of current behavior, if any**
![Screen Shot 2020-10-07 at 7 48 02 PM](https://user-images.githu

[2020-10-08 02:56] compwron opened #1013 "Improve case contact duration selection UI on small screens"
**What type of user is this for? volunteer/supervisor/admin/all**
all (volunteer/supervisor/admin)

**Description**
Improve case contact duration selection UI on small screens

The CASA users are older and have trouble with sliders

Also the "hours" being vertical is not a look that we want right now.

Do some other UI thing- no specific idea what. Try to use something nice and bootstap-y

**Scree

[2020-10-08 02:58] compwron opened #1014 "Case contact report - starting from should be before ending at"
**What type of user is this for? volunteer/supervisor/admin/all**
casa admin

**Description**
Case contact report - starting from should be before ending at
This did download a report that contained many records. That seems odd.

**Screenshots of current behavior, if any**
![Screen Shot 2020-10-07 at 7 56 51 PM](https://user-images.githubusercontent.com/578159/95409861-76db3380-08d7-11eb-842d-c7db

[2020-10-08 03:03] compwron opened #1015 "Redirect to Admins page not Supervisors page after creating a new admin"
**What type of user is this for? volunteer/supervisor/admin/all**
admin

**Description**
Redirect to Admins page not Supervisors page after creating a new admin

**Screenshots of current behavior, if any**
![Screen Shot 2020-10-07 at 7 59 50 PM](https://user-images.githubusercontent.com/578159/95410166-0bde2c80-08d8-11eb-8b16-6b5eaf810278.png)

[2020-10-08 03:33] compwron commented on #1004
Robin will work on this

[2020-10-08 03:35] compwron opened #1016 "Users can configure their communication preferences"
Part of epic #1017, dependent on #1785

AS a **volunteer/supervisor/admin**,
I WANT to be able to customize my communication preferences,
SO THAT I receive notifications through the channels I wish to receive them.

Dev note: add a user_preferences lazy-initialize db table rows, or what works

### How it works now
There is currently no place for any user to configure communication preferences sinc

[2020-10-08 03:35] compwron opened #1017 "SMS notifications"
### Context
Currently, users of this application only receive notifications via email.

### Problem
Challenges with deliverability damper the effectiveness of email notifications for some users.

### Solution
Introduce SMS as an additional communication channel. Stakeholders believe that SMS will have a further reach than email when it comes to volunteers who historically have not engaged via emai

[2020-10-08 03:37] compwron commented on #1004
@ rtkimz is working on this

[2020-10-08 03:53] erik-trantt opened #1020 "In Case Contacts page, table cells should not contain header names"
**What is the problem, and what should happen instead?**
As a Volunteer, when visiting "Case Contact", I'm seeing table header names showing up in table cells.

I think the headers should ***not be shown*** in table cells.

**Screenshots of current behavior, if any**
![image](https://user-images.githubusercontent.com/44339322/95412784-77c2a280-0975-11eb-97d4-e05b0f3e5d88.png)

[2020-10-08 03:58] compwron commented on #1020
Oh yikes that is weird. Yes that is a bug.

[2020-10-08 04:13] #996 closed

[2020-10-08 04:26] Mozart2234 commented on #1003
I'm working on this issue

[2020-10-08 04:55] Mozart2234 commented on #1012
I'm working on this issue.

[2020-10-08 07:04] matisnape commented on #805
@compwron
Thanks for info :)
I think first I will do the work for this issue and in case of problems with those tests in the PR, we will pair. How about that?

[2020-10-08 16:06] Zrrrpy commented on #522
moved back to "Not ready to build" until some of the big new features are done.

[2020-10-09 01:13] littleforest commented on #1008
@compwron should they see a message that their account was deactivated, or just get an invalid email/password notice?

[2020-10-09 15:28] #1015 closed

[2020-10-09 17:13] #1003 closed

[2020-10-09 20:13] Zrrrpy commented on #955
The UI error when trying to create/save a casa admin with invalid email is fixed, but flagging that #952 is still not working and may be related

[2020-10-09 20:35] roxannecojocariu commented on #926
@compwron I'm wondering now if this is still necessary.  We've now added all migrations that populated data as after_party tasks which are run in CI.

[2020-10-09 21:46] compwron commented on #926
I would still very much like this. There will always be new migrations.

[2020-10-10 10:15] sarslanoglu commented on #1014
@compwron I can work on this one!

[2020-10-10 14:15] sarslanoglu commented on #1014
@compwron I can work on this one!

[2020-10-10 17:37] khiga8 commented on #929
Hi! Can I claim this issue? :-)

[2020-10-10 18:28] matisnape commented on #805
@compwron I am a bit confused about the acceptance criteria here and the fact that there are some related things described in other issues.
Below are my questions:
1) DB for `court_date` - I see that `casa_case` model has field for `court_date`. Considering that this issue mentions past dates, I understand that a new model for court dates is needed and it will be related to casa_case with has_many

[2020-10-10 21:33] acrosman commented on #1011
I'll take a pass at this one.

[2020-10-11 00:54] keithrbennett commented on #1020
![casa-wide-window-render-error](https://user-images.githubusercontent.com/28410/95667902-6080e200-0b3a-11eb-98be-0465884a9101.png)

Hi, when logging in as volunteer1@example.com with the sample data I am experiencing render errors when increasing the browser window width beyond a certain point (see image). Do you still see this after your change? (My image is from master without your change.) I c

[2020-10-11 12:25] #995 closed

[2020-10-11 12:26] jmkoni opened #1035 "use env variables in seeds and just have one seed file"
Pretty much all the info is in this conversation.

_Originally posted by @jmkoni in https://github.com/rubyforgood/casa/pull/1033#discussion_r502798909_

[2020-10-11 16:11] #1012 closed

[2020-10-11 16:23] #1020 closed

[2020-10-11 16:26] #1014 closed

[2020-10-11 16:27] #1013 closed

[2020-10-11 16:28] #928 closed

[2020-10-11 17:02] compwron commented on #894
How is this going? :)

[2020-10-11 17:03] compwron commented on #961
@maycowmeira are you still working on this?

[2020-10-11 17:04] compwron commented on #308
@TecnoSigma How is it going? :)

[2020-10-11 17:06] compwron commented on #927
Resolved by #1000

[2020-10-11 17:22] compwron commented on #994
This is done and the token is set in heroku for qa, staging, prod. Any member of the casa github org should be able to see skylight metrics at https://www.skylight.io/app/applications/tFh7xrs3Qnaf (linked from readme)
![Screen Shot 2020-10-11 at 10 20 56 AM](https://user-images.githubusercontent.com/578159/95685243-90b49900-0bab-11eb-9c6b-a323bfc3e531.png)

[2020-10-11 17:22] #994 closed

[2020-10-11 17:23] compwron commented on #815
@leilaweiss @roxannecojocariu How is this going? :)

[2020-10-11 17:24] compwron commented on #883
@exgin how is it going? You got this! :)

[2020-10-11 17:29] keithrbennett opened #1038 "Case Contacts page text is not vertically aligned correctly when the window is wide"
**What is the problem, and what should happen instead?**

On the Case Contacts page, when the window is wide, the data is not vertically aligned with the column headings. It shifts to the right. To reproduce, log in to dev seeded application as volunteer1@example.com (you can use `bin/login 1` to do this), select "Case Contacts", and increase window width continuously until you see this effect.

*

[2020-10-11 17:31] exgin commented on #883
Hey! I'm still here working on the issue, it's been a slug getting famaliar with the code base. I have a side ruby on rails application I'm using alongside ruby for good's so I can better understand it!

[2020-10-11 17:35] maycowmeira commented on #961
Hi @compwron . I had busy week at my job and could not see it anymore. I am almost sure the other test was broken as well that day, but I check it later.
I probably will work on it this week if that is ok.

[2020-10-11 17:37] compwron commented on #961
Sounds good :)

[2020-10-11 17:37] compwron commented on #883
Very cool :)

[2020-10-11 17:39] compwron opened #1039 "Generate Report is broken"
**What is the problem, and what should happen instead?**
Fix this and add a test
https://casa-qa.herokuapp.com/reports "generate report" button should generate and download a CSV report instead of an error.

https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1602437793333000

BugsnagAPP  10:36 AM
New unhandled error in qa from casa in case_contact_reports#index (details)
Unhandled error
ActionCon

[2020-10-11 17:42] compwron commented on #805
@matisnape
1. yes
2. Yes that is a good place to show past court dates for a case.

[2020-10-11 17:43] compwron opened #1040 "Publish test coverage data to codeclimate"
**Description**
Publish test coverage data to codeclimate
https://codeclimate.com/github/rubyforgood/casa/progress/coverage
https://docs.codeclimate.com/docs/configuring-test-coverage

**Screenshots of current behavior, if any**
![Screen Shot 2020-10-11 at 10 42 34 AM](https://user-images.githubusercontent.com/578159/95685735-8d6edc80-0bae-11eb-82ed-bc3200604280.png)

[2020-10-11 17:54] Zrrrpy commented on #927
#1000 lays the foundation work for this issue (gives admins the ability to create and customize `hearing_types` for their organization), but does not complete it. See acceptance criteria above @haydenrou and @compwron.

[2020-10-11 17:56] haydenrou commented on #927
As mentioned in #1000 , that was just to address #928 - I will do this in a separate PR.

[2020-10-11 17:57] Zrrrpy commented on #927
Thanks @haydenrou! Moved this back to In Progress so that PR can be linked to this issue. :)

[2020-10-11 17:58] haydenrou commented on #928
#1000 has done the A/C above for this issue, however the aforementioned seeding of hearing types need to be done in another PR. Up to you if you want to re-open this or open a new issue to address that @Zrrrpy

[2020-10-11 18:04] Zrrrpy commented on #928
This one can stay closed @haydenrou - feel free to add a new issue to link the seeding PR to.

[2020-10-11 18:08] compwron opened #1042 "Speed up test suite"
The tests take ~4 min on my laptop and ~6 min on travis. CASA is a small project and we can probably improve this. :)
https://travis-ci.com/github/rubyforgood/casa/builds
<img width="1130" alt="Screen Shot 2020-10-11 at 11 07 23 AM" src="https://user-images.githubusercontent.com/578159/95686338-00c61d80-0bb2-11eb-95fe-f83ade1885a1.png">

Some resources which might provide inspiration:

https://med

[2020-10-11 18:13] matisnape commented on #894
@compwron Pardon me, but I don't see the backend code for those filters on master. I think it's here https://github.com/rubyforgood/casa/compare/add-report-filters-894 but there's also frontend done here, so I'm a little confused. Shall I work from this branch?

[2020-10-11 18:31] jmkoni commented on #894
@jimnanney @pollygee  are y’all working on this? Or should we unassign?

[2020-10-11 18:33] Zrrrpy commented on #870
We'll need to seed QA with a new organization or two and some corresponding admin accounts for this to be tested.

[2020-10-11 18:52] Zrrrpy commented on #859
@myllenaalves are you still working on this? No worries if not, but let us know so we can open it back up, if so. :)

[2020-10-11 19:06] Zrrrpy commented on #878
@drborges login screen still looks funky at https://casa-qa.herokuapp.com/users/sign_in
can you:
- [ ] eliminate the white space underneath the footer
- [ ] add space between "Forgot your password?" and footer
- [ ] add image here
![Screen Shot 2020-10-11 at 12 03 50 PM (2)](https://user-images.githubusercontent.com/62810851/95687676-fad43a80-0bb9-11eb-90f4-349670b8a0ca.png)

[2020-10-11 19:21] Zrrrpy opened #1043 "change system message for self-deactivated admins"
**What type of user is this for? [volunteer/supervisor/admin/all or All CASA Admin]**
admin

**Where does/should this occur?**
https://casa-qa.herokuapp.com/users/sign_in

**How does it work now?**
After self deactivating their own account, admins see a yellow highlighted system message reading:
_Your account is currently inactive. Please contact your supervisor for more details._
![Screen Shot 20

[2020-10-11 19:34] Zrrrpy commented on #744
we'll need to seed QA with admins for our two other CASA orgs for this to be _fully_ tested on the frontend, but what I can test looks good.

[2020-10-11 19:38] akp2603 commented on #1043
Hi @Zrrrpy, would love to this look into this issue. Can you please assign me this issue?

[2020-10-11 19:39] Zrrrpy commented on #1043
@akp2603 done! thank you 😄

[2020-10-11 20:36] keithrbennett commented on #881
This issue's title is "Court Date/Report info "clears" once date has passed". Should it be instead "Court Date/Report info *should clear*" once date has passed"?

[2020-10-11 21:33] compwron commented on #870
I added 2 more orgs, San Jose CASA and SF CASA.

New admin accounts:

SF `casa_admin_sf@example.com`
Ssan Jose `casa_admin_sj@example.com`

<img width="1629" alt="Screen Shot 2020-10-11 at 2 32 47 PM" src="https://user-images.githubusercontent.com/578159/95690743-a7b8b280-0bce-11eb-8423-3fef542511c8.png">

[2020-10-12 00:13] compwron opened #1045 "Fix yarn test and add to .travis.yml"
**Description**
[code]

[2020-10-12 01:41] #1045 closed

[2020-10-12 04:40] #1039 closed

[2020-10-12 12:09] roxannecojocariu commented on #815
@compwron I believe this was completed in [this PR](https://github.com/rubyforgood/casa/pull/811).  We kind of kept getting more stories in this one little logo story.  Please let me know if there is something else that needs to be addressed, but I was under the impression this was closed.

[2020-10-12 12:11] roxannecojocariu commented on #815
@compwron Also, in [my other PR](https://github.com/rubyforgood/casa/pull/985), the contact_types are appropriately nested under Group, so I believe this may be completed :)

[2020-10-12 12:13] jmkoni commented on #815
@roxannecojocariu great! in the future, can you make sure to keep your PRs small and only related to one ticket? That was definitely huge scope creep since the contact types shouldn't have anything to do with the footer...

[2020-10-12 12:23] drborges commented on #878
@Zrrrpy I'll look into this later today 👍🏼

[2020-10-12 13:55] haydenrou opened #1048 "Add seeding for hearing types"
**What type of user is this for? volunteer/supervisor/admin/all**
Developer

**Description**
Add seeding for hearing types.

Per #1000 we have added an interface for hearing types per organization, however there was a conversation in #928 regarding seeding the data for this which was not added to the PR.

[2020-10-12 17:24] jimnanney commented on #894
@jmknoi Still working on it. Will get branch and PR pushed up today or tomorrow. Had previous branch that needed more tests.

But after discussion we are going to convert to use 3 radio buttons instead of 3 checkboxes, will have those up in next push.

[2020-10-13 00:42] erik-trantt commented on #922
---
### Contact tables
![image](https://user-images.githubusercontent.com/44339322/95756431-7dabe100-0cf1-11eb-8b3a-354eb2d9b92c.png)
---

@Zrrrpy I have some questions regarding the format of the template:
- For name of contacts, which field should I use?
- For `contact_type`, can there be 2 or more contacts for a type?
- For **Indicates attempted contacts**, which field represents this?

Thanks!

[2020-10-13 01:02] compwron commented on #922
@erik-trantt
Hi! I'm not @Zrrrpy but I can give it a try
1. name of contacts - this model is not in the db yet. I recommend adding a placeholder value
1. `contact_type` assume there can be 2 or more contacts for a type (but contacts don't exist in the db yet- are you thinking of `case_contact`? There will be many `case_contacts` per case with the same type because, for example, the volunteer will

[2020-10-13 01:30] big-meel commented on #1004
Is this fixed? I would love to work on this

[2020-10-13 01:46] compwron commented on #1004
@big-meel This is not fixed yet, but it is assigned to @rtkimz so you should not work on it.
https://github.com/rubyforgood/casa/issues/881 is available, you could work on that instead :) If you want to work on it, comment on it "I am working on this" :)
If you want help with getting the repo set up locally or advice etc feel free to ask here or in slack in the #casa channel in https://rubyforgood

[2020-10-13 01:47] compwron commented on #941
this is done

[2020-10-13 01:47] #941 closed

[2020-10-13 01:48] compwron commented on #388
I'm going to close this for now, I don't think it's useful

[2020-10-13 01:48] #388 closed

[2020-10-13 01:48] compwron commented on #1009
This is not replicable.

[2020-10-13 01:48] #1009 closed

[2020-10-13 01:49] big-meel commented on #1004
@compwron Ok thanks. Going to take a look at it now

[2020-10-13 01:57] big-meel commented on #881
I would like to work on this

[2020-10-13 02:09] compwron commented on #764
meh

[2020-10-13 02:15] compwron commented on #1008
@littleforest They should see a account deactivated message similar to the text in https://github.com/rubyforgood/casa/blob/master/app/views/casa_admin_mailer/deactivation.html.erb
This will be set in https://github.com/rubyforgood/casa/blob/master/config/locales/devise_invitable.en.yml

[2020-10-13 05:01] erik-trantt commented on #922
Thanks @compwron. It's taking a while to dig into the models. I'm now more clear about 1 & 3.

2. For `contact_type`, your explanation totally makes sense to me. My understanding is, the table lists the persons relating to the case with their relationship to the youth and dates they are contacted.

For example, 2 volunteers work together with the youth, so in this reports, each of them will appear

[2020-10-13 05:52] compwron opened #1050 "Remove deprecated field case_contact.contact_types"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**
Remove deprecated field case_contact.contact_types
All code is now using `case_contact.case_contact_contact_type` instead
Make sure to not break migrations or after_party tasks!

**Screenshots of current behavior, if any**

[2020-10-13 05:53] compwron opened #1051 "Add new github issue type Chore"
**Description**
Add new github issue type Chore
For things like updragong gem versions, deleting old db columns, adding missing tests etc
This is in the `.github` folder

**Screenshots of current behavior, if any**

<img width="1388" alt="Screen Shot 2020-10-12 at 10 52 46 PM" src="https://user-images.githubusercontent.com/578159/95820881-c8bbf900-0cdd-11eb-8f99-60afd0736f07.png">

[2020-10-13 05:55] compwron opened #1052 "Deploy to staging"
do itttt

- [ ] all github issues in "deployed to QA" column have been reviewed

Post here if things get... fiddly

[2020-10-13 06:03] compwron commented on #1052
casa-r4g-staging
f92b5d51

zrivkap@gmail.com
Deployed Sep 22 at 6:25 PM
 Release v350 failed • Retry
…
bundle exec rake db:migrate && bundle exec rake after_party:run exited with an error.
<img width="455" alt="Screen Shot 2020-10-12 at 11 01 57 PM" src="https://user-images.githubusercontent.com/578159/95821563-00777080-0cdf-11eb-88ea-6be5fa39fed3.png">

https://dashboard.heroku.com/apps/casa-r4g-

[2020-10-13 06:05] compwron commented on #1052
ran `bundle exec rake db:migrate` in `heroku run bash --app casa-qa` Success

[2020-10-13 06:08] compwron commented on #1052
ran `bundle exec rake after_party:run` in `heroku run bash --app casa-qa` expecting an error, got "no pending tasks to run"

ahh the new code is not there yet, maybe re-run the heroku connect?
nope

[2020-10-13 06:09] compwron commented on #1052
Aha the problem is that there are CaseContacts with nil contact type in the db
How did those get there
`CaseContact.all.map(&:contact_types).select {|ct| ct.nil?}.count # 10`

[2020-10-13 06:10] compwron commented on #1052
`CaseContact.all.select {|cc| cc.contact_types.nil?}.map(&:id)`
`[929, 931, 923, 926, 932, 933, 934, 935, 936, 937]`

[2020-10-13 06:12] compwron opened #1053 "Remove non-link "Edit" on uneditable case contacts"
<img width="1603" alt="Screen Shot 2020-10-12 at 11 11 23 PM" src="https://user-images.githubusercontent.com/578159/95822218-53055c80-0ce0-11eb-84ac-15b706e63be7.png">

[2020-10-13 06:16] compwron commented on #1052
`DISABLE_DATABASE_ENVIRONMENT_CHECK=1 rake db:seed:replant` in qa
this may not be the best idea (because we can't do it in prod and this is supposed to be practice for prod) but it's QA so why not
![Screen Shot 2020-10-12 at 11 15 15 PM](https://user-images.githubusercontent.com/578159/95822471-d45cef00-0ce0-11eb-90d1-7cd52b722fec.png)

uh so I've been in heroku QA console instead of heroku stagin

[2020-10-13 06:17] compwron commented on #1052
TODO rename staging from casa-r4g-staging to casa-staging

`heroku run bash --app casa-r4g-staging`
`heroku run rails c --app casa-r4g-staging`

[2020-10-13 06:19] compwron opened #1054 "Remove clock icon and display Last Contact Made column by default on Volunteers view for supervisor/admin"
<img width="521" alt="Screen Shot 2020-10-12 at 11 18 28 PM" src="https://user-images.githubusercontent.com/578159/95822721-4f260a00-0ce1-11eb-9262-5313dd6e15a9.png">

[2020-10-13 06:19] compwron opened #1055 "Add Location to seed data"
<img width="207" alt="Screen Shot 2020-10-12 at 11 18 40 PM" src="https://user-images.githubusercontent.com/578159/95822766-62d17080-0ce1-11eb-9df9-266e24ef404d.png">

[2020-10-13 06:24] compwron opened #1056 "fix & test populate_case_contact_contact_type"
when populate_case_contact_contact_type runs and there is a case contact with no contact type
1. alert bugsnag
1. do something smart like don't update that case contact OR ... something else smart?
1. make the Contact type selection respect casa org
1. make the contact type selection create the contact type if it doesn't already exist for the casa org

[code]

[2020-10-13 06:24] compwron commented on #1056
https://github.com/rubyforgood/casa/issues/1052

[2020-10-13 06:25] compwron commented on #1052
https://github.com/rubyforgood/casa/issues/1056

[2020-10-13 06:26] compwron commented on #1052
https://github.com/rubyforgood/casa/commit/fa55197f9138e56d2d285fd46200bef4bee2e73f
Sorry about the autoformat whoops

[2020-10-13 06:29] compwron opened #1058 "Unify and parameterize dev, qa, staging seeds"
Unify and parameterize dev, qa, staging seeds

QA and staging should be basically identical and have lots of data- good for stress testing / realistic load times

developerment should have very little data- just enough to have one or two users and all they need for local testing

@littleforest was discussing this somewhere with someone but I don't see it on the board so I'm adding this issue 😅 fee

[2020-10-13 06:36] compwron commented on #1052
argh https://travis-ci.org/github/rubyforgood/casa/builds/735272408

[2020-10-13 06:37] compwron commented on #1052
https://github.com/rubyforgood/casa/commit/e70258b69e9420fd91921aeaede916b364c26501
I promise I'm a better sre when I'm awake and getting paid

[2020-10-13 06:39] compwron opened #1059 "enable tests "volunteer adds a case contact""
fix tests disabled in https://github.com/rubyforgood/casa/issues/1052

[2020-10-13 06:51] compwron commented on #1052
https://travis-ci.com/github/rubyforgood/casa/builds/189640072
https://github.com/rubyforgood/casa/commit/6c97bd8eb225aec9d1b170f5cef9cd6ea2fd829d

dear my future self, in case it isn't blindingly obvious, don't merge unrelated PRs while debugging a deploy

[2020-10-13 07:02] compwron commented on #1052
ok, qa finally deployed, trying staging deploy again
on a related note- Once the staging deploy is done, I want to investigate the possibility of putting the prod code on staging (and running that code's version of seed, then re-doing the deploy from qa to staging- I want to feel more sure that the prod deploy will run smoothly.

[2020-10-13 07:02] compwron commented on #1052
useful command for debugging `rake after_party:status`

[2020-10-13 07:09] compwron commented on #1052
nope https://dashboard.heroku.com/apps/casa-r4g-staging/activity/releases/1fb3b162-579c-4a2a-8304-a3210e353c83

pushed a commit which comments afterparty out of Procfile because it's frustrating to debug rake tasks when the code for the task isn't on the server because the task failed

[2020-10-13 07:19] compwron commented on #1052
y'all i am not winning
![Uploading Screen Shot 2020-10-13 at 12.19.45 AM.png…]()

[2020-10-13 07:21] compwron opened #1061 "put afterparty back into procfile"
seriously

https://github.com/rubyforgood/casa/issues/1052

[2020-10-13 14:20] #1051 closed

[2020-10-13 14:27] littleforest commented on #1058
@jmkoni created #1035 , so going to close this!

[2020-10-13 14:27] #1058 closed

[2020-10-13 16:35] carterrwood commented on #1038
Hi! I'd like to look into this if someone could assign it to me :)

[2020-10-13 17:04] TecnoSigma commented on #308
Hi.

Sorry,

I working in other project.

tks! :slightly_smiling_face:

[2020-10-13 17:25] RachelWyatt commented on #1050
Hi! I can work on this one if you want to assign it to me.

[2020-10-13 18:10] Zrrrpy opened #1064 "volunteers can generate court reports for non transition aged youth"
Part of epic #880 // relates to #922

AS a **volunteer**,
I can generate a court report that auto-fills with select details,
SO that I can fill out remaining details after downloading and submit it to my supervisor.

**Court Report for _non_ transition aged youth should look like this**
[Template for Court Report for youth under 14.pdf](https://github.com/rubyforgood/casa/files/5373258/Template.fo

[2020-10-13 18:27] Zrrrpy commented on #1055
@compwron Location actually correlates to a CASA Org's `display_name`, which an admin can set.

If we seed this, we'd be seeding it as a detail associated with a `casa_org`. (And I don't know that we have plans to seed a bunch of `casa_orgs` right now? We could, but it doesn't feel urgent...yet.)

I'm moving this over to `Not ready to build` until we decide.

[2020-10-13 18:36] Zrrrpy commented on #1054
@compwron I agree that the clock icon needs more of an explanation, but would rather display that information off the bat then require the user take an additional action (even if it's just hover) to see that info (good chance many supervisors won't figure this out, especially for those viewing on mobile).

Unless you have strong feelings against doing this, I'd rather remove the clock icon and ins

[2020-10-13 19:17] keithrbennett opened #1065 "Time zone issue causes test failures when server's time zone is not UTC"
**What is the problem, and what should happen instead?**

When running the tests on my dev host (whose time zone is Eastern US) I get this:

[code]

This test passes CI because the CI's test server is set to UTC as its local time zone.

[2020-10-13 20:33] Zrrrpy opened #1067 "change My Cases table text when empty"
AS a **volunteer**,
IF I have no active case assignments,
I WANT to see the text: _No active cases_ in the "My Cases" table,
SO that I understand why it is otherwise empty.

**How it works now**
Volunteers with no active case assignments see: "No data available in table" under "My Cases".

**How it should work instead**
Volunteers with no active case assignments should see: "No active cases" under

[2020-10-13 20:36] Zrrrpy commented on #940
covered by #620 - will add additional notifications as requested. For now, it seems like PG / CASA is concerned with notification fatigue.

[2020-10-13 20:36] #940 closed

[2020-10-13 20:55] Zrrrpy commented on #922
sorry to jump in late here, @erik-trantt! Thank you for picking up this big ticket. :)

We will likely never be adding names corresponding with `case_contact_contact_type` to the platform, for privacy reasons. Even though names are included in the example court report, they will not be generated with names, but rather with `case_contact_contact_type`s, in place of names.

For 2 re: `contact_type`:

[2020-10-13 22:05] Zrrrpy opened #1068 "Add route to Emancipation Checklist from sidebar for volunteers"
dependent on #792

AS a **volunteer**,
IF I have an active `transition_aged_youth` case assignment,
I WANT to see the text "Emancipation Checklist" in the left sidebar,
SO THAT I can click on it and see Emancipation Checklists for my active `transition_aged_youth` case assignment(s).

**Acceptance Criteria**
- [x] Text: "Emancipation Checklist" displays in left sidebar for volunteer users.
- [x] "

[2020-10-13 22:18] akp2603 commented on #1043
Hi @Zrrrpy raised the PR, tested it. can you get it merged?

[2020-10-13 22:27] jmkoni commented on #1043
@akp2603 we will review the pr. Just FYI, it does not need that label to count for hacktoberfest.

[2020-10-13 22:28] jmkoni commented on #1043
Also please don’t tag people here about a PR. We all look at PRs regularly.

[2020-10-13 22:31] akp2603 commented on #1043
Apparently, they have changed some rules this time. PRs with the tag `hacktoberfest-accepted` will be the only ones that will be counted.
Secondly, this is my first open source contribution. So just a little anxious. Sorry for that. @jmkoni

[2020-10-13 22:45] Zrrrpy commented on #1043
Congrats on your first open source contribution, @akp2603! 🎊

We've added the `hacktoberfest` label to our repository to eliminate the extra step of contributors needing to add `hacktoberfest-accepted` to individual PRs (<a href="https://hacktoberfest.digitalocean.com/hacktoberfest-update">you can read more about Digital Ocean's updated rules for Hacktoberfest here</a>). 😃  We are super grateful f

[2020-10-13 23:55] Zrrrpy opened #1070 "Caterpillar automatically becomes butterfly when youth turns 14"
Part of epic #532

AS a **volunteer**,
WHEN my `casa_case` assignment turns 14,
I WANT the caterpillar next to their CINA number to turn into a butterfly,
SO THAT I have a visual reminder that they are now a `transition_aged_youth`.

### How it works now
Volunteers see a caterpillar and butterfly emoji next to their `casa_case` when they become a `transition_aged_youth`. Non transition aged youth

[2020-10-14 00:08] Zrrrpy opened #1071 "Volunteers can filter case_contact view"
AS a **volunteer**,
WHEN I am viewing `case_contacts`,
I WANT to be able to filter `case_contacts`,
SO THAT I can easily find the `case_contact` I need to reference.

 ### Volunteers should be able to filter by
- [ ] date ranges
- [ ] `contact_type_group`
- [ ] `case_contact_contact_type`
- [ ] `contact_made` (yes/no)
- [ ] `contact_medium`
- [ ] `want_driving_reimbursement` (yes/no)
- [ ] Volunte

[2020-10-14 02:37] big-meel commented on #881
Hey, Is here the best channel to ask questions or is the slack channel?

[2020-10-14 02:48] compwron commented on #881
@big-meel yep, #casa channel is us :)

[2020-10-14 02:49] big-meel commented on #881
Excellent, Thank you

[2020-10-14 02:59] #1065 closed

[2020-10-14 03:01] #1043 closed

[2020-10-14 03:03] #1053 closed

[2020-10-14 03:04] compwron opened #1072 "Add after-quarter edit tooltip"
**What type of user is this for? volunteer/supervisor/admin/all**
all

**Description**
Add this back but as a nice tooltip that is visible AND TESTED
"Disallow edit contact after end of quarter"
See details here: https://github.com/rubyforgood/casa/pull/1062#discussion_r504372127

[2020-10-14 03:07] #1038 closed

[2020-10-14 03:20] compwron commented on #1052
Ok I just tried to promote qa to staging (expecting an error) build is at https://dashboard.heroku.com/apps/casa-r4g-staging/activity/releases/1121e872-3087-4e02-9299-fa07701c647a

Since the code that after_party is using has gotten to staging (last night when I turned off afterparty in procfile and deployed), I will try to fix the data by hand and retry the deploy
[code]

[2020-10-14 03:41] compwron commented on #1052
I'm running a moderately modified version of that afterparty task. It is very n+1 xD

[code]

[2020-10-14 03:42] compwron commented on #1052
[code]

[2020-10-14 03:44] compwron commented on #1052
done running (took almost a minute!) this could easily be made more performant, if I push it I'll try to improve it first
ContactType.count 66
ContactTypeGroup.count 21
CaseContact.count 1767
CasaOrg.count 3
CasaAdmin.count 5
Supervisor.count 9
Volunteer.count 113
AllCasaAdmin.count 1

[2020-10-14 03:51] compwron commented on #1052
I ran it from heroku console. It failed again.

funky.group_by(&:to_s).map {|k, v| [k, v.count]}
`[["therapist", 411], ["dss_worker", 400], ["bio_parent", 411], ["other_support_worker", 385]]`

[2020-10-14 03:59] compwron commented on #1052
aha I see the problem. code coming soon. so many n+1, will refactor *after it works*

[2020-10-14 04:44] compwron commented on #1052
[code]

Ran the above, then afterparty again and it worked. I'll push this code. All previously created github issues are still valid- this needs a rewrite and a test- local developers need this to work locally! In addition to prod deploy and the redo staging deploy

[code]

Next step is to re-try the staging deploy heroku button (it should work)

[2020-10-14 05:22] compwron opened #1073 "Make "Manage Court Details" Active column match columns above it true vs Yes"
**What type of user is this for? volunteer/supervisor/admin/all**
admin

**Description**
Make "Manage Court Details" Active column match columns above it true vs Yes

**Screenshots of current behavior, if any**
<img width="441" alt="Screen Shot 2020-10-13 at 10 20 03 PM" src="https://user-images.githubusercontent.com/578159/95946954-785a9f00-0da2-11eb-8460-9817955f77d0.png">

[2020-10-14 05:22] compwron commented on #1073
This is a good bitesize issue for a new contributor.

[2020-10-14 05:24] compwron commented on #1052
it worked
everything worked
See also slack https://rubyforgood.slack.com/archives/CVB0QJGVD/p1602650908260600

[2020-10-14 05:24] #1052 closed

[2020-10-14 15:54] gskifstad commented on #1067
I am working on this issue! 🥳

[2020-10-14 17:09] FireLemons commented on #1067
@gskifstad I was working on it too but didn't say anything. The `No data available in table` comes from this jQuery based library https://datatables.net/. And the api calls for that are in `app/javascript/src/dashboard.js`

[2020-10-14 17:43] RachelWyatt commented on #1059
I can take a look at this one!

[2020-10-14 17:46] Zrrrpy commented on #1059
Awesome! Go for it, @RachelWyatt! 😀

[2020-10-14 18:22] FireLemons commented on #1068
May I have this assigned?

[2020-10-14 20:01] Zrrrpy opened #1079 "case_contact rows should always align with table header"
AS any user (volunteer/admin/supervisor),
WHEN I am viewing CASA Case Details,
I WANT to see rows display under their corresponding column headers,
SO THAT I have proper context for the information I am viewing.

### How it's working now
As a page stretches and becomes wider, rows of `case_contacts` begin separating from their corresponding column headers.
![Screen Shot 2020-10-14 at 12 50 00 PM (

[2020-10-14 21:16] #1050 closed

[2020-10-14 21:17] #1072 closed

[2020-10-14 21:18] #1059 closed

[2020-10-14 21:22] #1067 closed

[2020-10-15 00:01] jimnanney commented on #894
@jmkoni I've pushed up the latest, but the linters and standardrb don't pass due to things on master. Should I add fixes for the linter issues on master in this branch or make a PR with it as is?

[2020-10-15 00:07] jmkoni commented on #894
@jimnanney we don’t block based on linting, just test failures, so go for it!

[2020-10-15 00:17] jimnanney commented on #894
After rebase, tests are failing, gotta track that down. sorry for delay getting this up.

[2020-10-15 00:24] compwron commented on #1004
@rtkimz
You can replicate this problem by adding a new case contact group without any contact types in it

1. Log in as admin and click “edit organization” to get to https://casa-qa.herokuapp.com/casa_orgs/7/edit
1. click “new group” and make a group
1. open up the “new case contact” page for any case and see the new empty group (when this issue is completed, the empty group will not be visible un

[2020-10-15 00:44] compwron opened #1081 "fix missing docs"
**Description**
Add repo root level "pointer" files to doc/contributing.md etc to regain our repo reputation
https://github.com/rubyforgood/casa/community
![Screen Shot 2020-10-14 at 5 42 36 PM](https://user-images.githubusercontent.com/578159/96060238-d17b0f00-0e44-11eb-9874-1bb07b17e211.png)

[2020-10-15 01:23] compwron opened #1083 "Setup cypress key in git secrets"
https://github.com/rubyforgood/casa/settings/secrets/new

https://dashboard.cypress.io/organizations/8de49cff-86ed-4105-b272-733023fd6038/integrations/github

https://travis-ci.com/github/rubyforgood/casa/settings

See @duaimei

[2020-10-15 01:54] compwron opened #1084 "judge names seeds"
**What type of user is this for? volunteer/supervisor/admin/all**

**Description**

**Screenshots of current behavior, if any**

[2020-10-15 01:54] compwron opened #1085 "seed data "location" (side bar)"
**What type of user is this for? volunteer/supervisor/admin/all**

**Description**

**Screenshots of current behavior, if any**

[2020-10-15 01:55] compwron opened #1086 "All-CASA Admin can see casa org overview key metrics"
**What type of user is this for?**
`AllCasaAdmin` (this is different from `CasaAdmin`!)

**Description**
AS an All CASA Admin, (the type of user that adds a new CASA org to the platform)
I WANT to see high level data summaries associated with each `casa_org`,
SO THAT I have insight into platform usage by each `casa_org`.

Log in at https://casa-qa.herokuapp.com/all_casa_admins/sign_in as allcasaad

[2020-10-15 01:56] compwron commented on #1085
duplicate of https://github.com/rubyforgood/casa/issues/1055

[2020-10-15 01:56] #1085 closed

[2020-10-15 02:11] compwron opened #1087 "State CASA Admin"
Create a new type of user which administrates multiple CASAs but not all CASAs

**Current user types:**
db table `user` : `Volunteer`, `Supervisor`, `Admin`
db table `all_casa_admin`: `AllCasaAdmin`

What does "administrate" mean here? Maybe what we actually want is to create supervisor/volunteer "groups" within one casa so that "supervisor sees all volunteers within their casa" really means "with

[2020-10-15 02:12] Zrrrpy opened #1088 "Admin can upload casa_org logo"
AS an **admin**,
I WANT to be able to upload my `casa_org`'s logo,
SO THAT my `casa_org` instance is branded and familiar to staff and volunteers.

### Acceptance Criteria
On the Edit CASA Organization page,
there is a button to choose and upload an image file.
One uploaded, this image file populates in the header for this `casa_org`.

[2020-10-15 02:13] compwron opened #1089 "Combine and parameterize seed data files"
Dev seeds should have minimal data- basically one of each type
QA and Staging should have lots and lots (for realistic test data)

`seeds/dev.rb`-> `Seeder.new(1, 1, 3).run()` (example)
`seeds/qa.rb`-> `Seeder.new(100, 100, 3).run()` (example)
`seeds/staging.rb`-> `Seeder.new(100, 100, 3, random: false).run()` (example)

- [ ] combine dev, qa, staging seed files (remove code duplication)
- [ ] par

[2020-10-15 02:15] Zrrrpy opened #1090 "casa_org without custom logo displays neutral CASA logo by default"
AS any user (volunteer/supervisor/admin),
IF my `casa_org` does not have a custom logo,
THEN I should see the neutral CASA logo (the one I see on the log in/out screen) in the site header.

### Acceptance Criteria
The neutral CASA logo (below) displays by default in a `casa_org`'s header until an Admin customizes their `casa_org` instance and uploads a custom logo to the header.
![logo copy](https

[2020-10-15 02:52] compwron opened #1093 "parameterize and rotate CC_TEST_REPORTER_ID"
take CC_TEST_REPORTER_ID out of travis config and rotate the key
use github secrets instead

[2020-10-15 02:57] big-meel commented on #881
Hey i created the method for this, to "clear" the dates when they are passed so just a quick question

the bit about adding it to past_due_dates which i can see hasn't been implemented just yet, will that be an attribute that stores the dates or a model for itself as being discussed in #805 ?

[2020-10-15 03:11] compwron commented on #881
@big-meel Yes, showing `past_due_dates` does require having the model `past_court_dates` (or similar name) which will be created by https://github.com/rubyforgood/casa/issues/805 but this issue doesn't need that model to exist

[2020-10-15 03:12] compwron opened #1094 "Let fake accounts be login-able?"
For example, ... TODO

[2020-10-15 03:22] keithrbennett commented on #1089
I think I'd like to separate this out into two PR's: 1 to combine and parameterize existing seed functionality, and 1 to add to the existing functionality. The two are cleanly separable and it would be helpful for the 2nd to be dealing with a single parameterized seeds file as the baseline rather than the multiple files. Is this ok? Should they maybe even be 2 separate issues?

[2020-10-15 03:24] duaimei opened #1095 "travis node version change"
**Description**
travis gives this warning:
Warning: you are using an unstable release of Node.js (v13.7.0). If you encounter issues with Node.js, consider switching to an Active LTS release. More info: https://docs.npmjs.com/try-the-latest-stable-version-of-node
Compiling...

**Existing gem(s), file(s) needing updating, changing or deleting**
https://developer.aliyun.com/mirror/npm/package/node-ve

[2020-10-15 05:43] compwron commented on #1089
Sounds good, go for it.

[2020-10-15 13:00] RachelWyatt commented on #1090
Hi, I can work on this one!

[2020-10-15 14:45] #894 closed

[2020-10-15 15:34] akp2603 commented on #1048
Hey @Zrrrpy!! Need a little clarity on this. Can we connect on slack? (name: Aashish Passrija)

[2020-10-15 16:08] gskifstad commented on #1079
Hi! can i do this one?

Seems like this is related to a DataTables formatting gotcha with scroll-enabled tables:
https://datatables.net/manual/tech-notes/6
https://datatables.net/forums/discussion/42659/table-header-width-not-aligned-with-body-width

[2020-10-15 16:46] littleforest commented on #1035
closing in favor of #1089

[2020-10-15 16:46] #1035 closed

[2020-10-15 17:47] jimnanney opened #1098 "Fix linter errors"
**Description**
Fix the JS, erb and standardrb errors present on master

[2020-10-15 18:08] compwron opened #1100 "demo test - change Log in to Login!"
**What is the problem, and what should happen instead?**
On page https://casa-qa.herokuapp.com/ the text "Log in" should be "Login!"

**Screenshots of current behavior, if any**

[2020-10-15 18:09] compwron commented on #1100
I'm working on this

[2020-10-15 18:23] #1098 closed

[2020-10-15 18:25] Zrrrpy opened #1102 "fix sign-in screen"
AS any user (volunteer/supervisor/admin/All CASA Admin),
WHEN I visit https://casa-qa.herokuapp.com/users/sign_in,
I WANT it to look just like the logged out view <a href="https://casa-qa.herokuapp.com/"><I see here,</a>
SO THAT both views are uniform and familiar.

### Screenshot of how it works now
<img width="1361" alt="logged out view 2" src="https://user-images.githubusercontent.com/62810851/

[2020-10-15 18:33] drborges commented on #1102
@Zrrrpy I'll take on this issue over the weekend, thank you.

[2020-10-15 18:55] compwron commented on #1100
demo done, closing

[2020-10-15 18:55] #1100 closed

[2020-10-15 19:35] Zrrrpy opened #1103 "Remove route to "Generate Court Report" from sidebar for admins and supervisors"
AS a supervisor or admin,
I SHOULD NOT see "Generate Court Reports" in the left sidebar,
BECAUSE this is not a feature I need to use.

### How it works now
Supervisors and admins can both see "Generate Court Reports" in the left sidebar.
<img width="1362" alt="generate court reports" src="https://user-images.githubusercontent.com/62810851/96177810-4ac93f00-0ee3-11eb-85a1-6aa99a7b4fb1.png">

### Ho

[2020-10-15 20:52] rebecarancan commented on #1103
I can work on this

[2020-10-15 21:02] Zrrrpy opened #1104 "add bug report form to footer and sidebar for all users"
AS any user (volunteer/supervisor/admin/All CASA Admin),
WHEN I am logged in OR logged out,
I WANT access to the bug report form,
SO THAT I can record any site issues I experience.

### How it works now
The bug report form is not currently accessible from anywhere on the site for any users.

### How it should work instead
All users should be able to access the bug report form, whether they are log

[2020-10-15 21:04] Zrrrpy commented on #1103
all yours, @rebecarancan! Thank you 😄

[2020-10-15 22:08] jimnanney commented on #1042
I'm looking at the db_seed_spec  and I'm curious as to what value those tests are providing? I can speed the tests up by a few minutes by running the before blocks as before(:all) instead, but the tests don't specify much and really don't appear to show any value.

[2020-10-15 22:21] littleforest commented on #1042
@jimnanney we would like to have a test to run the seeds file to make sure it isn't broken when new developers try to get their environment being set up, and that it works correctly when we go to reseed staging. That being said, we definitely need to figure out a way to get rid of this staging seed test that creates 150+ records! Task #1089 has been created in order to combine the seeds files. May

[2020-10-15 22:21] jimnanney commented on #1042
[code]

[2020-10-15 22:23] jimnanney commented on #1042
Seeds not throwing an error seems to be something that should be caught at the build pipeline stage rather than the test suite stage.

[2020-10-15 22:59] jimnanney commented on #1042
I'm trying to combine the lib/db_seeds_spec tests and the seeds/seeds spec, maybe that will shave a bit of time off the tests.  It still feels more relevant to catch those in the build pipeline rather than the test suite. new people should always start with master branch, and if master passes ci, then it should also pass for new users.

[2020-10-15 23:17] jimnanney commented on #1042
I'll leave the db seeds stuff for that other ticket and try to speed up the rest.  The seeds tests account for 55% of the tests runtime, so that will be the biggest win.

[2020-10-15 23:21] littleforest commented on #1042
@jimnanney  the issue is that database fields get renamed, models get deleted etc., but the seed file doesn't get updated along with those changes. In this way the seed file would get flagged to get updated when the seed spec fails.

[2020-10-15 23:51] jimnanney commented on #1042
I understand the rational, I just meant that as part of the CI process have the db:seed task run, and if it fails, fail the CI. That catches it at CI time, and not test time. The tradeoff is huge wins in test runs, and not being able to catch seed problems until CI runs.

[2020-10-16 00:59] compwron commented on #1042
@jimnanney @littleforest I expect the seed test to speed up dramatically as part of @keithrbennett work on #1089 so I think it would be more valuable to focus on other tests for speed-up.

I asked that we start testing seeds after they were broken and inconvenienced new contributors who were trying to get set up.

Right now seed is not run on every new QA auto-deploy. I want to continue catching s

[2020-10-16 01:07] littleforest commented on #1042
@jimnanney ah I see what you are saying with having it as part of the CI. I like that idea. @compwron thoughts?

[2020-10-16 01:09] compwron commented on #1042
Ah I see, having it as a separate build stage
Works for me! As long as a PR which breaks it has a red build, I'm happy.

[2020-10-16 01:20] myllenaalves commented on #859
I realized that maybe I won't be able to do it and I think it's better to pass it on to someone else, thank you!

[2020-10-16 01:21] compwron commented on #859
@myllenaalves thanks for letting us know. Feel free to come back anytime and/or pick up a different issue if you want :)

[2020-10-16 01:30] jimnanney commented on #1042
Either way on the seeds as a build step, I'm working on some steps to speed up the rest of the test suite.  Looks like there are a fair bit of unnecessary DB hits in the suite. I added test-prof gem to the test group in the Gemfile to help me track them down. I've got some modest gains so far (seconds as opposed to minutes from the seeds tests) but still pretty big wins.

I'll be sending those up

[2020-10-16 01:37] NickSchimek commented on #820
Since we are already using bootstrap I think I will go with this solution here: https://bootstrap-datepicker.readthedocs.io/en/latest/

It does not utilize the HTML5 date attribute. Hence, It will provide a uniform look across all browsers.
Because of that the `type=date` will be changed to `type=text` - I'm not sure if this would impact accessibility in any way. Perhaps there is an aria label tha

[2020-10-16 01:39] jimnanney commented on #1042
Trading seed problems not being caught until after a push is a win as long as the CI pipeline fails the build. The huge win is in individual test runs, because a fast test suite means a more often run test suite.

I like the analogy that says "a test suite that allows me to go get coffee while it runs, only gets run with I need coffee."

[2020-10-16 01:42] compwron commented on #1042
😅👍

[2020-10-16 01:44] coldiron commented on #1064
Working on this.

[2020-10-16 02:17] khiga8 commented on #929
Hey! I'm imagining this implementation will be very similar to Hearing types [here](https://github.com/rubyforgood/casa/pull/1000/files).

I am thinking I'll need to introduce a `JudgeName` model that `belongs_to` `:casa_org` .
Besides a name column, do we need anything else?

I'm a little confused about the last point:
`changes admins make here are reflected in hearing_types available to supervis

[2020-10-16 02:22] FireLemons commented on #792
May I have this assigned?

[2020-10-16 02:23] FireLemons commented on #1068
I'm unassigning myself because I'd like to work on #792

[2020-10-16 02:40] compwron commented on #929
@khiga8 that matches what I am thinking. I am also a little confused about `changes admins make here are reflected in hearing_types available to supervisors`
@Zrrrpy can you elaborate? :)

[2020-10-16 03:08] seanmarcia commented on #1102
My bad I submitted a PR for this. I didn't check to see if there was an issue with someone on it before submitting a PR.

[2020-10-16 11:41] rebecarancan commented on #1088
I can work on this!

[2020-10-16 13:40] drborges commented on #1102
No worries @seanmarcia, I'm glad you were able to get to this one sooner than me, thank you.

@Zrrrpy for reference the fixes were shipped in https://github.com/rubyforgood/casa/pull/1107

[2020-10-16 14:24] #1103 closed

[2020-10-16 14:25] #820 closed

[2020-10-16 15:01] keithrbennett commented on #1089
@compwron I am reopening this issue, as the recent PR was just one of multiple PR's that will be needed for this issue.

[2020-10-16 20:21] littleforest opened #1112 "db seeds file needs to be idempotent, and dependent/destroy relationships implemented"
**What is the problem, and what should happen instead?**
Running the seeds file with no data in the database is fine, but running it a second time gives foreign key violation errors. Need to add `dependent: :destroy` to some of the associations.

[2020-10-16 20:47] Zrrrpy commented on #929
just removed that line from the acceptance criteria. Apologies for the confusion!

[2020-10-16 20:57] keithrbennett commented on #1089
@compwron Currently, in staging, transition_aged_youth is always set to false, but in qa it alternates between true and false. Should we change staging to also include instances of both true and false for transition_aged_youth?

[2020-10-17 00:55] big-meel commented on #881
@compwron Ok thanks. In that case then I will submit the PR soon.

[2020-10-17 02:32] compwron opened #1115 "Uncaught TypeError: Cannot read property 'ext' of undefined"
See discussion in slack- we have a console error that should be cleaned up. https://rubyforgood.slack.com/archives/CVB0QJGVD/p1602891352340000
[code]
(it’s also in my browser’s console)

[2020-10-17 02:54] jhsu802701 opened #1116 "Docker Scripts"
I'd like to add scripts for executing Docker commands.  This would free people from having to repeatedly type in "docker-compose run --rm web".

Examples of Docker scripts are:
- https://github.com/openfoodfoundation/openfoodnetwork/tree/master/docker
- https://github.com/codebar/planner/tree/master/bin

[2020-10-17 03:16] compwron opened #1117 "[bug] casa admin downloading reports"
bug seen on prod, which was just deployed and is using the same code as in staging and qa
https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1602904458457200
BugsnagAPP  8:14 PM
New unhandled error in production from casa in case_contact_reports#index (details)
Unhandled error
ActiveRecord::StatementInvalid: PG::InvalidTextRepresentation: ERROR:  invalid input syntax for type bigint: ""
LINE 1: .

[2020-10-17 03:32] compwron opened #1118 "remove Case Contacts view from Supervisor and Admin dashboards"
**What type of user is this for? volunteer/supervisor/admin/all OR All CASA Admin**
admins and supervisors

**Description**
The Case Contacts view can be removed for both admins and supervisors. They can already see this data by clicking on a `casa_case`, or by generating a report.

**Screenshots of current behavior, if any**
This is what the Case Contacts view looks like, except it goes on foreve

[2020-10-17 05:24] compwron opened #1119 "Create deploy checklist"
**Description**
Let's not oops again plz

Create a DEPLOY_CHECKLIST.md in `docs/` and link to it from the readme "production" section
1. For any manual deploy (currently staging or prod)
1. Announce deploy in slack #casa "I am about to deploy [staging|prod]". If you have any problems (need to rerun a deploy, need to run code in rails console) post to a slack thread about it (do not include any ide

[2020-10-17 06:35] renugasaraswathy commented on #1104
Hi @Zrrrpy, I would like to work on this issue. Could you assign it to me?

[2020-10-17 22:19] littleforest commented on #1116
Sounds good. You can add a section to the end of the [doc/DOCKER.md](https://github.com/rubyforgood/casa/blob/master/doc/DOCKER.md) file describing how these scripts are optionally available to use.

[2020-10-17 22:58] JadeDickinson commented on #1073
I'm working on this one if that's ok?

[2020-10-18 02:14] renugasaraswathy commented on #1104
@Zrrrpy @littleforest could you review the PR?

[2020-10-18 14:19] Zrrrpy commented on #929
@khiga8 active / inactive status would be great. This will allow admins to show/hide judges :)

[2020-10-18 20:26] compwron opened #1123 "create new AllCasaAdmin from rails console does not work"
Fix creation syntax in seed for AllCasaAdmin, `.create!` does work

![Screen Shot 2020-10-18 at 1 25 22 PM](https://user-images.githubusercontent.com/578159/96383265-70558300-1145-11eb-85fa-deeb88c9a767.png)
[code]

[2020-10-18 20:55] compwron opened #1125 "undefined method `pre_match' for nil"
BugsnagAPP  1:25 PM
New unhandled error in staging from casa in bin/rails:10 (details)
Unhandled error
NoMethodError: undefined method `pre_match' for nil:NilClass
Location
bin/rails:10 - <main>
https://rubyforgood.slack.com/archives/C010Z8RK8E6/p1603052731461800

[2020-10-18 21:15] #1104 closed

[2020-10-18 21:20] #1073 closed

[2020-10-18 21:24] exgin opened #1127 "Flakey Test"
Failures:
[code]
***************************************
Link to test failure: https://travis-ci.org/github/rubyforgood/casa/builds/736895331

![image](https://user-images.githubusercontent.com/59214236/96386150-c71f8480-1166-11eb-9ff4-6c537844264a.png)

[2020-10-18 21:28] #883 closed

[2020-10-18 22:30] renugasaraswathy commented on #1123
@compwron I would like to work on this issue. Could you assign it to me?

[2020-10-19 05:00] #922 closed

[2020-10-19 05:03] #1127 closed

[2020-10-19 05:04] #1123 closed

[2020-10-19 05:10] #1102 closed

[2020-10-19 05:10] compwron commented on #1083
Does this still need doing, since cypress is running in CI?

[2020-10-19 05:11] compwron commented on #1093
Will do
someday

[2020-10-19 05:11] compwron commented on #1048
@akp2603 Did you get your question answered

[2020-10-19 05:11] compwron commented on #898
This is working! :)

[2020-10-19 05:11] #898 closed

[2020-10-19 05:13] compwron commented on #1011
Honestly I don't know what import problems we have right now but I am certain there are some. If you want to take this issue as a placeholder for "write lots of tests, make import better in some way" rather than trying to replicate any particular issue, that is great 😅

[2020-10-19 05:13] compwron commented on #988
@mateusfdl How is this going? Are you still working on it? Do you need help?

[2020-10-19 05:14] compwron commented on #919
@jmkoni the code for this is in staging and prod now, I think you have permissions to finish it when you have time :)

[2020-10-19 05:15] compwron commented on #806
@jtnegrotto How is it going? Are you still working on this? Do you need help?

[2020-10-19 05:15] compwron commented on #1007
I will do this
Someday
Soon

[2020-10-19 05:16] compwron commented on #815
I am closing this because it is done as discussed above

[2020-10-19 05:16] #815 closed

[2020-10-19 09:48] erik-trantt commented on #1117
Mind if I take this one?

[2020-10-19 14:03] acrosman commented on #1011
I can try. Honestly I keep thinking "I'm going to work on that today/this evening" and then live intervenes just as I'm about to start work.

[2020-10-19 15:16] erik-trantt commented on #1117
Sample params of a report request:
[code]

Contact Type Group filter fails when selections include the prompt option `-Select Contact Type Groups-`.
The generated SQL statement has the `WHERE` clause with empty string option, which causes the error.

[code]

Solution is to replace the `JOINS` with:

[code]

The empty string is auto-handled by ActiveRecord Querying Interface, and converted to `NULL

[2020-10-19 15:31] erik-trantt commented on #1117
I also identified a bunch of other bugs relating to scopes of CaseContact used in CaseContactReport filters.

1. When 1 `case_contact` has many `contact_types` that belongs to the same `contact_type_group`, the report will have duplicate records of that `case_contact`.

Considering the purpose of this Case Contact Report is to list each case contact as a record, then the above behavior should be a

[2020-10-19 15:44] compwron commented on #1117
@erik-trantt Thanks for making these great finds 😱 😅 and such a good explanation of them! 💪💖
Any of these bugs that you don't fix in a PR for this issue, please open separate github issues for. https://github.com/rubyforgood/casa/issues/new/choose

[2020-10-19 23:16] compwron opened #1132 "Casa Admin can inactivate case from Edit Case page"
**What type of user is this for? volunteer/supervisor/admin/all**
admin

**Description**
Casa Admin can inactivate case from Edit Case page

**Open Questions**
For an inactivated case,
- should volunteers be unassigned from it --- **yes, volunteers who are active on a case that goes inactive should immediately become unassigned, or available**
- should supervisors be allowed to inactivate a case -

[2020-10-19 23:27] compwron opened #1133 "add notes column to case_contacts table in CASA Case Details"
**What type of user is this for? volunteer/supervisor/admin/all or All CASA Admin**
all

**Description**
All users should be able to view "notes" associated with a `case_contact` in the `case_contacts` table on the CASA Case Details page.

**Screenshots of current behavior, if any**
This is what it currently looks like, without the additional column.
<img width="1437" alt="Screen Shot 2020-10-24 a

[2020-10-19 23:29] compwron opened #1134 "Supervisor/admin should be able to edit case contacts from the /case_contacts page"
**What type of user is this for? volunteer/supervisor/admin/all**
supervisor/admin

**Description**
Supervisors should be able to edit case contacts from the /case_contacts page

**Screenshots of current behavior, if any**
![sb](https://user-images.githubusercontent.com/578159/96522402-2b564d00-1228-11eb-8c20-1dd54e045cd9.png)

[2020-10-19 23:49] compwron opened #1136 "Fix flaky spec in volunteer_adds_a_case_contact_spec"
Sometimes they pass, sometimes they fail. Make them be not flak (while still keeping random test execution order)!
[code]
https://travis-ci.org/github/rubyforgood/casa/builds/737176428

[2020-10-19 23:55] #1004 closed

[2020-10-19 23:57] #1112 closed

[2020-10-20 03:04] erik-trantt commented on #1117
@compwron No worry. I found the report outcome is flaky, so went ahead and manually QA them. The tests are made for the model, but not for from view to model.

I'll work on getting the Case Group Type filter right, and open issues for the other 2.

[2020-10-20 03:05] erik-trantt opened #1137 "In Case Contact Report, Want Driving Reimbersement, Contact Made, Transition Aged Youth filters are not working"
Sample params of a report request:

{
"start_date"=>"2020-05-19",
"end_date"=>"2020-10-20",
"supervisor_ids"=>["", "2"],
"creator_ids"=>["", "1"],
"contact_type_ids"=>["", "1", "2"],
"contact_type_group_ids"=>["", "1", "2", "3", "4", "5", "6"],
"want_driving_reimbursement"=>"true",
"contact_made"=>"false",
"has_transitioned"=>"",
"commit"=>"Download Report"
}

Identified a bunch of other bugs rela

[2020-10-20 03:07] compwron commented on #1117
@erik-trantt sounds good
I want to eradicate the flaky tests, as far as I am concerned each one of them is a bug :(

[2020-10-20 03:10] erik-trantt opened #1138 "In Case Contact Report, Contact Types filter do not when one or more options are selected"
Sample params of a report request:

{
"start_date"=>"2020-05-19",
"end_date"=>"2020-10-20",
"supervisor_ids"=>["", "2"],
"creator_ids"=>["", "1"],
"contact_type_ids"=>["", "1", "2"],
"contact_type_group_ids"=>["", "1", "2", "3", "4", "5", "6"],
"want_driving_reimbursement"=>"true",
"contact_made"=>"false",
"has_transitioned"=>"",
"commit"=>"Download Report"
}

Identified a bunch of other bugs rela

[2020-10-20 03:21] #1089 closed

[2020-10-20 05:36] akp2603 commented on #1048
@compwron Nope.

[2020-10-20 06:24] big-meel commented on #881
@compwron Added the PR. Let me know how it looks :)

[2020-10-20 06:30] compwron commented on #1048
@akp2603 What is your question?

[2020-10-20 06:35] #881 closed

[2020-10-20 06:37] compwron opened #1141 "Add more safeguards to casa_case.clear_court_dates"
**Description**
Update `casa_case.clear_court_dates` which was added in https://github.com/rubyforgood/casa/pull/1140 to check whether a court date is in the past before clearing it
Since this isn't called from the UI, we don't need to add a policyfile entry around this
We can see court cases which have had court dates cleared in paper trail

[2020-10-20 06:38] compwron opened #1142 "Run ruby linter"
Run ruby linter (see readme for instructions)

[2020-10-20 06:39] compwron commented on #1142
@big-meel Do you want to do this? :)

[2020-10-20 07:26] erik-trantt commented on #1117
Yeah, I agree, those tests could have been designed better.

[2020-10-20 13:54] RachelWyatt commented on #1132
I can look into this one

[2020-10-20 14:41] big-meel commented on #1141
@compwron I'll do this PR, a conditional will be fine correct?

[2020-10-20 20:11] cassianoblonski commented on #1040
@compwron check my PR and read about the repo env var so we can test and review

[2020-10-21 07:18] #1088 closed

[2020-10-21 07:24] #1040 closed

[2020-10-21 07:29] compwron commented on #1007
done, kinda https://github.com/rubyforgood/casa/wiki/types-of-users

[2020-10-21 07:29] #1007 closed

[2020-10-21 07:29] #1090 closed

[2020-10-21 07:41] akp2603 commented on #1048
From what I observed was that Hearing types, are associated with a Casa orgs. How do I handle that?
Like, is this predefined that a particular hearing type will be associated with some particular casa org by default? If that is the case we might have to seed casa orgs too.

Or, is it the case that there are a certain hearing types, and a user can itself attach any hearing type with any casa org?

[2020-10-21 13:54] compwron commented on #1048
@akp2603
Correct, a hearing type belongs to a casa org. There should never be any data leakage between casa orgs. So if hearing type A belongs to casa org 1, no one in casa org 2 should be able to see hearing type A.

Yes, it would be good to put hearing types in seed so that we can have realistic&useful data.

Seed is never run in prod. In prod, all data will be real (created by users)

[2020-10-21 16:07] Zrrrpy opened #1148 "default date range for reports 6 months for supervisors"
AS a **supervisor**,
I WANT the default date range on the generate court reports page to be the past 6 months,
SO THAT I can quickly pull reports that provide historical context I regularly need.

### How it works now
The default date range on court reports for supervisors is the past 30 days.
<img width="1368" alt="Screen Shot 2020-10-21 at 9 06 51 AM" src="https://user-images.githubusercontent.c

[2020-10-21 16:30] steph-hickman9 commented on #1148
I can take on this issue!

[2020-10-21 16:56] cassianoblonski commented on #1137
got this

[2020-10-21 16:58] cassianoblonski commented on #1138
got this

[2020-10-21 18:08] #1148 closed

[2020-10-21 18:44] steph-hickman9 opened #1151 "Mobile View Needs Adjustment"
**What is the problem, and what should happen instead?**
On mobile, the name of the website is cut off by the limited width if the screen. This text should be more dynamic and possibly adjust size if the screen is too small.

The "Forgot Password?" button is stuck to the footer, and this does not look like it is on purpose. This should be lifted to have balanced spacing with the top of the login s